/**---------- Hero Area ----------**/
body.page-template-about {
  background-color: #EEF2FE;

}

.about-hero-area {
  padding: 100px 0;
  padding-top: 0;
  padding-bottom: 30px;

  .about-hero-content {

    .about-hero-image-mobile,
    .feature-item-img-mobile {
      display: none;
    }

    .about-hero-image {
      display: block;
    }

    h3 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      $h1_color: #151826;

      span {
        color: #6E6DFF;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      $p_color: #5C637E;
      margin-right: 38%;
    }

  }

  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0;

    .about-hero-content {
      h3 {
        font-size: 3rem;
      }

      p {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0;

    .about-hero-content {
      h3 {
        font-size: 2rem;
      }

      p {
        margin-right: 0;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0;

    .about-hero-image {
      display: none;
    }

    .about-hero-content {
      text-align: center;

      h3 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      p {
        margin-right: 0;
        font-size: 14px;
      }

      .head-descrption {
        margin-bottom: 30px;
      }

      .about-hero-image-mobile,
      .feature-item-img-mobile {
        display: block;
      }

      .feature-item-img-mobile {
        margin-bottom: 20px;
      }
    }
  }

}

#journey {
  background: url("../images/journey-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 0 100px 0;

  .journey-head {
    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
      padding-right: 18%;
      text-transform: capitalize;

      span {
        color: #6E6DFF;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $p_color;
      margin-right: 4%;
      padding-top: 5%;
    }
  }

  .slider-icon {
    position: relative;
    z-index: 9999;

    i {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 50px;
      background: linear-gradient(153.63deg, #D3C7FF 3.43%, #6861FF 90.47%);
      color: #fff;
      cursor: pointer;

      &:hover {
        box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
      }
    }

    .up {
      position: absolute;
      top: -40px;
      left: 0;
      z-index: 1;
    }

    .down {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      width: 21px;
      height: 100%;
      top: 5px;
      left: 8px;
      background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 40.82%, rgba(255, 255, 255, 0) 100%);
      border-radius: 10px;
      z-index: -1;
    }
  }

  .slider-main {
    .slider-item {
      margin-bottom: 30px;
      z-index: 99999;
      position: relative;

      .slider-content {
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 11px;
        width: 600px;

        .products-img {
          width: 70px;
          margin-right: 15px;

          img {
            width: 65px;
          }
        }

        .products-content {
          padding-right: 15px;

          .text-item {
            a {
              text-decoration: none;
              font-weight: 700;
              font-size: 24px;
              line-height: 120%;
              color: $h1_color;
              text-transform: capitalize;
              margin-bottom: 1%;
            }

            h5 {
              font-weight: 700;
              font-size: 20px;
              line-height: 120%;
              color: $h1_color;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $p_color;
            margin-bottom: 0;
          }

        }
      }
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    .journey-head {

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: .9rem;
        padding-top: 1%;
      }
    }

    .about-products-item {
      .journey-items {
        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }
          }

          width: 500px;
          left: 30%;
        }
      }

      .journey-items2 {
        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }

          width: 500px;
          left: 30%;
        }
      }

      .journey-items3 {
        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }

          width: 500px;
          left: 30%;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    padding: 110px 0 50px 0;

    .journey-head {

      h2 {
        font-size: 2rem;
        padding-right: 0;
      }

      p {
        font-size: .785rem;
        padding-bottom: 20px;
        padding-top: 1%;
      }
    }

    .slider-main {
      .slider-item {
        .slider-content {
          .products-content {
            .text-item {
              a {
                font-size: 17px;
              }
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .about-products-item {
      .group-line {
        height: 344px;
      }

      .journey-items {
        .journey-text-main {
          width: 389px;

          .journey-text-item {

            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }
          }
        }
      }

      .journey-items2 {
        .journey-text-main {
          width: 389px;

          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }
        }
      }

      .journey-items3 {
        .journey-text-main {
          width: 389px;

          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }
        }
      }
    }

  }

  @media (max-width: 767px) {
    //Mobile
    padding: 30px 0 30px 0;

    .journey-head {
      text-align: center;

      h2 {
        font-size: 1.8rem;
        padding-right: 0;
      }

      p {
        font-size: .785rem;
        padding-bottom: 20px;
      }
    }

    .slider-main {
      .slider-item {
        .slider-content {
          .products-content {
            .text-item {
              a {
                font-size: 17px;
              }
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .about-products-item {
      .group-line {
        height: 313px;
      }

      .journey-items {
        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }
          }

          width: 350px;
          left: 30%;
        }
      }

      .journey-items2 {
        top: 47%;

        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }

          width: 350px;
          left: 30%;
        }
      }

      .journey-items3 {
        bottom: 0%;

        .journey-text-main {
          .journey-text-item {
            .text-item {
              a {
                font-size: 1rem;
              }

              h5 {
                font-size: .785rem;
              }
            }

            p {
              font-size: .785rem;
            }

          }

          width: 350px;
          left: 30%;
        }
      }
    }

  }


}

#global-recognition {
  padding: 70px 0;

  .global-iamages {
    display: block;
  }

  .section-head {
    margin-bottom: 80px;

    .global-iamages-mbile {
      display: none;
    }

    h4 {
      text-transform: capitalize;
      font-size: 2.8rem;
      padding-top: 10px;
      color: $h1_color;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      color: $p_color;
      max-width: 580px;
      margin: auto;
    }
  }

  @media (max-width: 767px) {
    padding: 40px 0;

    .section-head {
      text-align: center;
      margin-bottom: 40px;

      .global-iamages-mbile {
        display: block;
        margin: 20px 0;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
      }
    }

    .global-iamages {
      display: none;
    }
  }
}