/**---------- Hero Area ----------**/
body.page-template-about {
  background-color: #EEF2FE;

}

.about-hero-area {
  padding: 100px 0;
  padding-top: 0;
  padding-bottom: 30px;

  .about-hero-content {

    .about-hero-image-mobile,
    .feature-item-img-mobile {
      display: none;
    }

    .about-hero-image {
      display: block;
    }

    h3 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      $h1_color: #151826;

      span {
        color: #6E6DFF;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: $line_height_p;
      $p_color: #5C637E;
      margin-right: 38%;
    }

  }

  .our-goal {
    p {
      margin-right: 0;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0;

    .about-hero-content {
      h3 {
        font-size: 3rem;
      }

      p {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0;

    .about-hero-content {
      h3 {
        font-size: 2rem;
      }

      p {
        margin-right: 0;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0;

    .about-hero-image {
      display: none;
    }

    .about-hero-content {
      text-align: center;

      h3 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      p {
        margin-right: 0;
        font-size: 14px;
      }

      .head-descrption {
        margin-bottom: 30px;
      }

      .about-hero-image-mobile,
      .feature-item-img-mobile {
        display: block;
      }

      .feature-item-img-mobile {
        margin-bottom: 20px;
      }
    }
  }

}

#journey {
  // background: url("../images/journey-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background: #EEF2FE;
  background: linear-gradient(180deg, #FEFEFF -3.74%, #F8FAFE 52.05%, #FBFCFF 100%);
  padding: 100px 0 170px 0;

  .journey-head {
    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: $line_height_h1;
      color: $h1_color;
      // padding-right: 18%;
      text-transform: capitalize;

      span {
        color: #6E6DFF;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: $line_height_p;
      color: $p_color;
      // margin-right: 4%;
      // padding-top: 5%;
      max-width: 600px;
      margin: auto;
      padding-bottom: 60px;
    }
  }

  $white: #ffffff;
  $sky-blue: #DEE3F2;
  $blue: #0363fd;
  $rp: #08CD87;
  $igd: #08CD87;
  $ddm: #6861FF;
  $softmp: #1E62B9;
  $eacf7: #1E62B9;
  $uamt: #1fb5eb;
  $easy-video-chat-color: #0363fd;
  $cwmm-color: #06aad0;


  .journeys {
    margin-top: 100px;
    position: relative;

    .softlab-item {
      border: 1px solid #0363fd;
    }

    .radio-player-item {
      border: 1px solid #61E89D;
    }

    .integrate-item {
      border: 1px solid #61E89D;
    }

    .dracula-item {
      border: 1px solid #D3C7FF;
    }

    .eacf7-item {
      border: 1px solid rgba(0, 86, 215, 1);
    }

    .soft-player-item {
      border: 1px solid rgba(0, 86, 215, 1);
    }

    .upload-any-item {
      border: 1px solid rgba(31, 168, 206, 1);
    }

    .sl-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: linear-gradient(147deg, #78F 11.6%, #6E6DFF 89.24%);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .rp-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: linear-gradient(154deg, #61E89D 3.43%, #2DCA74 90.47%);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .ddm-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: linear-gradient(154deg, #D3C7FF 3.43%, #6861FF 90.47%);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .igd-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: linear-gradient(154deg, #61E89D 3.43%, #2DCA74 90.47%);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .eacf7-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: rgba(30, 98, 185, 1);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .softmp-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: rgba(0, 86, 215, 1);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    .uamt-year {
      padding: 5px 16px;
      border-radius: 40px;
      background: rgba(31, 168, 206, 1);
      color: #fff;
      font-weight: 700;
      font-size: 16px;
    }

    &::before {
      content: "";
      background: $sky-blue;
      width: 5px;
      height: 110%;
      position: absolute;
      left: 50%;
      top: -17%;
      transform: translate(-50%, 10%);
    }

    .journeys-container {
      .journeys-item {
        position: relative;
        width: 100%;
        margin-bottom: 0px;

        &:nth-child(even) {
          .journeys-content {
            float: right;
            padding: 1.5rem;

            &::after {
              content: "";
              position: absolute;
              width: 84px;
              height: 32px;
              top: 50%;
              left: -14%;
              transform: translate(14%, -50%);
              background: linear-gradient(90deg, #0f9d58 60%, rgba(15, 157, 88, 0) 90%);
              opacity: 0.1;
              border-radius: 16px;
            }
          }
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        .journeys-dot {
          width: 32px;
          height: 32px;
          background: $white;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 10px;

          span {
            width: 12px;
            height: 12px;
            background-color: $blue;
            border-radius: 50%;
            animation: pulse-shadow 2s infinite;
          }
        }

        .journeys-content {
          position: relative;
          width: 45%;
          padding: 1.5rem;
          border-radius: 20px;
          background: $white;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

          &::after {
            content: "";
            position: absolute;
            width: 84px;
            height: 32px;
            background: linear-gradient(270deg, #0363fd 60%, rgba(3, 99, 253, 0) 90%);
            opacity: 0.1;
            border-radius: 16px;
            top: 50%;
            right: -12%;
            transform: translate(12%, -50%);
          }

          &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            background: #fff;
            top: 50%;
            right: -3%;
            transform: translate(-3%, -50%) rotate(45deg);
            border-top: 1px solid #0363fd;
            border-right: 1px solid #0363fd;
          }

          .journeys-content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .title {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 1rem;

              a {
                color: #5C637E;
                font-size: 20px;
                font-weight: 700;
                transition: linear 0.3s;
              }

              .sl-title {
                &:hover {
                  color: #6E6DFF;
                }
              }

              .rp-title {
                &:hover {
                  color: #2DCA74;
                }
              }

              .ddm-title {
                &:hover {
                  color: #6861FF;
                }
              }

              .igd-title {
                &:hover {
                  color: #2DCA74;
                }
              }

              .eacf7-title {
                &:hover {
                  color: rgba(30, 98, 185, 1);
                }
              }

              .softmp-title {
                &:hover {
                  color: rgba(0, 86, 215, 1);
                }
              }

              .uamt-title {
                &:hover {
                  color: rgba(31, 168, 206, 1);
                }
              }

              .title-img {
                // height: 36px;

                img {
                  width: 60px;
                  height: auto;
                }
              }
            }

            .year {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .year-design {
                display: inline-block;
                border: 1px solid #000000;
                width: 50px;
                margin-right: 25px;
                position: relative;

                span {
                  position: absolute;
                  border-radius: 50px;
                  height: 8px;
                  width: 8px;
                  right: -2px;
                  top: 50%;
                  background: #00aeeb;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }

        &.igd {
          .journeys-dot {
            span {
              background: $igd;
              animation: pulse-shadow-igd 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(270deg, $igd 13%, rgba(8, 205, 136, 0) 100%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              right: -3%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-top: 1px solid #61E89D;
              border-right: 1px solid #61E89D;
            }
          }
        }

        &.ddm {
          .journeys-dot {
            span {
              background: $ddm;
              animation: pulse-shadow-ddm 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(90deg, $ddm 13%, rgba(105, 97, 255, 0) 100%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              left: -2.8%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-bottom: 1px solid #D3C7FF;
              border-left: 1px solid #D3C7FF;
              border-top: none;
              border-right: none;
            }
          }
        }

        &.rp {
          .journeys-dot {
            span {
              background: $rp;
              animation: pulse-shadow-igd 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(90deg, $rp 13%, rgba(8, 205, 136, 0) 100%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              left: -2.8%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-bottom: 1px solid #61E89D;
              border-left: 1px solid #61E89D;
              border-top: none;
              border-right: none;
            }
          }
        }

        &.softmp {
          .journeys-dot {
            span {
              background: $softmp;
              animation: pulse-shadow-eacf7 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(90deg, $softmp 60%, rgba(31, 181, 235, 0) 90%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              left: -2.8%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-bottom: 1px solid rgba(0, 86, 215, 1);
              border-left: 1px solid rgba(0, 86, 215, 1);
              border-top: none;
              border-right: none;
            }
          }
        }

        &.eacf7 {
          .journeys-dot {
            span {
              background: $eacf7;
              animation: pulse-shadow-eacf7 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(270deg, $eacf7 60%, rgba(31, 181, 235, 0) 90.02%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              right: -3%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-top: 1px solid rgba(0, 86, 215, 1);
              border-right: 1px solid rgba(0, 86, 215, 1);
            }
          }
        }

        &.uamt {
          .journeys-dot {
            span {
              background: $uamt;
              animation: pulse-shadow-uamt 2s infinite;
            }
          }

          .journeys-content {
            &::after {
              background: linear-gradient(270deg, $uamt 60%, rgba(15, 157, 88, 0) 90%) !important;
            }

            &::before {
              content: "";
              position: absolute;
              width: 32px;
              height: 32px;
              background: #fff;
              top: 50%;
              right: -3%;
              transform: translate(-3%, -50%) rotate(45deg);
              border-top: 1px solid rgba(31, 168, 206, 1);
              border-right: 1px solid rgba(31, 168, 206, 1);
            }
          }
        }
      }
    }

    .journeys-endPoint {
      position: absolute;
      height: 32px;
      width: 32px;
      left: 50%;
      bottom: -75px;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 1;
      background: white;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 10px;
      align-items: center;
      justify-content: center;

      small {
        height: 12px;
        width: 12px;
        background: #CBD0DF;
        border-radius: 50%;
        animation: pulse-shadow 2s infinite;
      }
    }

    .journeys-startPoint {
      position: absolute;
      height: 32px;
      width: 32px;
      left: 50%;
      top: -88px;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 1;
      background: white;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 10px;
      align-items: center;
      justify-content: center;

      small {
        height: 12px;
        width: 12px;
        background: #CBD0DF;
        border-radius: 50%;
        animation: pulse-shadow 2s infinite;
      }
    }
  }

  @keyframes pulse-shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(203, 208, 223, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(203, 208, 223, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(203, 208, 223, 0);
    }
  }

  @keyframes pulse-shadow-igd {
    0% {
      box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(8, 205, 136, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(8, 205, 136, 0);
    }
  }

  @keyframes pulse-shadow-ddm {
    0% {
      box-shadow: 0 0 0 0 rgba(105, 97, 255, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(105, 97, 255, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(105, 97, 255, 0);
    }
  }

  @keyframes pulse-shadow-eacf7 {
    0% {
      box-shadow: 0 0 0 0 rgba(3, 99, 253, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(3, 99, 253, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(3, 99, 253, 0);
    }
  }

  @keyframes pulse-shadow-uamt {
    0% {
      box-shadow: 0 0 0 0 rgba(6, 170, 208, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(6, 170, 208, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(6, 170, 208, 0);
    }
  }

  // @media only screen and (max-width: 1199px) {
  //   .journeys-header {
  //     width: 80%;
  //     padding: 1.5rem;
  //   }

  //   .journeys::before {
  //     height: 108%;
  //     top: -15%;
  //   }
  // }

  // @media only screen and (max-width: 991px) {
  //   .journeys-header {
  //     width: 100%;
  //     padding: 2.5rem 2rem;
  //   }

  //   .journeys::before {
  //     height: 110%;
  //     top: -17%;
  //   }

  //   .journeys .journeys-container .journeys-item:nth-child(odd) .journeys-content::after {
  //     width: 45px !important;
  //   }

  //   .journeys .journeys-container .journeys-item:nth-child(even) .journeys-content::after {
  //     width: 45px !important;
  //   }

  //   .journeys .journeys-container .journeys-item .journeys-content .journeys-content-header .year .year-design {
  //     width: 30px !important;
  //     margin-right: 10px !important;
  //   }
  // }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    .journey-head {

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: .9rem;
        padding-top: 1%;
      }
    }

    .journeys {


      .journeys-container {
        .journeys-item {
          &.igd {

            .journeys-content {

              &::before {
                right: -4%;
              }
            }
          }

          &.ddm {

            .journeys-content {

              &::before {
                left: -4%;
              }
            }
          }

          &.rp {

            .journeys-content {

              &::before {
                left: -4%;
              }
            }
          }

          &.softmp {

            .journeys-content {

              &::before {
                left: -4%;
              }
            }
          }

          &.eacf7 {

            .journeys-content {

              &::before {
                right: -4%;
              }
            }
          }

          &.uamt {

            .journeys-content {

              &::before {
                right: -4%;
              }
            }
          }

          .journeys-content {

            &::before {
              right: -4%;
            }

            // .journeys-content-header {
            //   .title {
            //     gap: 5px;

            //     .title-img {
            //       img {
            //         width: 45px;
            //       }
            //     }

            //     a {
            //       font-size: 1rem;
            //     }
            //   }
            // }
          }
        }
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    padding: 110px 0 110px 0;

    .journey-head {

      h2 {
        font-size: 2rem;
        padding-right: 0;
      }

      p {
        font-size: .785rem;
        padding-bottom: 20px;
        padding-top: 1%;
      }
    }

    .journeys {
      .journeys-startPoint {
        top: -98px;
      }

      .journeys-container {
        .journeys-item {
          &.igd {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.ddm {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.rp {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.softmp {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.eacf7 {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.uamt {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          .journeys-content {

            &::before {
              display: none;
            }

            .journeys-content-header {
              .title {
                .title-img {
                  img {
                    width: 50px;
                  }
                }

                a {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

  }

  @media (max-width: 767px) {
    //Mobile
    padding: 30px 0 30px 0;

    .journey-head {
      text-align: center;

      h2 {
        font-size: 1.8rem;
        padding-right: 0;
      }

      p {
        font-size: .785rem;
        padding-bottom: 20px;
      }
    }

    .journeys .journeys-container .journeys-item:nth-child(even) .journeys-content {
      float: none;
    }

    .journeys .journeys-container .journeys-item:nth-child(odd) .journeys-content::after {
      visibility: hidden;
    }

    .journeys .journeys-container .journeys-item:nth-child(even) .journeys-content::after {
      visibility: hidden !important;
    }

    .journeys {
      &::before {
      left: 10px;
      height: 105%;
      top: -14%;
    }
      .journeys-startPoint {
        left: 3%;
        top: -71px;
      }

      .journeys-endPoint {
        left: 10px;
        bottom: -40px;
      }

      .journeys-container {
        .journeys-item {
           margin-bottom: 30px !important;
          .journeys-dot {
            left: 9px;
          }

          &.igd {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.ddm {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.rp {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.softmp {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.eacf7 {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          &.uamt {

            .journeys-content {

              &::before {
                display: none;
              }
            }
          }

          .journeys-content {
            padding: 10px !important;
            max-width: 80%;
            width: 100%;
            margin-left: 40px;

            &::before {
              display: none;
            }

            .journeys-content-header {
              .title {
                gap: 5px;

                .title-img {
                  img {
                    width: 45px;
                  }
                }

                a {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }


  }


}

#global-recognition {
  padding: 70px 0;

  .global-iamages {
    display: block;
  }

  .section-head {
    margin-bottom: 80px;

    .global-iamages-mbile {
      display: none;
    }

    h4 {
      text-transform: capitalize;
      font-size: 2.8rem;
      padding-top: 10px;
      color: $h1_color;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      color: $p_color;
      max-width: 580px;
      margin: auto;
    }
  }

  @media (max-width: 767px) {
    padding: 40px 0;

    .section-head {
      text-align: center;
      margin-bottom: 40px;

      .global-iamages-mbile {
        display: block;
        margin: 20px 0;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
      }
    }

    .global-iamages {
      display: none;
    }
  }
}