

.affiliate-contact{
    
    padding: 50px;
    .aproved-area{
        
       // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 70px;
        .card-body{
            background: #FFFFE0 !important;
            
        }
        
    }
    
}