.blog-header {
  background: url("../images/blog/blog-bg.png") no-repeat center / cover;
  padding: 200px 0;

  .news-letter-form {

    p {
      margin-top: 0;
      font-weight: 400;
      font-size: .9rem;
      color: #5c637e;
    }

    .ff-t-container {
      position: relative;
      margin-bottom: .5rem;

      .ff-el-group {
        margin-bottom: 0;
      }

      .ff-t-column-1 {
        width: 100%;
        flex: 1;

        input {
          padding: 15px;
          border-radius: 8px !important;
          border: none;
          font-size: .875rem;
        }

      }

      .ff-t-column-2 {
        position: absolute;
        width: max-content;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
      }

      .ff-btn-submit {
        background: $button_bg_color;
        text-decoration: none;
        color: #fff;
        padding: 7px 15px;
        border-radius: 8px;
        font-size: .875rem;
        border: none;


        &:hover {
          background: linear-gradient(146.96deg, #6E6DFF 11.6%, #7788FF 89.24%);
          color: #fff;
        }

      }

    }

  }

  .section-header {
    h2 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      color: $h1_color;
    }

  }

}

/**---------- Hero Area ----------**/
#blog-page {
  padding: 60px 0;
  background-color: rgba(142, 170, 249, 0.1);

  .buttons {
    margin-bottom: 3rem;

    .btn {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $p_color;
      border-radius: 8px;
      margin: 0 10px;
      padding: 13px 24px;
      background: #fff;

      &:hover, &.active {
        background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
        border-color: #6E6DFF;
        color: #fff;
        box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
      }
    }

  }

  .blog-item {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: (20px 24px 60px rgba(0, 0, 0, 0.04));
    padding: 20px;
    margin-bottom: 30px;

    &-image {
      img {
        border-radius: 20px;
      }
    }

    &-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.5rem 0;
      color: $p_color;


      &-category {

        .post-categories {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style: none;

          a {
            font-size: .875rem;
            line-height: 150%;
            color: $p_color;
            background: rgba(142, 170, 249, 0.1);
            border-radius: 8px;
            padding: 5px 10px;
            margin-right: 10px;
            transition: all .3s ease;

            &:hover {
              background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
              color: #fff;
            }
          }
        }
      }

      &-date {
        display: flex;
        align-items: center;
        font-size: .875rem;


        i {
          margin-right: 10px;
        }
      }

    }

    &-title {
      a {
        font-size: 1.5rem;
        line-height: 150%;
        color: $h1_color;
        margin-bottom: 1rem;
        font-weight: 600;
      }
    }

    &-footer {
      .read-more {
        font-size: 14px;
        line-height: 150%;
        color: $p_color;
        font-weight: 400;
        text-decoration: none;
        margin-top: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        display: inline-block;

        i {
          margin-left: 10px;
        }

        &:hover {
          color: $color_primary;
        }
      }
    }

  }


  .posts-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .page-numbers {
      font-size: 14px;
      line-height: 150%;
      color: $p_color;
      font-weight: 400;
      text-decoration: none;
      margin: 0 10px;
      padding: 13px 24px;
      background: #fff;
      border-radius: 8px;
      transition: all .3s ease;

      &:hover {
        background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
        border-color: #6E6DFF;
        color: #fff;
        box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
      }

      &.current {
        background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
        border-color: #6E6DFF;
        color: #fff;
        box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
      }
    }
  }


  .blog-group-main {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    .blog-group-item {
      .form-control {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #F9FAFF;

        &::placeholder {
          color: $p_color;
          font-size: .9rem;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .form-control:focus {
        box-shadow: none;
      }
    }

    .most-popular {
      h3 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 120%;
        color: $h1_color;
        text-transform: capitalize;
        padding-bottom: 2%;
        padding-top: 2%;
      }
    }

    .most-popular-item {
      padding-top: 1%;
      padding-bottom: 3%;

      .most-text {
        margin-top: 2%;
        margin-left: 1%;

        h6 {
          font-weight: 600;
          font-size: 1.1rem;
          line-height: 120%;
          padding: 0 3%;
          color: $h1_color;
          margin-right: 11%;
        }
      }
    }


    .popural-tags {
      .tags-head {
        h2 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 120%;
          color: $h1_color;
          text-transform: capitalize;
          padding-bottom: 2%;
          padding-top: 10%;
        }
      }

      .tags-item {
        margin-top: 8%;
        margin-bottom: 3%;
        margin-right: 2%;
        display: inline-block;

        a {
          text-decoration: none;
          color: $p_color;
          font-size: .9rem;
          font-weight: 400;
          line-height: 120%;
          border: 1px solid #ECF1FA;
          padding: 12px 19px;
          border-radius: 10px;
          text-transform: capitalize;
        }
      }
    }
  }


}

/**---------- sidebar css Area ----------**/

.wp-block-search {
  .wp-block-search__label {
    font-weight: 700;
    font-size: .9rem;
    line-height: 150%;
    color: #5c637e;
    margin-bottom: 20px;
  }
}

.wp-block-search__inside-wrapper {
  position: relative;

  .wp-block-search__input {
    padding: 20px 0;
    padding-left: 20px;
    background: #F9FAFF;
    border: 0.881868px solid #EDF4FE;
    border-radius: 8px;
  }

  .wp-block-search__button {
    background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
    border-radius: 8.81868px;
    border: 1px solid ;
    border-color: transparent;
    color: #fff;
    padding: 14px 17px;
    position: absolute;
    right: 7px;
    top: 5.5px;
  }
}

.wp-block-group  {
  .wp-block-group__inner-container {
    h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 120%;
      color: $h1_color;
      margin-bottom: 24px;
      margin-top: 30px;
    }
    .wp-block-latest-posts {
      a {
        color: #5c637e;
        font-weight: 500;
        line-height: 120%;
        font-size: 1rem;
        padding-bottom: 2px;
        display: inline-block;
        transition: all linear .4s;
        &:hover {
          color: #000;
          transition: all linear .4s;
        }
      }
    }
  }
}

.edit-link {
  .badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
}
