body {
  --bs-body-font-size: 16px;
  --bs-body-bg: #F9FAFF;
  color: #5C637E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
}

.btn, a.btn {
  color: #424255;
  padding: .7rem 1.2rem;
  background: transparent;
  transition: all .2s ease-in-out;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid transparent;
  font-weight:500;
  font-size:13px;
  border-radius: 100px;
  transition: all linear .4s;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: transparent;
    color: #3C4FF4;
    border-color: transparent;
    transition: all linear .4s;
  }
}

.w-80 {
  width: 80%;
}