#comments {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        padding: 23px 40px;
        border-radius: 7px;
        margin-top: 60px;
    #comments-title {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 120%;
        color: $h1_color;
        padding-bottom: 20px;
    }
    .small  {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        padding-bottom: 20px;  
        width: 100%;

    }
    #commentform {
        
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-between;

        .mb-3 {
            margin-bottom: 2rem!important;
        }
        .form-floating {
            
            .form-control:not(:placeholder-shown) {
                display: flex;
                border-color: transparent;
            }
        }
        .comments {
            width: 100%;
            order: 4;
        }
        .folat-name {
            order: 2;
            width: 48%;
            height: 70px;
            background-color: #F9FAFF;
            border-radius: .25rem;
        }
        .emails {        
            order: 3;
            width: 48%;
            height: 70px;
            background-color: #F9FAFF;
            border-radius: .25rem;
        }
        .form-control:focus {
            color: #212529;
            background-color: #F9FAFF;
            border-color: transparent;
            outline: 0;
            box-shadow: none;
        }
        .form-control {
            border-color: transparent;
        }
    }
    .form-check {
        order: 5;
        width: 100%;
        .form-check-label {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        padding-bottom: 20px;
        }
    }
    .form-check-input:focus {
        border-color: #000;
        outline: 0;
        box-shadow: none;
    }
    .form-submit {
        order: 6;
        margin-bottom: 10px;
        transition: all linear .4s;
        .btn-primary {
            color: #fff;
            background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
            border-color: transparent;
            padding: 6px 10px;
            transition: all linear .4s;
            &:hover {
                background: #fff;
                color: #6E6DFF;
                border-color: #6E6DFF;
                transition: all .4s ease;
                box-shadow: 5px 16px 20px rgba(112, 114, 255, 0.2);
            }
        }
    }
        .form-floating>.form-control, .form-floating>.form-select {
            background: #F9FAFF;
            height: auto;
        }
        ol {
            list-style-type: none;
            padding-left: 0;
            .comment-respond{
                margin-top: 20px;
                background: #fff;
                padding: 20px;
                border-radius: 7px;
            }
        }
        #reply-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 600;
            a {
                border: 1px solid #7072FF;
                padding: 8px 15px;
                font-size: 1rem;
                font-weight: 600;
                color: #7072FF;
                border-radius: 0.25rem;
                transition: all linear 0.4s;
                &:hover {
                    box-shadow: 5px 16px 20px rgba(112, 114, 255, 0.2);
                    transition: all linear .4s;
                    background-color: #7072FF;
                    color: #fff;
                }
            }
        }
        .comment {
            background: #f7f8fb;
            padding:22px 20px !important;
            position: relative;
           // margin-bottom: 20px;
            overflow: hidden;
           
            
            .comment-meta {
                position: relative;
                .comment-author {
                    margin-bottom: 17px;
                    display: flex;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 100px;
                        margin-right: 30px;
                    }
                    .fn {
                        color: #000;
                        font-size: 1rem;
                        font-weight: 400;
                        text-transform: capitalize;
                        a{
                            display: block;
                            color:#5c5c5c;
                            font-weight:500;
                            font-size: 16px;
                            
                        }
                    }
                    time {
                        color: #5c5c5c;
                        font-size: .8rem;
                        font-weight: 400;
                    }
                }
                
            }
            .comment-awaiting-moderation {
                color: #212529;
                margin-top:60px;
                display:block;
                overflow:hidden;
                //display:none;
            }
            .comment-content {
                        color: #5c5c5c;
                        font-size: 1rem;
                        font-weight: 400;
                        // position: absolute;
                        // left: 120px;
                        // top: 53px;
                        //width: 450px;
                        // overflow: hidden;
                        margin-left: 100px;
                        margin-top: -58px;

            }
            .reply {
                position: absolute;
                top:8px;
                right:0;
                .btn, a.btn {
                    margin-bottom: 40px;
                    outline: none !important;
                    span{
                        font-size:16px;
                        font-weight:600;
                        transform: scale(1.5);
                    }
                    &.comment-reply-link{
                        background: transparent;
                        color:#212529;
                        border:transparent;
                        transition: all .4s ease;
                        &:hover{
                            color:#6E6DFF;
                        }
                    }
                }
                
            }
            .btn-check:focus+.btn-primary, .btn-primary:focus {
                box-shadow:none;
                background:transparent !important;
                outline: none !important;
            }
            .btn-check:focus {
                box-shadow: none;
                outline: none !important;
            }
        }
        .children{
            list-style: none;
            margin-bottom: -39px;
            .children {
                list-style: none;
                margin-bottom: -39px;
            }
        }
       
}


@media (max-width: 768px){
    #comments{
        padding:23px 10px;
        .comment{
            .comment-meta{
                .comment-author{
                    img{
                        width:50px;
                        height:50px;
                    }
                }
            }
            .comment-content{
                // left:85px;
                // top:45px;
                margin-left: 80px;
                margin-top:-41px;
            }
            padding:22px 6px !important;
            .reply {
                
                right: -16px;
            }
        }
    }
}

@media (max-width: 500px){
    #comments{
       
        .comment{
           
            .reply {
                
                right: -16px;
            }
        }
    }
}