body.page-template-contact-us {
  .title-header {
    .header-content {
      margin-bottom: 5rem;
    }
  }
}

.contact-form {
  position: relative;
  top: -120px;

  .contact-main {
    background-color: #fff;
    border-radius: 30px;
    padding: 45px;
    // box-shadow: 10px 10px 50px 10px rgba(128, 128, 128, 0.396);
    box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
  }

  .tab-item {
    background: #f9faff;
    border-radius: 10px;
    padding: 1rem 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    i {
      font-size: 25px;
      color: #6E6DFF;
      padding-top: 10%;
    }

    span {
      font-weight: 600;
      font-size: .8rem;
      line-height: 120%;
      text-transform: capitalize;
      padding-top: 15%;

    }

    &:hover, &.active {
      background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
      box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));

      i {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }
  }

  .contact-form-wrap {
    display: none;

    &.active {
      display: block;
    }


    .ff-el-input--label {
      margin-bottom: .5rem;

      label {
        font-weight: 600;
        font-size: 1rem;
        color: #5C637E;
      }
    }

    .ff-el-form-control,
    .ff_file_upload_holder {
      box-shadow: none;
      border: 0.881868px solid #EDF4FE;
      background-color: #F9FAFF;
      padding: .875rem 1.2rem;
      border-radius: 8.81868px;
      font-size: .9rem;
      font-weight: 400;
      color: $p_color;

      &:not([size]):not([multiple]) {
        height: auto;
      }

    }

    .ff_file_upload_holder {
      width: 100%;
      border: 2px dashed #C8DCFC;

      .ff_upload_btn {
        border-radius: 5px;
      }
    }

    .ff-el-section-break {
      margin-top: 1.5rem;

      h3 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 120%;
        color: $h1_color;

      }

      p {
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
      }
    }

    .ff-btn-submit {
      margin-top: 1rem;
      background: $button_bg_color;
      padding: .7rem 1.5rem;
      border-radius: .5rem;
    }

  }

}

/**---------- contact-details Area ----------**/
.contact-details {
  background: url("../images/contact/contact-details.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;


  &-title {
    margin-top: 20%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: $h1_color;
  }

  &-description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: $p_color;
  }


  .f-img1 {
    display: none;
  }

  .con-info {
    padding-top: 20px;

    .info-icon {

      i {
        color: #738CF6;
        font-size: 25px;
        background-color: #fff;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        border-radius: 50%;

      }
    }

    .fa-phone-volume {
      transform: rotate(-25deg);
      color: #FD6C87 !important;
    }

    .fa-envelope {
      color: #2DCA74 !important;
    }

    .info-content {
      padding-left: 20px;

      h5 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        color: #5C637E;
        margin-bottom: 0;
      }

      address, a {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #5C637E;
        margin-bottom: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          color: #738CF6;
        }
      }

    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .contact-details-title {
      font-size: 2rem;
    }
    .contact-details-description {
      font-size: .8rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .contact-details-title {
      font-size: 2rem;
    }
    .contact-details-description {
      font-size: .8rem;
    }
  }

  @media (max-width: 767px) {
    .contact-details-title {
      font-size: 1.6rem;
      text-align: center;
    }
    .contact-details-description {
      font-size: .8rem;
      text-align: center;
    }
  }

}