body.page-template-contact-us {
  .title-header {
    .header-content {
      margin-bottom: 5rem;
    }
  }
}

.contact-form {
  position: relative;
  top: -60px;

  .contact-main {
    background-color: #fff;
    border-radius: 30px;
    padding: 45px;
    // box-shadow: 10px 10px 50px 10px rgba(128, 128, 128, 0.396);
    box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));

    .form-tabs {
      display: flex;
    }
  }

  .tab-item {
    background: #f9faff;
    border-radius: 10px;
    padding: 1rem 12px;
    margin-bottom: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    // transition: all linear .4s;

    i {
      font-size: 25px;
      color: #6E6DFF;
      padding-top: 10%;
    }

    span {
      font-weight: 600;
      font-size: .8rem;
      line-height: 120%;
      text-transform: capitalize;
      padding-top: 15px;

    }


    &:hover,
    &.active {
      background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
      box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
      // transition: all linear .4s;
      transition: all 0.5s ease-in-out;

      i {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .contact-form-wrap {
    display: none;

    &.active {
      display: block;
    }


    .ff-el-input--label {
      margin-bottom: .5rem;

      label {
        font-weight: 600;
        font-size: 1rem;
        color: #5C637E;
      }
    }

    .ff-el-form-control,
    .ff_file_upload_holder {
      box-shadow: none;
      border: 0.881868px solid #EDF4FE;
      background-color: #F9FAFF;
      padding: .875rem 1.2rem;
      border-radius: 8.81868px;
      font-size: .9rem;
      font-weight: 400;
      color: $p_color;

      &:not([size]):not([multiple]) {
        height: auto;
      }

    }

    .ff_file_upload_holder {
      width: 100%;
      border: 2px dashed #C8DCFC;

      .ff_upload_btn {
        border-radius: 5px;
      }
    }

    .ff-el-section-break {
      margin-top: 1.5rem;

      h3 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 120%;
        color: $h1_color;

      }

      p {
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
      }
    }

    .ff-btn-submit {
      margin-top: 1rem;
      background: $button_bg_color;
      padding: .7rem 1.5rem;
      border-radius: .5rem;
    }

    // eacf7 css start
    .eacf7-label {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 1rem;
      color: #5C637E;

      .wpcf7-form-control-wrap {
        margin-top: 1rem;
        display: block;

        .wpcf7-textarea {
          cursor: auto ! important;
        }

        .wpcf7-select {
          option {
            box-shadow: none;
            border: 0.881868px solid #EDF4FE;
            background-color: #F9FAFF;
            padding: .875rem 1.2rem;
            border-radius: 8.81868px;
            font-size: .9rem;
            font-weight: 400;
            color: $p_color;
          }
        }

        input {
          box-shadow: none;
          border: 0.881868px solid #EDF4FE;
          background-color: #F9FAFF;
          padding: .875rem 1.2rem;
          border-radius: 8.81868px;
          font-size: .9rem;
          font-weight: 400;
          color: $p_color;
          cursor: auto ! important;

          &:not([size]):not([multiple]) {
            height: auto;
          }
        }
      }

      .wpcf7-form-control {
        box-shadow: none;
        border: 0.881868px solid #EDF4FE;
        background-color: #F9FAFF;
        padding: .875rem 1.2rem;
        border-radius: 8.81868px;
        font-size: .9rem;
        font-weight: 400;
        color: $p_color;
        outline: none;

        &:focus {
          border: 1px solid #1a7efb;
        }

        cursor: pointer;

        &:not([size]):not([multiple]) {
          height: auto;

        }
      }
    }

    .wpcf7-spinner {
      top: 16px;
    }

    .wpcf7-submit {
      margin-top: 1rem;
      background: linear-gradient(to right, #78f, #6e6dff);
      padding: .7rem 1.5rem;
      border-radius: .5rem;
      border: 1px solid transparent;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      position: relative;
      text-align: center;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;

      &:hover {
        background: linear-gradient(to right, #6e6dff, #78f);
      }
    }

    // eacf7 css end

  }

  .contact-sidebar {
    // background: #EDF4FE;
    background: url("../images/contact/technical-support1.png") #F9FAFF no-repeat bottom center;
    padding-bottom: 150px;
    padding-top: 60px;
    border-radius: 20px;
    background-size: contain;

    h4 {
      color: #5C637E;
      font-size: 1.8rem;
      line-height: 120%;
      font-weight: 700;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .support-btn {
      background: linear-gradient(to right, #7788FF, #6E6DFF);
      padding: 0.5rem 1rem;
      color: #fff;
      font-size: .9rem;
      font-weight: 500;
      border-radius: 11px;
      transition: all 0.5s ease-in-out;

      &:hover {
        background: #fff;
        color: #738CF6;
        box-shadow: (6px 6px 14px rgba(142, 170, 249, 0.4));
        transition: all 0.5s ease-in-out;
      }

    }
  }

  .sidebar-products-list {
    background: #F9FAFF;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;

    h4 {
      color: #5C637E;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 120%;
      padding-bottom: 30px;
      padding-top: 10px;
    }

    .contact-menu-products {

      a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.3rem;
        color: #5c637e;
        margin-top: 1rem;
        display: flex;
        align-items: center;

        &.product-integrate-google-drive:hover {
          color: $igd_color;
        }

        &.product-radio-player:hover {
          color: $radio_player_color;
        }

        &.product-wp-radio:hover {
          color: $wp_radio_color;
        }

        &.product-reader-mode:hover {
          color: #574DCC;
        }

        &.product-dracula-dark-mode:hover {
          color: #574DCC;
        }

        &.product-essential-addons-for-contact-form-7:hover {
          color: #1E62B9;
        }

        &.product-soft-accordion:hover {
          color: #1E62B9;
        }

        &.product-soft-multimedia-player:hover {
          color: #1E62B9;
        }

      }

      img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }
    }
  }

  // .col-lg-4 {
  //   padding-left: 0;
  //   padding-right: 0;

  // }

  // .content-form-tab {
  //   padding-left: 3rem;
  // }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .contact-main {
      padding: 30px;
    }

    .sidebar-products-list {
      .contact-menu-products {

        a {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
        }

        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .contact-main {
      padding: 20px;
    }

    .contact-sidebar {
      padding-bottom: 64px;

      h4 {
        padding-right: 0;
        padding-left: 0;
        font-size: 1.4rem;
      }
    }

    .sidebar-products-list {
      padding: 20px;

      h4 {
        font-size: 1.7rem;
      }

      .contact-menu-products {

        a {
          font-size: 1rem;
          display: flex;
          align-items: center;
        }

        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .form-tabs {
      display: flex;
    }

    .content-form-tab {
      padding-left: 0;
    }

    .contact-main {
      padding: 20px;
    }

    .tab-item {
      padding: 0.5rem 9px;
      flex-grow: 1;
      padding-bottom: 15px;
    }

    .contact-sidebar {
      margin-top: 30px;
      padding: 30px 0;
    }

    .sidebar-products-list {
      .contact-menu-products {
        margin-top: 30px;

        a {
          font-size: 1rem;
        }

        img {
          width: 35px;
          height: 35px;
        }
      }
    }

  }

}

/**---------- contact-details Area ----------**/
.contact-details {
  background: url("../images/contact/contact-details.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;


  &-title {
    margin-top: 20%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: $h1_color;
  }

  &-description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: $p_color;
  }


  .contact-frame-img-mobile {
    display: none;
  }

  .contact-frame-img {
    display: block;
  }

  .con-info {
    padding-top: 20px;

    .info-icon {

      i {
        color: #738CF6;
        font-size: 25px;
        background-color: #fff;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        border-radius: 50%;

      }
    }

    .fa-phone-volume {
      transform: rotate(-25deg);
      color: #FD6C87 !important;
    }

    .fa-envelope {
      color: #2DCA74 !important;
    }

    .info-content {
      padding-left: 20px;

      h5 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        color: #5C637E;
        margin-bottom: 0;
      }

      address,
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #5C637E;
        margin-bottom: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          color: #738CF6;
        }
      }

    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .contact-details-title {
      font-size: 2rem;
    }

    .contact-details-description {
      font-size: .8rem;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .contact-details-title {
      font-size: 2rem;
    }

    .contact-details-description {
      font-size: .8rem;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;

    .contact-details-title {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 0;
    }

    .contact-details-description {
      font-size: .8rem;
      text-align: center;
    }

    .contact-frame-img-mobile {
      display: block;
      padding: 30px 0;
    }

    .contact-frame-img {
      display: none;
    }
  }

}