/**---------- Header ----------**/
.site-header {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  background: transparent;
  backdrop-filter: inherit;
  z-index: 99;
  padding: 1rem 0px;

  .primary-nav {
    .navbar-nav {
      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }

      .nav-item {
        margin: 0 1rem;

        a {
          color: #5C637E;

          &:hover {
            color: $color_primary;
          }
        }

        .dropdown-menu {
          display: none;

        }

        &:hover .dropdown-menu {
          display: block;
        }

        .dropdown-item.active,
        .dropdown-item:active {
          background-color: #e9ecef !important;


        }

        .arrow {
          width: 15px;
          height: 15px;
          background-color: #fff;
          transform: rotate(45deg);
          position: absolute;
          top: -7px;
          left: 32%;
        }

        &.current-menu-item {
          a {
            color: $color_primary;
          }
        }

      }

      // WP Radio Header
      &.wp-radio-nav {

        .nav-item {

          a {
            color: #fff;

            &:hover {
              color: #333;
            }
          }

          &.current-menu-item {
            a {
              color: #333;
            }
          }
        }


        .navbar-toggler-icon {
          i {
            color: #fff;
          }
        }

        @media (max-width: 767.98px) {
          .nav-item {

            a {
              color: #5C637E;

              &:hover {
                color: #333;
              }
            }

            &.current-menu-item {
              a {
                color: #333;
              }
            }
          }
        }
      }

      // WP Radio User Frontend Header
      &.wp-radio-user-frontend-nav {
        .nav-item {

          a {

            &:hover {
              color: $wp_radio_user_frontend_color;
            }
          }

          &.current-menu-item {
            a {
              color: $wp_radio_user_frontend_color;
            }
          }
        }
      }

      &.integrate-google-drive-nav {
        .nav-item {
          a {
            &:hover {
              color: $igd_color;
            }
          }

          &.current-menu-item {
            a {
              color: $igd_color;
            }
          }

        }

      }

      &.reader-mode-nav {
        .nav-item {
          a {
            color: #fff;

            &:hover {
              color: rgba(255, 255, 255, 0.7);
            }
          }

          &.current-menu-item {
            a {
              color: rgba(255, 255, 255, 0.7);
            }
          }

        }

        @media (max-width: 767.98px) {
          .nav-item {

            a {
              color: #5C637E;

              &:hover {
                color: #333;
              }
            }

            &.current-menu-item {
              a {
                color: #333;
              }
            }
          }
        }
      }

      &.radio-player-nav {
        .nav-item {
          a {
            &:hover {
              color: $radio_player_color;
            }
          }

          &.current-menu-item {
            a {
              color: $radio_player_color;
            }
          }
        }
      }


    }

    .navbar-brand {
      padding: 0;

      &.brand-integrate-google-drive {
        margin-right: auto;

        img {
          height: auto;
          width: 180px;
        }
      }

      &.brand-softlab {
        img {
          height: 38px;
        }

        border-right: 1px solid #5c637eb0;
        padding-right: 15px;
      }

      @media (max-width: 767.98px) {
        &.brand-softlab {
          img {
            height: 30px;
          }

          margin-right: 10px;
          padding-right: 7px;
        }

        &.brand-reader-mode {
          img {
            width: 170px;
            height: auto;
          }
        }

        &.brand-radio-player {
          img {
            width: 170px;
            height: auto;
          }
        }

        &.brand-wp-radio {
          img {
            width: 170px;
            height: auto;
          }
        }
      }

    }

    .dropdown-menu {
      padding: 30px;
      width: 500px;
      left: -100px;
      border-radius: 10px;
      border: none;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 175px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }

      &>li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        white-space: pre-wrap;
        border-radius: .5rem;
        padding: .5rem;
        transition: all .3s ease;


        .product-link-content {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex: 1;
        }

        .link-image {
          width: 60px;
          height: 60px;
          margin-right: 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .link-title {
          text-decoration: none;
          font-weight: 600;
          font-size: 1rem;
          line-height: 120%;
          color: #333;
          text-transform: capitalize;
          margin-bottom: 5px;
        }

        .link-description {
          font-weight: 400;
          font-size: .875rem;
          color: #5C637E;
        }

        // &.active, &:active, {
        //   background-color: #e9ecef;
        // }

      }

      @media (max-width: 767.98px) {
        width: auto;
        padding: 0px;

        .dropdown-item {
          padding: 0;
        }
      }

    }

    .view-products-btn {
      margin-left: 2rem;
      transition: all .3s ease;
      background: $button_bg_color;
      padding: .5rem 1rem;
    }

    .buy-now-btn {

      a {
        text-decoration: none;
        background: #fff;
        padding: 15px 30px;
        transition: all .3s ease;
        border-radius: 100px;
        border: 1px solid transparent;
        white-space: nowrap;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
        }

        i {
          margin-right: 5px;
        }
      }

      &-integrate-google-drive {
        a {
          color: #fff;
          background-color: $igd_color;
          border-color: $igd_color;

          &:hover {
            color: $igd_color;
            background: #fff;
          }
        }
      }

      &-integrate-dropbox {
        a {
          color: #fff;
          background-color: #0061FF;
          border-color: #0061FF;

          &:hover {
            color: #0061FF;
            background: #fff;
          }
        }
      }

      &-radio-player {
        a {
          background: $radio_player_color;
          color: #fff;

          &:hover {
            background: #fff;
            color: $radio_player_color;
            border-color: $radio_player_color;
          }

        }
      }

      &-wp-radio {
        a {
          background: #fff;
          color: $wp_radio_color;

          &:hover {
            background: $wp_radio_color;
            color: #fff;
            border-color: $wp_radio_color;
          }

        }
      }

      &-reader-mode {
        a {
          background: $wp_radio_color;
          color: #fff;

          &:hover {
            background: #fff;
            color: $wp_radio_color;
            border-color: $wp_radio_color;
          }

        }
      }

      &-wp-radio-user-frontend {
        a {
          background: $wp_radio_user_frontend_color;
          color: #fff;

          &:hover {
            background: #fff;
            color: $wp_radio_user_frontend_color;
            border-color: $wp_radio_user_frontend_color;
          }

        }
      }


      &-wp-radio-proxy-player,
      &-wp-radio-ads-player,
      &-wp-radio-image-import {
        a {
          background: $proxy_player_color;
          color: #fff;

          &:hover {
            background: #fff;
            color: $proxy_player_color;
            border-color: $proxy_player_color;
          }

        }
      }

    }

    @media (max-width: 991px) {
      .navbar-collapse {
        background: #fff;
        margin-top: 10px;
        padding: 10px;
      }

      .buy-now-btn {
        margin: 20px 10px;

        a {
          padding: 10px;
        }
      }
    }

  }

  .navbar-dracula {
    background: linear-gradient(92.72deg, rgba(92, 66, 255, 0.4) -17.53%, rgba(83, 69, 255, 0.06) 22.48%, rgba(83, 69, 255, 0.15) 54.86%, rgba(205, 197, 255, 0.1) 83.22%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 12px;

    .show {
      background: #000;
    }

    .navbar-toggler {
      color: #fff;
    }

    .dracula-nav {
      .nav-item {
        a {
          color: #fff;
        }

        .nav-link {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

  }

  .buy-now-btn-dracula {
    a {
      background: linear-gradient(180deg, #9088F3 0%, #7367FB 100%) !important;
      border-radius: 10px !important;
      text-decoration: none;
      color: #fff;
      padding: 15px 30px;
      transition: all .3s ease;

      &:hover {
        box-shadow: drop-shadow(4px 8px 24px rgba(118, 107, 250, 0.14));
      }

      i {
        margin-right: 5px;
      }
    }
  }

}

.page-template-templateswp-radio-php {
  .navbar {
    .navbar-toggler {
      padding: 0;

      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
      }

      .navbar-toggler-icon {
        width: auto;
        height: auto;

        i {
          color: #fff;
        }
      }
    }
  }
}

.page-template-templateswp-radio-user-frontend-php,
.page-template-templateswp-radio-image-import-php,
.page-template-templateswp-radio-proxy-player-php,
.page-template-templateswp-radio-ads-player-php {
  .navbar {
    .navbar-toggler {
      padding: 0;
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
      }
      .navbar-toggler-icon {
        width: auto;
        height: auto;
      }
    }
  }
}

/**---------- sticky-banner ----------**/

@media (min-width: 992px) {

  body:has(.sticky-banner) {
    .site-header {
      padding-top: 85px;
    }
  }
}

.sticky-banner {
  background: #3D34A4;
  padding: .3rem 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.33);
  width: 100%;
  position: fixed;
  z-index: 999999;

  &.active {
    display: none;
  }

  .banner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner-title,
  .banner-offer {
    img {
      max-height: 50px;
    }
  }

  .buy-now-btn-dracula {
    a {
      background: linear-gradient(180deg, #9088F3 0%, #7367FB 100%);
      border-radius: 10px;
      text-decoration: none;
      color: #fff;
      padding: 15px 30px;
      transition: all .3s ease;

      i {
        margin-right: 5px;
      }
    }
  }

  /**---------- countdown ----------**/
  .banner-countdown {
    text-align: center;

    .timer {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 7px;
      margin: 0;
      padding: 3px 7px;

      span {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: #fff;
        border: none;
        padding: 5px;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: ":";
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
          z-index: -1;
          margin-left: 7px;
        }

        &:last-child:after {
          content: "";
          display: none;
        }
      }
    }

    .timer-labels {
      span {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 9px;
      }
    }
  }

  .banner-close {
    position: absolute;
    right: 20px;

    i {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
    }
  }

  .banner-vector {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
    width: max-content;

    &.vector-right {
      right: 0;
      left: auto;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .banner-countdown {

      .timer {
        span {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .banner-close {
      right: 10px;
    }

  }

  @media (max-width: 767px) {
    position: relative;

    .banner-product {
      img {
        width: 100px;
      }
    }

    .banner-countdown {
      display: none;
    }

    .buy-now-btn-dracula {
      margin-right: 20px;

      a {
        padding: 10px 10px;
      }
    }

    .banner-close {
      right: 10px;
    }

  }

}