/**---------- Hero Area ----------**/
.hero-area {
  // background: url("../images/home/hero-bg.png") #EEF2FE no-repeat left center;
  // background-size: contain;
  background:
    radial-gradient(at 10% 60%,
      rgba(94, 20, 232, 0.15) 0px, transparent 50%) repeat scroll 0% 0%,

    radial-gradient(at 79% 20%, rgba(29, 213, 208, 0.22) 0px,
      transparent 50%) repeat scroll 0% 0%,

    radial-gradient(at 50% 30%, rgba(255, 119, 0, 0.2) 0px,
      transparent 50%) repeat scroll 0% 0%, ;


  padding: 200px 0 100px 0;

  .hero-content {
    position: relative;

    .hedding-title {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      line-height: $line_height_h1;
      font-family: "Inter", sans-serif;

      span {
        // background: linear-gradient(147deg, #78F 11.6%, #6E6DFF 89.24%);
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: #6E6DFF;
        background: url("../images/home/solutions-border.png") no-repeat left center;
        padding: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      line-height: $line_height_h1;
    }

    .hedding-description {
      font-size: 1.1rem;
      margin-bottom: 30px;
      line-height: $line_height_p;
      font-family: "Inter", sans-serif;
    }

    .view-products-btn {
      // margin-top: 1.5rem;
      padding: 15px 30px;
      transition: all linear .4s;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      max-width: fit-content;

      svg {
        width: 20px;
        margin-left: 10px;
      }

      &:hover {
        background: #fff;
        color: $color_primary;
        border-color: $color_primary;
        transition: all linear .4s;
      }
    }

    .hero-image-mobile {
      display: none;
    }

    .vector-star {
      position: absolute;
      right: -72px;
      top: -88px;

    }

    .vector-squer {
      position: absolute;
      right: 0;

    }
  }

  .hero-image {
    display: block;
    position: relative;
  }

  .vector-round {
    position: absolute;
    right: 100px;
  }

  .hero-img-rocket img {
    position: absolute;
    top: 95px;
    left: 44%;
    width: 32%;
    transform: rotate(4deg);
    animation: 5s ease-in-out infinite alternate-reverse rocket_up_down;
  }

  @keyframes rocket_up_down {
    0% {
      transform: rotate(-8deg) translateY(16px);
    }

    100% {
      transform: rotate(-8deg) translateY(40px);
    }
  }


  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop
    padding: 180px 0 90px 0;

    .hero-content {

      .hedding-title {
        font-size: 2.8rem;
        padding-top: 30px;

        img {
          width: 206px;
        }
      }

      .hedding-description {
        font-size: .785rem;
      }
    }

    .hero-img-rocket img {
      top: 66px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet
    padding: 110px 0 60px 0;

    .hero-content {
      margin-bottom: 40px;

      .hedding-title {
        font-size: 2rem;

        img {
          width: 155px;
        }
      }

      .hedding-description {
        font-size: .9rem;
        margin-bottom: 30px;
      }
    }

    .hero-img-rocket img {
      top: 38px;
      left: 41%;
    }
  }

  @media (max-width: 767.98px) {
    padding: 100px 0 27px 0;
    background-size: cover;
    // background-position: top;

    .hero-content {
      text-align: center;

      .hedding-title {
        font-size: 1.5rem;
        line-height: 1.5;

        img {
          width: 109px;
        }

      }

      .view-products-btn {
        padding: 11px 15px;
        margin: auto;
      }


      .vector-squer {
        display: none;
      }

      .vector-star {
        display: none;
      }

      .hedding-description {
        font-size: 1rem;
        margin-bottom: 30px;
      }

      .hero-image-mobile {
        display: block;
      }
    }

    .hero-image {
      display: none;

    }

    .vector-round {
      display: none;
    }

    .mb-5 {
      margin-bottom: 1.5rem !important;
    }

    .hero-img-rocket img {
      top: 139px;
      left: 31%;
    }
  }

}

/**---------- products Area ----------**/
#products {
  padding: 75px 0;

  .products-head {
    position: relative;

    // .sub-hedding-title {

    //   line-height: $line_height_h1;
    // }

    // p {
    //   padding: 0 11%;
    // }
  }

  .products-icon {
    margin: 0px 0 20px 0;
    transition: all .3s ease-in-out;
    width: 85px;
    height: 85px;
  }

  .products-items {
    margin-bottom: 20px;
  }

  .products-item {

    // .soft-multimedia-player {
    //   padding-bottom: 28px;
    // }

    .product-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $h1_color;
      text-decoration: none;
      text-transform: capitalize;

      .e-addons-title {
        color: #4D4D4D;
        font-family: Inter;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 140.1%;
        display: block;
      }
    }

    .product-description {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0.8rem;
      margin-bottom: .5rem;
      color: $p_color;
      padding: .5rem 0rem 1rem 0rem;
      margin: 0;
    }

    &.product-wp-radio {
      .product-title {
        color: #3C4FF4;
      }

      &:hover {
        .products-butt {
          color: #3C4FF4;
        }
      }

    }

    .radio-player {
      border-radius: 16px;
      padding: 30px;
      border: 1px solid #DDD;
      background: linear-gradient(130deg, #FEFFF2 2.67%, rgba(255, 255, 255, 0.80) 40.04%, rgba(255, 255, 255, 0.90) 56.35%, #F3FFF5 97.47%);
      backdrop-filter: blur(30px);

      .product-title {
        color: #42D68C;
      }

      .button-area {

        .active-user {
          // border-top: 0.5px solid #24D189;
          // border-bottom: 0.5px solid #24D189;
          border-left: 1.5px solid #24D189;
          background: linear-gradient(90deg, #C7F3E2 0.02%, rgba(255, 255, 255, 0.00) 102.23%);
        }

        .products-butt {
          border: 1px solid #42D68C;
        }
      }

      &:hover {
        .products-butt {
          background-color: #42D68C;
          color: #fff;
        }
      }

    }

    .integrate-google-drive {
      border-radius: 16px;
      border: 1px solid #DDD;
      background: linear-gradient(129deg, #F0FEF1 2.62%, #FFF 42.68%, #FEFFFE 61.19%, #FFEFF6 100%);
      backdrop-filter: blur(30px);
      padding: 30px;

      .product-title {
        color: #39D17D;
      }

      .button-area {

        .active-user {
          border-radius: 7px 0 0 7px;
          // border-top: 0.5px solid #39D17D;
          // border-bottom: 0.5px solid #39D17D;
          border-left: 1.5px solid #39D17D;
          background: linear-gradient(90deg, #C7F3E2 0.02%, rgba(255, 255, 255, 0.00) 102.23%);
        }

        .products-butt {
          border: 1px solid #39D17D;
        }
      }

      &:hover {
        .products-butt {
          background-color: #39D17D;
          color: #fff;
        }
      }

    }

    &.product-reader-mode {
      .product-title {
        color: #675ED5;
      }

      &:hover {
        .products-butt {
          color: #675ED5;
        }
      }

    }

    .dracula-dark-mode {
      border-radius: 16px;
      border: 1px solid #DDD;
      background: linear-gradient(132deg, #EFEEFF 2.04%, #FFF 55.14%, #F7EDFE 97.83%);
      backdrop-filter: blur(30px);
      padding: 30px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product-title {
        color: #675ED5;
      }

      .button-area {

        .active-user {
          border-radius: 7px 0 0 7px;
          // border-top: 0.5px solid #6E6DFF;
          // border-bottom: 0.5px solid #6E6DFF;
          border-left: 1.5px solid #6E6DFF;
          background: linear-gradient(90deg, #CBCAFF 0.02%, rgba(255, 255, 255, 0.00) 102.23%);
        }

        .products-butt {
          border: 1px solid #6E6DFF;
        }
      }

      &:hover {

        .products-butt {
          background-color: rgba(104, 94, 213, 0.64);
          color: #fff;
        }
      }

    }

    .essential-addons-for-contact-form-7 {
      border-radius: 16px;
      border: 1px solid #DDD;
      background: linear-gradient(130deg, #E2EEFF 1.69%, #FFF 49.29%, #EFFCFE 97.82%);
      backdrop-filter: blur(30px);
      padding: 30px;

      .product-title {
        color: #1E62B9;
      }

      .button-area {

        .active-user {
          // border-top: 0.5px solid #1E62B9;
          // border-bottom: 0.5px solid #1E62B9;
          border-left: 1.5px solid #1E62B9;
          background: linear-gradient(90deg, #C0DCFF 0.02%, rgba(255, 255, 255, 0.00) 102.23%);
        }

        .products-butt {
          border: 1px solid #1E62B9;
        }
      }

      &:hover {

        .products-butt {
          background-color: #1E62B9;
          color: #fff;
        }
      }

    }

    &.product-soft-accordion {

      .product-title {
        color: #1E62B9;
      }

      &:hover {

        .products-butt {
          color: #1E62B9;
        }
      }

    }

    .soft-multimedia-player {
      border-radius: 16px;
      border: 1px solid #DDD;
      background: linear-gradient(131deg, #FFF3F2 1.48%, #FFF 53.66%, #F6F9FD 98.45%);
      backdrop-filter: blur(30px);
      padding: 30px;

      .product-title {
        color: #1E62B9;
      }

      .button-area {

        .active-user {
          border-radius: 7px 0 0 7px;
          // border-top: 0.5px solid #0056D7;
          // border-bottom: 0.5px solid #0056D7;
          border-left: 1.5px solid #0056D7;
          background: linear-gradient(90deg, #C5DCFF 0.02%, rgba(255, 255, 255, 0.00) 102.23%);
          padding: 10px 16px;
          color: #5c637e;
        }

        .products-butt {
          border: 1px solid #1E62B9;
        }
      }

      &:hover {

        .products-butt {
          background-color: #1E62B9;
          color: #fff;
        }
      }


    }

    &:hover {
      // box-shadow: 20px 24px 60px rgba(0, 0, 0, 0.06);

      // .products-icon {
      //   transform: translateY(-8px);
      // }
    }
  }

  .products-vector {
    position: absolute;
    top: -20%;
    right: 0;
  }

  .products-vector2 {
    position: absolute;
    top: 0;
    left: -70%;
  }

  .button-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active-user {
      border-radius: 7px 0 0 7px;
      padding: 10px 16px;
      color: #5c637e;
      display: flex;
      align-items: center;
      gap: 10px;

      // .count {
      //   position: relative; 
      //   &::after {
      //     content: "k+";
      //     position: absolute;
      //     top: 0;
      //     right: 0; 
      //   }
      // }
    }

    .products-butt {
      // padding-bottom: 2rem;
      color: #555;
      transition: all .3s ease-in-out;
      margin-top: auto;
      padding: 10px 20px;
      border-radius: 50px;

      span {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .8rem;
      }
    }
  }



  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .products-head {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .885rem;

      }
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: -50%;
    }

    .products-item {
      .product-title {
        font-size: 1rem;
      }

      .product-description {
        padding: 0 0 0 0;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .products-head {
      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: .885rem;

      }
    }

    .products-icon {
      width: 75px;
      height: 75px;
    }

    .products-item {
      margin-bottom: 40px;

      .product-description {
        font-size: .99rem;
      }

      .products-butt {
        padding: 8px;
      }

      .active-user {
        padding: 10px 8px;
      }
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0 30px 0;

    .products-head {
      // h1 {
      //   font-size: 1.5rem;
      //   // padding-top: 2rem;
      // }

      // p {
      //   font-size: .785rem;
      // }
    }

    .products-item {
      margin-bottom: 20px;

      .products-icon {
        margin: 0px 0 0px 0;
        width: 60px;
        height: 60px;
      }

      .product-title {
        font-size: 1.4rem;
        margin-top: 15px;
      }

      .product-description {
        margin-top: 0;
        margin-bottom: 0;
        padding: .5rem 0rem 1rem 0rem;
      }

      .products-butt {
        padding: 8px;
      }

    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

}

/**---------- business Area ----------**/
#business {
  position: relative;
  // background: url("../images/home/business/business-shape.png");
  // background-repeat: no-repeat;
  // background-position: 0 0;
  padding: 80px 0;
  // background-size: contain;

  .business-head {
    position: relative;

    .sub-hedding-description {
      padding: 0;
      margin-bottom: 2rem;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    max-width: fit-content;

    svg {
      width: 20px;
      margin-left: 10px;
    }
  }


  .vector-business {
    position: absolute;
    top: -40%;
    left: 0;
  }

  .business-img {
    position: relative;
    display: block;
  }

  .business-img-mobile {
    position: relative;
    display: none;
  }

  .business-shape {
    position: absolute;
    bottom: -40%;
    left: -19%;
    z-index: -1;
  }

  .business-head {
    position: relative;
  }

  .business-vector {
    position: absolute;
    right: 0;
    top: 15%;
  }

  @media (min-width: 1200px) {

    //Extra large
    .business-img {
      img {
        width: 85%;
      }
    }

    .business-head {
      h2 {

        font-size: 2.6rem;
      }

      p {
        font-size: 1rem;

      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    .business-img {
      img {
        width: 75%;
      }
    }

    .business-head {
      h2 {
        padding-top: 20px;
        font-size: 2rem;
      }

      p {
        font-size: .885rem;
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    justify-content: center !important;

    .business-img {
      text-align: center;

      img {
        width: 75%;
      }
    }

    .business-head {

      h2 {
        padding-top: 20px;
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
        padding: 0;
      }
    }

    .business-top {
      display: none;
    }

    .business-bottom {
      display: block;
    }
  }

  @media (max-width: 767.98px) {
    padding-top: 0px;
    padding-bottom: 40px;

    .business-img {
      display: none;

      img {
        width: 70%;
      }
    }

    .btn {
      margin: auto;
    }

    .business-img-mobile {
      display: block;

      img {
        width: 70%;
        padding-bottom: 20px;
      }
    }

    .business-head {
      text-align: center;

      // h2 {
      //   padding-top: 0px;
      //   font-size: 1.5rem;
      // }

      // p {
      //   font-size: .785rem;
      //   padding-bottom: 0;
      //   padding-right: 0;
      // }
    }

  }

}

/**---------- feature Area ----------**/
#feature {
  background: linear-gradient(147deg, rgba(119, 136, 255, 0.06) 11.6%, rgba(110, 109, 255, 0.06) 89.24%);
  padding: 80px 0;
  position: relative;

  .feature-head {
    // margin-bottom: 3rem;

    .feature-title {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: $line_height_h1;
    }

    .feature-description {
      font-weight: 400;
      font-size: 1rem;
      line-height: $line_height_p;
      color: $p_color;
    }
  }

  .feature-item {
    border-radius: 1.1rem;
    padding: 1.7rem;
    margin-bottom: 1.4rem;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    height: 300px;

    .feat-icon {
      transition: all 0.3s ease-in-out;
      // img {
      //   width: 80px;
      // }
    }

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      .feat-icon {
        transform: translateY(-8px);
      }
    }

    .feat-content {
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: $line_height_h1;
        color: $h1_color;
        padding-top: 10%;
        margin-bottom: 15px;
      }

      p {
        color: $p_color;
        font-weight: 400;
        font-size: 1rem;
        line-height: $line_height_p;
        padding: 0 1rem;
      }
    }
  }

  // .feature-easy-to-customize {
  //   background: url("../images/home/features/easy-customize.png,"), linear-gradient(153.63deg, #BCDDFF 3.43%, #738CF6 90.47%);
  //   background-repeat: no-repeat;
  //   background-position: 0 0;
  //   background-size: cover;
  // }

  .feature-head {
    position: relative;
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }

    .feature-item {
      .feat-content {
        h3 {
          font-size: 1.3rem;
        }

        p {
          padding: 1% 6%;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }


  }

  @media (max-width: 767.98px) {
    padding: 40px 0;

    //Mobile
    .feature-head {
      margin-top: 0px;

      .feature-title {

        font-size: 1.5rem;
        padding: 0;
      }

      .feature-description {
        font-size: .9rem;
        padding: 0;
      }
    }

    .feature-item {
      height: auto;
      padding: 1rem;

      .feat-icon {
        img {
          width: 60px;
        }
      }

      .feat-content {
        h3 {
          font-size: 1.4rem;
        }
      }
    }


  }

}

/**------- Testimonial -------**/
.testimonial {
  padding: 80px 0 0 0;
  position: relative;

  &::after {
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 20.19%, #FFF 100%);
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.no-after {
    &::after {
      content: none !important;
    }
  }

  .section-head {
    margin-bottom: 3rem;

    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: $line_height_h1;
      color: $h1_color;
      text-transform: capitalize;
    }
  }

  .slider-item {
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #DDD;
    opacity: 0.9;
    background: #FFF;
    position: relative;
    margin-bottom: 20px;

    .testimonial-rating {
      i {
        color: #FDD264;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }

    .testimonial-content {
      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        color: $h1_color;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: $p_color;
        padding: 0rem 0 0 0;
        margin: 0;
      }
    }

    .testimonial-user-main {
      .rounded-circles {
        width: 34px;
        height: 34px;
      }
    }

    .testimonial-user {
      margin-bottom: 15px;

      img {
        // margin-right: 7px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #eee;

      }

      .testimonial-user-text {
        .testimonial-name {
          text-transform: capitalize;
          color: $h1_color;
          font-weight: 600;
          font-size: 1.2rem;
          display: flex;
          justify-content: left;
        }

        .testimonial-designation {
          color: $p_color;
          font-weight: 400;
          font-size: .98rem;
          display: block;
        }
      }


      p {
        color: $p_color;
        font-weight: 500;
        font-size: .9rem;
        line-height: $line_height_h1;
      }
    }
    .testimonial-rating {
      margin-bottom: 15px;
    }

  }

  .slider-item-hidden {
    display: none;
  }

  .show-all-review-button {
    text-align: center;
    margin-top: 8px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;

    button {
      border-radius: 80px;
      background: var(--Button, linear-gradient(147deg, #78F 11.6%, #6E6DFF 89.24%));

      color: #fff;
      border: none;
      padding: 10px 20px;
      font-weight: 500;
      transition: all 0.4s ease-in-out;

      i {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        background: #fff;
        color: #6E6DFF;
        margin-left: 10px;
      }

      &:hover {
        box-shadow: 5px 16px 20px 0 rgba(111, 113, 255, 0.20);
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 40px 0;
    min-height: 600px;

    .section-head {
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        margin-bottom: 0;
      }
    }

    .slider-item {
      padding: 25px;

      .testimonial-content {
        p {
          font-size: .9rem;
          padding: 0rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          line-clamp: 7;
          -webkit-box-orient: vertical;
        }
      }
    }

    .testimonial-support-item {
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }

  }
}

/**------- Fun-fact-------**/
#amazing {
  background-color: rgba(249, 250, 255, 0.44);
  padding: 70px 0;

  .amazing-head {

    .sub-hedding-title {
      padding-bottom: 2rem;
      font-family: "Inter", sans-serif;
    }

  }

  .amazing-item {
    background-color: #fff;
    border-radius: 20px;

    .amazing-item-content {

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: $line_height_h1;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: $line_height_h1;
          color: #000;
          margin-bottom: 0;
        }
      }

      .fact-item-desc {
        font-weight: 400;
        font-size: .875rem;
        line-height: $line_height_p;
        text-transform: capitalize;
      }
    }

    .amazing-item-logo {
      img {
        margin-left: 10px;
      }
    }
  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .amazing-head {
      h2 {
        font-size: 2rem;
      }
    }

    .amazing-item {
      .amazing-item-logo {
        img {
          margin-left: 0;
        }
      }

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;
          padding-right: 3px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .amazing-head {
      h2 {
        font-size: 1.9rem;
      }
    }

    .amazing-item {
      margin-bottom: 20px;

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;

        }
      }
    }


  }

  @media(max-width: 767.98px) {
    padding: 40px 0;

    .amazing-head {
      .sub-hedding-title {
        padding-bottom: 1.5rem;
      }
    }

    .amazing-item {
      margin-bottom: 15px;
      padding: .5rem .5rem 1rem .5rem;

      .amazing-item-content {
        .te-count {
          span {
            font-size: 1.5rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }


        .fact-item-desc {
          font-size: .785rem;
          text-align: center;
        }
      }

      .amazing-item-logo {
        img {
          margin-left: 0px;
          width: 65px;
          height: 65px;
        }
      }
    }
  }

}

/**-------solution Area -----**/
#solution {
  background: url("../images/home/cta-new-bg-shape.png"), linear-gradient(144deg, #E8E5FF 11.16%, #E4EDFF 94.07%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;

  .solution-content {
    .sub-hedding-title {
      color: $h1_color;
      text-transform: capitalize;
    }

    .sub-hedding-description {
      color: #5C637E;
      // margin-bottom: 50px;
      max-width: 700px;
      margin: auto;
      padding-bottom: 50px;
    }
  }

  .solution-butt {
    a {
      background: #6E6DFF;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.1rem;
      padding: 15px 30px;
      color: #fff;
      font-weight: 400;
      transition: all linear .4s;
      border-radius: 100px;

      i {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        background: #fff;
        color: #6E6DFF;
        margin-left: 10px;
        transform: rotate(-36deg);
        transition: all linear .4s ease-in-out;
      }

      &:hover {
        box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
        background: #fff;
        color: #6E6DFF;
        transition: all linear .4s;

        i {
          background: #6E6DFF;
          color: #fff;
        }
      }
    }


  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 1.8rem 0;

    //Mobile
    .solution-content {
      // h3 {
      //   font-size: 1.5rem;
      // }

      .sub-hedding-description {
        margin-bottom: 15px !important;
        padding-bottom: 0;
      }

      .solution-butt {
        a {
          font-size: .9rem;
          padding: 6px 20px;
        }
      }
    }

  }

}

/**-------our-blog Area -----**/
#our-blog {
  padding: 70px 0;

  .our-blog-main {
    background-color: #fff;
    border-radius: 16px;
    // height: 400px;
    min-height: 100%;
    border: 1px solid #DDD;

    .our-blog-item {
      .our-blog-img {
        a {
          img {
            border-radius: 16px 16px 0px 0px;
          }
        }
      }
    }

    .bolg-item {
      padding: 20px;
      border-top: 1px solid #DDD;

      .our-blog-content {

        .blog-item-meta-category {
          margin-bottom: 0;
          padding-left: 0;
          list-style-type: none;

          a {
            font-weight: 400;
            font-size: .8rem;
            line-height: $line_height_p;
            padding: 5px 10px;
            color: #78F;
            border-radius: 5px;
            border: 0.5px solid #78F;
            background: transparent;
            display: block;
            margin-bottom: 10px;
            transition: all linear .4s ease-in-out;

            i {
              margin-right: 8px;
              font-size: 16px;
            }

            &:hover {
              background: linear-gradient(147deg, #78F 11.6%, #6E6DFF 89.24%);
              color: #fff;
            }
          }
        }

        .blog-item-meta-date {
          font-weight: 400;
          font-size: .8rem;
          line-height: $line_height_p;
          color: $p_color;
        }

      }

      .our-blog-content-item {
        h4 {
          padding: 10px 0 20px 0;

          a {
            color: $h1_color;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: $line_height_p;

            &:hover {
              color: #3C4FF4;
            }
          }
        }
      }

    }

  }

  .our-blog-content-butt {
    margin-bottom: 20px;

    .blog-item-meta-time {
      color: #5C637E;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;

      .fa-clock {
        margin-right: 8px;
        font-size: 20px;
      }
    }

    a {
      color: #6E6DFF;
      border: 1px solid #6E6DFF;
      border-radius: 50px;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 1rem;
      line-height: $line_height_p;
      text-decoration: none;
      transition: all linear .4s ease-in-out;

      i {
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        font-size: 14px;
        border: 1px solid #6E6DFF;
        color: #6E6DFF;
        margin-left: 10px;
        transform: rotate(-36deg);
      }

      &:hover {
        background: #6E6DFF;
        color: #fff;

        i {
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    // .our-blog-head {
    //   h2 {
    //     font-size: 1.9rem;
    //   }

    //   p {
    //     font-size: .885rem;
    //   }
    // }

    .our-blog-content-butt {
      text-align: center;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {

    //Tablet
    // .our-blog-head {
    //   h2 {
    //     font-size: 1.9rem;
    //   }

    //   p {
    //     font-size: .885rem;
    //   }
    // }

    .our-blog-main {
      margin-bottom: 25px;
    }

    .our-blog-content-butt {
      text-align: center;
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0;

    //Mobile
    // .our-blog-head {
    //   h2 {
    //     font-size: 1.8rem;
    //   }

    //   p {
    //     font-size: .785rem;
    //     padding-bottom: 0px;
    //     max-width: 260px;
    //   }
    // }
    .our-blog-content-butt {
      text-align: center;
    }

    .our-blog-main {
      margin-bottom: 20px;

      .bolg-item {
        .our-blog-content-item {
          h4 {
            padding-bottom: 20px;

            a {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .our-blog-img {
      img {
        padding-top: 18px;
      }
    }

  }

}


.autoShow {
  animation: autoShowanimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowanimation {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.7);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}