/**---------- Hero Area ----------**/
.hero-area {
  background: url("../images/home/hero-bg.png") #EEF2FE no-repeat left center;
  background-size: contain;
  padding: 150px 0 100px 0;

  .hero-content {
    h1 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
    }

    .btn {
      margin-top: 1.5rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    padding: 120px 0 0px 0;
    .hero-content {

      h1 {
        font-size: 2.8rem;
        padding-top: 30px;
      }

      p {
        font-size: .785rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    padding: 120px 0 0px 0;
    .hero-content {

      h1 {
        font-size: 2rem;
        padding-top: 30px;
      }

      p {
        font-size: .785rem;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 120px 0 0px 0;
    background-position: top;

    .hero-content {
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .785rem;
      }
    }
  }


}

/**---------- products Area ----------**/
#products {
  padding-top: 5%;
  padding-bottom: 5%;

  .products-head {
    position: relative;

    h1 {
      font-size: 3rem;
      margin-bottom: .5rem;
      font-weight: 700;
      color: $h1_color;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 2.5rem;
      padding: 0 11%;
      color: $p_color;
    }
  }

  .products-icon {
    padding-top: 2rem;
    padding-bottom: .8rem;
    transition: all .3s ease-in-out;
  }

  .products-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 24px 60px rgba(0, 0, 0, 0.04);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    .product-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $h1_color;
      text-decoration: none;
      text-transform: capitalize;
    }

    .product-description {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0.8rem;
      margin-bottom: .5rem;
      color: $p_color;
      padding: 1rem 2rem;
    }

    &.product-wp-radio {
      .product-title {
        color: #3C4FF4;
      }

      &:hover {
        .products-butt {
          color: #3C4FF4;
        }
      }

    }

    &.product-radio-player {
      .product-title {
        color: #42D68C;
      }

      &:hover {
        .products-butt {
          color: #42D68C;
        }
      }

    }

    &.product-integrate-google-drive {
      .product-title {
        color: #2FB34B;
      }

      &:hover {
        .products-butt {
          color: #2FB34B;
        }
      }

    }

    &:hover {
      box-shadow: 20px 24px 60px rgba(0, 0, 0, 0.06);

      .products-icon {
        transform: translateY(-8px);
      }
    }
  }

  .products-vector {
    position: absolute;
    top: -20%;
    right: 0;
  }

  .products-vector2 {
    position: absolute;
    top: 0;
    left: -70%;
  }

  .products-butt {
    padding-bottom: 2rem;
    color: #555;
    transition: all .3s ease-in-out;

    span {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: .8rem;
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .products-head {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .885rem;

      }
    }
    .products-vector {
      position: absolute;
      top: -20%;
      right: -50%;
    }
    .products-item {
      .product-title {
        font-size: 1rem;
      }

      .product-description {
        padding: 0 7%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .products-head {
      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: .885rem;

      }
    }
    .products-item {
      margin-bottom: 40px;

      .product-description {
        padding: 0;
      }
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

  @media (max-width: 767px) {
    .products-head {
      h1 {
        font-size: 2rem;
        padding-top: 2rem;
      }

      p {
        font-size: .785rem;
      }
    }
    .products-item {
      margin-bottom: 40px;
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

}

/**---------- business Area ----------**/
#business {
  position: relative;
  background: url("../images/home/business/business-shape.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: contain;

  .business-head {
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      padding-right: 14%;
      padding-bottom: 2.8rem;
      color: $p_color;
    }
  }

  .business-head1 {
    padding-bottom: 5%;
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      padding-right: 14%;
      padding-bottom: 2.8rem;
      color: $p_color;
    }
  }

  .business-top {
    display: none;
  }

  .business-bottom {
    display: block;
  }

  .vector-business {
    position: absolute;
    top: -40%;
    left: 0;
  }

  .business-img {
    position: relative;
  }

  .business-shape {
    position: absolute;
    bottom: -40%;
    left: -19%;
    z-index: -1;
  }

  .business-head {
    position: relative;
  }

  .business-vector {
    position: absolute;
    right: 0;
    top: 15%;
  }

  @media (min-width: 1200px) {
    //Extra large
    .business-img {
      img {
        width: 85%;
      }
    }
    .business-head {
      h2 {

        font-size: 2.6rem;
      }

      p {
        font-size: 1rem;

      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .business-img {
      img {
        width: 75%;
      }
    }
    .business-head {
      h2 {
        padding-top: 20px;
        font-size: 2rem;
      }

      p {
        font-size: .885rem;
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    justify-content: center !important;
    .business-img {
      text-align: center;

      img {
        width: 75%;
      }
    }
    .business-head {

      h2 {
        padding-top: 20px;
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
        padding: 0;
      }
    }
    .business-top {
      display: none;
    }
    .business-bottom {
      display: block;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    background: none;

    .business-img {
      img {
        width: 70%;
      }
    }
    .business-head {
      h2 {
        padding-top: 20px;
        font-size: 1.8rem;
      }

      p {
        font-size: .785rem;
        padding-bottom: 0;
      }
    }
    .business-head1 {
      padding-bottom: 13%;
      text-align: center;

      h2 {
        padding-top: 20px;
        font-size: 1.8rem;
        padding: 0 17px;
      }

      p {
        font-size: .785rem;
        padding-bottom: 0;
        padding-right: 0;
      }
    }
    .business-top {
      display: block;
    }
    .business-bottom {
      display: none;
    }
  }

}

/**---------- feature Area ----------**/
#feature {
  background-color: #EEF2FE;
  padding-top: 8%;
  padding-bottom: 8%;
  position: relative;

  .feature-head {
    margin-bottom: 3rem;

    .feature-title {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;
    }

    .feature-description {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: $p_color;
    }
  }

  .feature-item {
    background-color: #fff;
    border-radius: 1.1rem;
    padding: 1.7rem;
    margin-bottom: 1.4rem;
    transition: all 0.3s ease-in-out;

    .feat-icon {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      .feat-icon {
        transform: translateY(-8px);
      }
    }

    .feat-content {
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        color: $h1_color;
        padding-top: 10%;
      }

      p {
        color: $p_color;
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
        padding: 1% 16%;
      }
    }
  }

  .feature-head {
    position: relative;
  }

  .feature-vector {
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .feature-vector1 {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;
  }

  .feature-vector2 {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
    .feature-item {
      .feat-content {
        h3 {
          font-size: 1.3rem;
        }

        p {
          padding: 1% 6%;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
    .feature-vector2 {
      top: 3%;
      right: 0%;

      img {
        width: 60%;
      }
    }
    .feature-vector {
      top: 3%;
      left: 3%;
    }
  }

  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    .feature-head {
      h1 {
        margin-top: 20px;
        font-size: 2rem;
        padding: 0 16px;
      }

      p {
        font-size: .785rem;
        padding: 0 77px;
      }
    }
    .feature-vector2 {
      top: 3%;
      right: 0%;

      img {
        width: 50%;
      }
    }
    .feature-vector {
      top: 3%;
      left: 3%;
    }
  }

}

/**------- Testimonial -------**/
.testimonial {
  background: url("../images/home/testimonial/think-bg-shape.png") no-repeat 0 20rem / contain;
  padding: 100px 0;

  .section-head {
    margin-bottom: 3rem;

    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;
      color: $h1_color;
      text-transform: capitalize;
    }
  }

  .testimonial-support-item {
    i {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 1rem;
      background-color: #fff;
      border-radius: 50px;
      text-align: center;
      color: #000;
      z-index: 9999;
      box-shadow: 16px 26px 68px rgba(142, 170, 249, 0.3);
      cursor: pointer;
    }

    .left {
      position: absolute;
      top: 40%;
      left: -25px;
    }

    .right {
      position: absolute;
      top: 40%;
      right: -25px;
    }
  }

  .slider-item {
    background-color: #fff;
    padding: 40px;
    box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    position: relative;
  }

  .single-testimonial-items {

    .testimonial-item {

      .testimonial-rating {
        i {
          color: #FF8F1E;
          font-size: 1.5rem;
          margin-bottom: 4%;
        }
      }

      .testimonial-content {
        h4 {
          font-style: italic;
          font-weight: 400;
          font-size: 1.5rem;
          color: $h1_color;
        }

        p {
          font-style: italic;
          font-weight: 400;
          font-size: 1.2rem;
          color: $p_color;
          padding: 3rem;
        }
      }

      .testimonial-user {
        border-top: 1px solid rgba(92, 99, 126, 0.1);
        margin-top: 1rem;
        padding-top: 1rem;

        img {
          margin-right: 7px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #eee;
        }


        span {
          text-transform: capitalize;
          color: $h1_color;
          font-weight: 600;
          font-size: 1.2rem;
        }

        p {
          color: $p_color;
          font-weight: 500;
          font-size: .9rem;
          line-height: 120%;
        }
      }
    }
  }

}

/**------- Fun-fact-------**/
#amazing {
  background-color: rgba(249, 250, 255, 0.44);
  padding: 100px 0;

  .amazing-head {

    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
      text-transform: capitalize;
      padding-bottom: 2rem;
      font-family: "Inter", sans-serif;
    }

  }

  .amazing-item {
    background-color: #fff;
    border-radius: 20px;

    .amazing-item-content {

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
          margin-bottom: 0;
        }
      }

      .fact-item-desc {
        font-weight: 400;
        font-size: .875rem;
        line-height: 150%;
        text-transform: capitalize;
      }
    }

    .amazing-item-logo {
      img {
        margin-left: 10px;
      }
    }
  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .amazing-head {
      h2 {
        font-size: 2rem;
      }
    }

    .amazing-item {
      .amazing-item-logo {
        img {
          margin-left: 0;
        }
      }

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;
          padding-right: 3px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .amazing-head {
      h2 {
        font-size: 1.9rem;
      }
    }

    .amazing-item {
      margin-bottom: 20px;

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;

        }
      }
    }


  }

  @media(max-width: 767px) {
    .amazing-head {
      h2 {
        font-size: 1.8rem;
      }
    }

    .amazing-item {
      margin-bottom: 15px;
      padding: .5rem .5rem 1rem .5rem;

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;

        }
      }
    }
  }

}

/**-------solution Area -----**/
#solution {
  background: url("../images/home/cta.png"), linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7%;
  padding-bottom: 7%;

  .solution-content {
    h3 {
      color: #fff;
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 50px;
    }
  }

  .solution-butt {
    a {
      background-color: #fff;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.1rem;
      padding: 15px 40px;
      border-radius: 10px;
      color: #6E6DFF;
      font-weight: 700;
    }

    &:hover {
      box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
    }
  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    .solution-content {
      h3 {
        font-size: 1.8rem;
      }

      p {
        font-size: .785rem;
      }
    }

  }

}

/**-------our-blog Area -----**/
#our-blog {
  padding-top: 8%;
  padding-bottom: 8%;

  .our-blog-head {
    h2 {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
    }

    p {
      color: $p_color;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 50px;
    }
  }

  .our-blog-main {
    background-color: #fff;
    border-radius: 20px;

    .bolg-item {
      padding: 20px;

      .our-blog-content {
        h5 {
          font-weight: 500;
          font-size: .8rem;
          line-height: 150%;
          color: $p_color;;
        }
      }

      .our-blog-content-item {
        h4 {
          color: $h1_color;
          font-weight: 600;
          font-size: 1.1rem;
          line-height: 150%;
        }
      }

    }

  }

  .our-blog-content-butt {
    a {
      color: #6E6DFF;
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 150%;
      text-decoration: none;
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .our-blog-head {
      h2 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .our-blog-head {
      h2 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
    .our-blog-main {
      margin-bottom: 25px;
    }
  }

  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    .our-blog-head {
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: .785rem;
      }
    }
    .our-blog-main {
      margin-bottom: 20px;
    }
    .our-blog-img {
      img {
        padding-top: 18px;
      }
    }

  }

}

