/**---------- Hero Area ----------**/
.hero-area {
  background: url("../images/home/hero-bg.png") #EEF2FE no-repeat left center;
  background-size: contain;
  padding: 200px 0 100px 0;

  .hero-content {
    h1 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      line-height: 120%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      line-height: 120%;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 30px;
      line-height: 150%;
    }

    .view-products-btn {
      // margin-top: 1.5rem;
      padding: 15px 30px;
      transition: all linear .4s;

      &:hover {
        background: #fff;
        color: $color_primary;
        border-color: $color_primary;
        transition: all linear .4s;
      }
    }

    .hero-image-mobile {
      display: none;
    }
  }

  .hero-image {
    display: block;
    position: relative;
  }

  .hero-img-rocket img {
    position: absolute;
    top: 95px;
    left: 44%;
    width: 32%;
    transform: rotate(4deg);
    animation: 5s ease-in-out infinite alternate-reverse rocket_up_down;
  }

  @keyframes rocket_up_down {
    0% {
      transform: rotate(4deg) translateY(4px);
    }

    100% {
      transform: rotate(4deg) translateY(20px);
    }
  }


  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop
    padding: 180px 0 0px 0;

    .hero-content {

      h1 {
        font-size: 2.8rem;
        padding-top: 30px;
      }

      p {
        font-size: .785rem;
      }
    }

    .hero-img-rocket img {
      top: 66px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet
    padding: 110px 0 0px 0;

    .hero-content {
      margin-bottom: 40px;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .9rem;
        margin-bottom: 30px;
      }
    }

    .hero-img-rocket img {
      top: 46px;
    }
  }

  @media (max-width: 767.98px) {
    padding: 100px 0 27px 0;
    background-size: cover;
    // background-position: top;

    .hero-content {
      text-align: center;

      h1 {
        font-size: 1.5rem;
        line-height: 1.5;
      }

      p {
        font-size: 1rem;
        margin-bottom: 30px;
      }

      .hero-image-mobile {
        display: block;
      }
    }

    .hero-image {
      display: none;
    }

    .mb-5 {
      margin-bottom: 1.5rem !important;
    }

    .hero-img-rocket img {
      top: 283px;
      left: 32%;
    }
  }

}

/**---------- products Area ----------**/
#products {
  padding: 75px 0;

  .products-head {
    position: relative;

    h1 {
      font-size: 3rem;
      margin-bottom: .5rem;
      font-weight: 700;
      color: $h1_color;
      line-height: 120%;

   
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 2.5rem;
      padding: 0 11%;
      color: $p_color;
      line-height: 150%;
    }
  }

  .products-icon {
    margin: 20px 0 10px 0;
    transition: all .3s ease-in-out;
    width: 85px;
    height: 85px;
  }

  .products-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 24px 60px rgba(0, 0, 0, 0.04);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;

    .product-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $h1_color;
      text-decoration: none;
      text-transform: capitalize;
      .e-addons-title {
        color: #4D4D4D;
        font-family: Inter;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 140.1%;
        display: block;
      }
    }

    .product-description {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0.8rem;
      margin-bottom: .5rem;
      color: $p_color;
      padding: 1rem 2rem;
    }

    &.product-wp-radio {
      .product-title {
        color: #3C4FF4;
      }

      &:hover {
        .products-butt {
          color: #3C4FF4;
        }
      }

    }

    &.product-radio-player {
      .product-title {
        color: #42D68C;
      }

      &:hover {
        .products-butt {
          color: #42D68C;
        }
      }

    }

    &.product-integrate-google-drive {
      .product-title {
        color: #2FB34B;
      }

      &:hover {
        .products-butt {
          color: #2FB34B;
        }
      }

    }

    &.product-reader-mode {

      .product-title {
        color: #675ED5;
      }

      &:hover {
        .products-butt {
          color: #675ED5;
        }
      }

    }

    &.product-dracula-dark-mode {

      .product-title {
        color: #675ED5;
      }

      &:hover {
        .products-butt {
          color: #675ED5;
        }
      }

    }
    &.product-essential-addons-for-contact-form-7 {

      .product-title {
        color: #1E62B9;
      }

      &:hover {
        .products-butt {
          color: #1E62B9;
        }
      }

    }

    &:hover {
      box-shadow: 20px 24px 60px rgba(0, 0, 0, 0.06);

      .products-icon {
        transform: translateY(-8px);
      }
    }
  }

  .products-vector {
    position: absolute;
    top: -20%;
    right: 0;
  }

  .products-vector2 {
    position: absolute;
    top: 0;
    left: -70%;
  }

  .products-butt {
    padding-bottom: 2rem;
    color: #555;
    transition: all .3s ease-in-out;

    span {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: .8rem;
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .products-head {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .885rem;

      }
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: -50%;
    }

    .products-item {
      .product-title {
        font-size: 1rem;
      }

      .product-description {
        padding: 0 7%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .products-head {
      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: .885rem;

      }
    }

    .products-item {
      margin-bottom: 40px;

      .product-description {
        padding: 0;
      }
    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0 30px 0;

    .products-head {
      h1 {
        font-size: 1.5rem;
        // padding-top: 2rem;
      }

      p {
        font-size: .785rem;
      }
    }

    .products-item {
      margin-bottom: 20px;

      .products-icon {
        padding-top: 1rem;
        width: auto;
      }

      .product-title {
        font-size: 1.4rem;
        margin-top: 15px;
      }

      .product-description {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1rem 0rem;
      }

    }

    .products-vector {
      position: absolute;
      top: -20%;
      right: 0%;
    }
  }

}

/**---------- business Area ----------**/
#business {
  position: relative;
  background: url("../images/home/business/business-shape.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: contain;

  .business-head {
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      padding-right: 14%;
      padding-bottom: 2.8rem;
      color: $p_color;
    }
  }



  .vector-business {
    position: absolute;
    top: -40%;
    left: 0;
  }

  .business-img {
    position: relative;
    display: block;
  }

  .business-img-mobile {
    position: relative;
    display: none;
  }

  .business-shape {
    position: absolute;
    bottom: -40%;
    left: -19%;
    z-index: -1;
  }

  .business-head {
    position: relative;
  }

  .business-vector {
    position: absolute;
    right: 0;
    top: 15%;
  }

  @media (min-width: 1200px) {

    //Extra large
    .business-img {
      img {
        width: 85%;
      }
    }

    .business-head {
      h2 {

        font-size: 2.6rem;
      }

      p {
        font-size: 1rem;

      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    .business-img {
      img {
        width: 75%;
      }
    }

    .business-head {
      h2 {
        padding-top: 20px;
        font-size: 2rem;
      }

      p {
        font-size: .885rem;
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    justify-content: center !important;

    .business-img {
      text-align: center;

      img {
        width: 75%;
      }
    }

    .business-head {

      h2 {
        padding-top: 20px;
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
        padding: 0;
      }
    }

    .business-top {
      display: none;
    }

    .business-bottom {
      display: block;
    }
  }

  @media (max-width: 767.98px) {
    background: none;

    .business-img {
      display: none;

      img {
        width: 70%;
      }
    }

    .business-img-mobile {
      display: block;

      img {
        width: 70%;
        padding-bottom: 20px;
      }
    }

    .business-head {
      text-align: center;

      h2 {
        padding-top: 0px;
        font-size: 1.5rem;
      }

      p {
        font-size: .785rem;
        padding-bottom: 0;
        padding-right: 0;
      }
    }

  }

}

/**---------- feature Area ----------**/
#feature {
  background-color: #EEF2FE;
  padding-top: 8%;
  padding-bottom: 8%;
  position: relative;

  .feature-head {
    margin-bottom: 3rem;

    .feature-title {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;
    }

    .feature-description {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: $p_color;
    }
  }

  .feature-item {
    border-radius: 1.1rem;
    padding: 1.7rem;
    margin-bottom: 1.4rem;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    height: 320px;

    .feat-icon {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      .feat-icon {
        transform: translateY(-8px);
      }
    }

    .feat-content {
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        color: $h1_color;
        padding-top: 10%;
      }

      p {
        color: $p_color;
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
        padding: 0 1rem;
      }
    }
  }

  // .feature-easy-to-customize {
  //   background: url("../images/home/features/easy-customize.png,"), linear-gradient(153.63deg, #BCDDFF 3.43%, #738CF6 90.47%);
  //   background-repeat: no-repeat;
  //   background-position: 0 0;
  //   background-size: cover;
  // }
  // .feature-details-documentation {
  // background: url("../images/home/features/details.png,"), linear-gradient(143.38deg, #FFCDA3 4.99%, #FD6C87 94.05%);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // }
  // .feature-money-back-guarantee {
  // background: url("../images/home/features/money-back.png,"), linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // }
  // .feature-highly-rated-support {
  // background: url("../images/home/features/highly-rated.png,"), linear-gradient(142.74deg, #FDAEFF 12.69%, #9F85F2 89.9%);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // }
  // .feature-regular-updates {
  // background: url("../images/home/features/regular-update.png,"), linear-gradient(143.53deg, #8D7DFE 11.16%, #6FB9FF 94.07%);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // }
  // .feature-top-nothch-security {
  // background: url("../images/home/features/top-notch-security.png,"), linear-gradient(128.9deg, #F8C36D 4.15%, #F2A851 100%);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // }

  .feature-head {
    position: relative;
  }

  .feature-vector {
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .feature-vector1 {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;
  }

  .feature-vector2 {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }

    .feature-item {
      .feat-content {
        h3 {
          font-size: 1.3rem;
        }

        p {
          padding: 1% 6%;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .feature-head {
      h1 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }

    .feature-vector2 {
      top: 3%;
      right: 0%;

      img {
        width: 60%;
      }
    }

    .feature-vector {
      top: 3%;
      left: 3%;
    }
  }

  @media (max-width: 767.98px) {
    padding-bottom: 0;

    //Mobile
    .feature-head {
      margin-top: 0px;

      .feature-title {

        font-size: 1.5rem;
        padding: 0;
      }

      .feature-description {
        font-size: .9rem;
        padding: 0;
      }
    }

    .feature-item {
      height: auto;

      .feat-icon {
        img {
          width: 60px;
        }
      }

      .feat-content {
        h3 {
          font-size: 1.4rem;
        }
      }
    }

    .feature-vector2 {
      top: 3%;
      right: 0%;

      img {
        width: 50%;
      }
    }

    .feature-vector {
      top: 3%;
      left: 3%;
    }
  }

}

/**------- Testimonial -------**/
.testimonial {
  background: url("../images/home/testimonial/think-bg-shape.png") no-repeat 0 20rem / contain;
  padding: 100px 0 0 0;
  min-height: 700px;

  .section-head {
    margin-bottom: 3rem;

    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;
      color: $h1_color;
      text-transform: capitalize;
    }
  }

  .testimonial-support-item {
    i {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 1rem;
      background-color: #fff;
      border-radius: 50px;
      text-align: center;
      color: #000;
      z-index: 1;
      box-shadow: 16px 26px 68px rgba(142, 170, 249, 0.3);
      cursor: pointer;
    }

    .left {
      position: absolute;
      top: 40%;
      left: -25px;
    }

    .right {
      position: absolute;
      top: 40%;
      right: -25px;
    }
  }

  .slider-item {
    background-color: #fff;
    padding: 40px;
    box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    position: relative;
  }

  .single-testimonial-items {

    .testimonial-item {

      .testimonial-rating {
        i {
          color: #FF8F1E;
          font-size: 1.5rem;
          margin-bottom: 4%;
        }
      }

      .testimonial-content {
        h4 {
          font-style: italic;
          font-weight: 400;
          font-size: 1.5rem;
          color: $h1_color;
        }

        p {
          font-style: italic;
          font-weight: 400;
          font-size: 1.2rem;
          color: $p_color;
          padding: 2rem;
          margin: 0;
        }
      }

      .testimonial-user {
        border-top: 1px solid rgba(92, 99, 126, 0.1);
        padding-top: 1rem;

        img {
          margin-right: 7px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #eee;
        }

        .testimonial-user-text {
          .testimonial-name {
            text-transform: capitalize;
            color: $h1_color;
            font-weight: 600;
            font-size: 1.2rem;
            display: flex;
            justify-content: left;
          }

          .testimonial-designation {
            color: $p_color;
            font-weight: 600;
            font-size: .98rem;
            display: block;
          }
        }


        p {
          color: $p_color;
          font-weight: 500;
          font-size: .9rem;
          line-height: 120%;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 20px 0;
    min-height: 600px;

    .section-head {
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        margin-bottom: 0;
      }
    }

    .slider-item {
      padding: 25px;
    }

    .testimonial-support-item {
      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }

    .single-testimonial-items {
      .testimonial-item {
        .testimonial-content {
          p {
            font-size: .9rem;
            padding: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            line-clamp: 7;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}

/**------- Fun-fact-------**/
#amazing {
  background-color: rgba(249, 250, 255, 0.44);
  padding: 70px 0;

  .amazing-head {

    h2 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
      // text-transform: capitalize;
      padding-bottom: 2rem;
      font-family: "Inter", sans-serif;
    }

  }

  .amazing-item {
    background-color: #fff;
    border-radius: 20px;

    .amazing-item-content {

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
          margin-bottom: 0;
        }
      }

      .fact-item-desc {
        font-weight: 400;
        font-size: .875rem;
        line-height: 150%;
        text-transform: capitalize;
      }
    }

    .amazing-item-logo {
      img {
        margin-left: 10px;
      }
    }
  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .amazing-head {
      h2 {
        font-size: 2rem;
      }
    }

    .amazing-item {
      .amazing-item-logo {
        img {
          margin-left: 0;
        }
      }

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;
          padding-right: 3px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .amazing-head {
      h2 {
        font-size: 1.9rem;
      }
    }

    .amazing-item {
      margin-bottom: 20px;

      .amazing-item-content {
        h5 {
          font-size: 1.5rem;
        }

        p {
          font-size: .785rem;

        }
      }
    }


  }

  @media(max-width: 767.98px) {
    padding: 0;

    .amazing-head {
      h2 {
        font-size: 1.5rem;
      }
    }

    .amazing-item {
      margin-bottom: 15px;
      padding: .5rem .5rem 1rem .5rem;

      .amazing-item-content {
        .te-count {
          span {
            font-size: 1.5rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }


        .fact-item-desc {
          font-size: .785rem;
          text-align: center;
        }
      }
    }
  }

}

/**-------solution Area -----**/
#solution {
  background: url("../images/home/cta-new.png"), linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;

  .solution-content {
    h3 {
      color: #fff;
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      text-transform: capitalize;
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 50px;
    }
  }

  .solution-butt {
    a {
      background: #fff;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.1rem;
      padding: 15px 40px;
      color: #6E6DFF;
      font-weight: 700;
      transition: all linear .4s;
      border-radius: 10px;

      &:hover {
        box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
        background: #3C4FF4;
        color: #fff;
        transition: all linear .4s;
      }
    }


  }

  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .solution-content {
      h3 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 1rem 0;

    //Mobile
    .solution-content {
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: .785rem;
        margin-bottom: 15px;
      }

      .solution-butt {
        a {
          font-size: .9rem;
          padding: 6px 20px;
        }
      }
    }

  }

}



/**-------our-blog Area -----**/
#our-blog {
  padding: 70px 0;

  .our-blog-head {
    h2 {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
    }

    p {
      color: #5C637E;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      // margin-bottom: 50px;
      max-width: 350px;
      margin: auto;
      padding-bottom: 50px;
    }
  }

  .our-blog-main {
    background-color: #fff;
    border-radius: 20px;
    height: 400px;

    .our-blog-item {
      .our-blog-img {
        a {
          img {
            border-radius: 12px;
          }
        }
      }
    }

    .bolg-item {
      padding: 20px;

      .our-blog-content {

        .blog-item-meta-category {
          ul {
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none;

            li {
              a {
                font-weight: 500;
                font-size: .8rem;
                line-height: 150%;
                color: $p_color;
              }
            }
          }
        }

        .blog-item-meta-date {
          font-weight: 500;
          font-size: .8rem;
          line-height: 150%;
          color: $p_color;
        }

      }

      .our-blog-content-item {
        h4 {
          padding-top: 10px;

          a {
            color: $h1_color;
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 150%;

            &:hover {
              color: #3C4FF4;
            }
          }
        }
      }

    }

  }

  .our-blog-content-butt {
    a {
      color: #6E6DFF;
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 150%;
      text-decoration: none;
    }
  }

  @media (min-width: 1200px) {
    //Extra large

  }

  @media (min-width: 992px) and (max-width: 1199px) {

    //Laptop
    .our-blog-head {
      h2 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {

    //Tablet
    .our-blog-head {
      h2 {
        font-size: 1.9rem;
      }

      p {
        font-size: .885rem;
      }
    }

    .our-blog-main {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0;

    //Mobile
    .our-blog-head {
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: .785rem;
        padding-bottom: 0px;
        max-width: 260px;
      }
    }

    .our-blog-main {
      margin-bottom: 20px;
    }

    .our-blog-img {
      img {
        padding-top: 18px;
      }
    }

  }

}


.autoShow {
  animation: autoShowanimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowanimation {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.7);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}