#summer-offers {
    // background: url("../images/home/offers/offer-bg.png");
    // background-repeat: no-repeat;
    background-position: 0 0;
    padding: 180px 0 130px 0;
    background-size: cover;
    background: url("../images/header-bg.png"), linear-gradient(180.71deg, #6C9EFF 0px, rgba(249, 250, 255, 0) 800px) no-repeat center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // background: linear-gradient(180.71deg, #6C9EFF 0px, rgba(249, 250, 255, 0) 800px) no-repeat center top;
    .section-head {
        p {
            color: #000;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: $line_height_p;
        }

        h1 {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: $line_height_p;

            span {
                color: #F79A22;
            }
        }

        img {
            margin-bottom: 30px;
        }
    }

    .offers-img {
        margin-bottom: 60px;

        img {
            width: 60%;
            height: auto;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 130px 0;

        .section-head {
            p {
                font-size: 28px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 120px 0;

        .section-head {
            p {
                font-size: 20px;
            }
        }

        .offers-img {
            margin-bottom: 30px;

            img {
                width: 40%;
                height: auto;
            }
        }

        .offer-right-img {
            bottom: 60px !important;

            img {
                width: 100px;
                height: auto;
            }
        }

        .offer-left-img {
            bottom: 100px !important;

            img {
                width: 100px;
                height: auto;
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 100px 0;

        .section-head {
            p {
                font-size: 20px;
            }
        }

        .offers-img {
            margin-bottom: 30px;

            img {
                width: 40%;
                height: auto;
            }
        }

        .offer-right-img {
            bottom: 40px !important;

            img {
                width: 80px;

                height: auto;
            }
        }

        .offer-left-img {
            bottom: 40px !important;

            img {
                width: 80px;

                height: auto;
            }
        }
    }

    .offer-right-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .offer-left-img {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#offers-main {
    position: relative;
    top: -60px;

    .offer-item {
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;
        position: relative;

        .offer-icon {
            position: absolute;
            top: -50px;

            img {
                width: 85px;
                height: 85px;
            }
        }

        .offer-off {
            background: url("../images/home/offers/offer-rectangle.png");
            background-repeat: no-repeat;
            width: max-content;
            height: max-content;
            position: absolute;
            top: 0;
            right: 40px;
            text-align: center;
            background-size: cover;
            background-position: bottom;
            padding: 5px;

            span {
                color: rgba(255, 255, 255, 0.70);
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-weight: 500;
                line-height: 130%;
                display: block;
                margin-bottom: 10px;
                margin-top: 6px;
            }

            p {
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 0;
                padding: 0 1px;
            }

        }

        .offer-content {
            h5 {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                line-height: $line_height_h1;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            p {
                color: rgba(0, 0, 0, 0.60);
                font-size: 18px;
                font-weight: 400;
                line-height: $line_height_p;
                font-family: Inter;
                margin-bottom: 50px;
            }
        }

        .offer-price {
            p {
                color: rgba(0, 0, 0, 0.70);
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
            }

            h6 {
                color: #39B54F;
                font-size: 50px;
                font-weight: 600;
                line-height: $line_height_h1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            padding: 30px 0;

            a {
                padding: 15px 30px;
                color: #FFF;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                border-radius: 10px;
                background: linear-gradient(147deg, #2FB44B 0%, #39B54F 100%);
                border: 1px solid #2FB44B;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2FB44B;
                }
            }
        }
    }

    .offer-item-radio-player {
        .offer-price {

            h6 {
                color: #2CD28A;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #2CD28A;
                border: 1px solid #2CD28A;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2CD28A;
                }
            }
        }
    }

    .offer-item-dark-mode {
        .offer-price {

            h6 {
                color: #675DE1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #675DE1;
                border: 1px solid #675DE1;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #675DE1;
                }
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .offer-item {
            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    margin-right: 14px;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .offer-item {
            margin-bottom: 80px;

            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }
        }

        .offer-item-dark-mode {
            margin-left: auto !important;
        }
    }

    @media (max-width: 767.98px) {
        .offer-item {
            margin-bottom: 67px;

            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/**---------- halloween css Area start----------**/

#halloween-offers {
    background: url("../images/offer-hero-bg-new.png");
    padding: 180px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    .halloween-sec {
        img {
            width: 50%;
            height: auto;
        }

    }



    .promo-code-sec {
        margin-top: 25px;
        position: relative;
        // span {
        //     display: block;
        // }

        .sub-text {
            color: #FFF;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: $line_height_p;
            display: block;
        }


        .cupon {
            position: relative;

            .promo-text {
                color: #fff;
                // color: #EDBB08;
                font-size: 20px;
                font-weight: 700;
                border: 1px dashed #fff;
                border-radius: 5px;
                padding: 15px;
                display: inline-block;
                margin-top: 20px;
            }

            .kc {
                position: absolute;
                top: -5px;
                right: 77px;
            }
        }
    }


    .banner-countdown {
        text-align: center;

        .timer {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid #fff;
            border-radius: 7px;
            margin: 0;
            // padding: 3px 7px;

            span {
                font-size: 1.2rem;
                font-weight: 700;
                text-align: center;
                color: #fff;
                border: none;
                padding: 5px 10px;
                margin: 0 10px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                border: 2px solid rgba(207, 207, 250, 0.39);

                background: #161655;

                &:after {
                    content: ":";
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 500;
                    z-index: 1;
                    position: absolute;
                    right: -13px;
                    // margin-left: 7px;
                }

                &:last-child:after {
                    content: "";
                    display: none;
                }
            }
        }

        .timer-labels {
            span {
                font-size: 12px;
                font-weight: 400;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .promo-code-sec {

            .sub-text {
                font-size: 24px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 17px;

                }
            }

        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .promo-code-sec {

            .sub-text {
                font-size: 20px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 61px;

                }
            }

        }
    }

    @media (max-width: 767.98px) {
        padding: 100px 0;

        .halloween-sec {
            img {
                margin-bottom: 20px;
            }
        }

        .promo-code-sec {

            .sub-text {
                font-size: 20px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 9px;

                }
            }

        }
    }
}


#halloween-offers-main {
    position: relative;
    padding: 0px 0 100px 0;
    background: #200731;

    .offers-headers {
        padding-bottom: 80px;

        h3 {
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 48px;
            font-weight: 700;
            line-height: $line_height_h1;
        }
    }

    .offer-item {
        padding: 20px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #3B2848;
        display: flex;
        flex-direction: column;
        position: relative;

        .offer-icon {
            position: absolute;
            top: -50px;

            img {
                width: 85px;
                height: 85px;
            }
        }

        .offer-off {
            background: url("../images/home/offers/offer-rectangle.png");
            background-repeat: no-repeat;
            width: max-content;
            height: max-content;
            position: absolute;
            top: 0;
            right: 40px;
            text-align: center;
            background-size: cover;
            background-position: bottom;
            padding: 5px;

            span {
                color: rgba(255, 255, 255, 0.70);
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-weight: 500;
                line-height: 130%;
                display: block;
                margin-bottom: 10px;
                margin-top: 6px;
            }

            p {
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 0;
                padding: 0 1px;
                margin-top: 15px;
            }

        }

        .offer-content {
            h5 {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                line-height: $line_height_h1;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            p {
                color: #B7B7B7;
                font-size: 18px;
                font-weight: 400;
                line-height: $line_height_p;
                font-family: Inter;
                margin-bottom: 50px;
            }
        }

        .offer-price {
            p {
                color: rgba(0, 0, 0, 0.70);
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
            }

            h6 {
                color: #39B54F;
                font-size: 50px;
                font-weight: 600;
                line-height: $line_height_h1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .promo-code-sec {
            margin-top: 15px;
            position: relative;
            // span {
            //     display: block;
            // }

            .sub-text {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: $line_height_p;
                display: block;
                margin-bottom: 12px;
                font-size: 16px;
            }


            .cupon {
                position: relative;

                .promo-text {
                    color: #33B44D;
                    font-size: 20px;
                    font-weight: 700;
                    border: 1px dashed #33B44D;
                    border-radius: 5px;
                    padding: 15px;
                    display: inline-block;
                    // margin-top: 20px;
                    margin-bottom: 30px;
                }

                .text-dm {
                    color: #665CE0;
                    border: 1px dashed #665CE0;
                }

                .text-rp {
                    color: #2CD28A;
                    border: 1px dashed #2CD28A;
                }

                .kc {
                    position: absolute;
                    top: -20px;
                    right: 136px;
                }
            }
        }



        .offer-button {
            padding: 30px 0;

            a {
                padding: 15px 30px;
                color: #FFF;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                border-radius: 10px;
                background: linear-gradient(147deg, #2FB44B 0%, #39B54F 100%);
                border: 1px solid #2FB44B;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2FB44B;
                }
            }
        }
    }

    .offer-item-radio-player {
        .offer-price {

            h6 {
                color: #2CD28A;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #2CD28A;
                border: 1px solid #2CD28A;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2CD28A;
                }
            }
        }
    }

    .offer-item-dark-mode {
        .offer-price {

            h6 {
                color: #675DE1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #675DE1;
                border: 1px solid #675DE1;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #675DE1;
                }
            }
        }
    }

    .offers-content {
        padding: 100px 0 0 0;

        .titles {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }

        .descripition {
            display: inline-block;
            color: rgba(255, 255, 255, 0.70);
            font-size: 16px;
            font-weight: 400;
            margin-left: 18px;
            margin-top: 17px;
        }

        b {
            color: #fff;
        }
    }

    .offers-conten {
        padding: 50px 0 0 0;

        .titles {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }

        .descripition {
            color: rgba(255, 255, 255, 0.70);
            font-size: 16px;
            font-weight: 400;
            margin-left: 18px;
            margin-top: 17px;
        }

        span {
            display: inline-block;
            color: rgba(255, 255, 255, 0.70);
            font-size: 16px;
            font-weight: 400;
            margin-top: 17px;
        }
    }


    @media (min-width: 992px) and (max-width: 1199px) {
        .offer-item {
            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    margin-right: 14px;
                }
            }

            .promo-code-sec {
                .cupon {

                    .promo-text {
                        padding: 15px;
                    }

                    .kc {
                        right: 16px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .offer-item {
            margin-bottom: 80px;

            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }

            .promo-code-sec {
                .cupon {

                    .promo-text {
                        padding: 15px;
                    }

                    .kc {
                        right: 57px;
                    }
                }
            }

        }

        .offer-item-dark-mode {
            margin-left: auto !important;
        }
    }

    @media (max-width: 767.98px) {
        padding: 30px 0 50px 0;

        .offers-headers {
            h3 {
                font-size: 28px;
            }
        }

        .offers-content {
            padding: 30px 0 0px 0;
        }

        .offer-item {
            margin-bottom: 67px;

            .offer-off {
                right: 15px;


            }

            .offer-content {

                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }

            .promo-code-sec {
                margin-top: 15px;
                position: relative;
                // span {
                //     display: block;
                // }

                .sub-text {
                    color: #4D4D4D;
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: $line_height_p;
                    display: block;
                    margin-bottom: 12px;
                    font-size: 16px;
                }


                .cupon {
                    width: 253px;

                    .promo-text {
                        padding: 15px;
                    }

                    .kc {
                        top: -20px;
                        right: 15px;
                    }
                }
            }

        }
    }
}

/**---------- halloween css Area end----------**/


/**---------- black-friday css Area start----------**/

#black-friday-offers {
    background: url("../images/black-friday-bg-shape.png"), linear-gradient(31deg, #171717 3.6%, #1C1C29 105.42%) no-repeat center top / cover;
    padding: 0px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: bottom;

    .halloween-sec {
        img {
            width: 55%;
            height: auto;
        }

        margin-bottom: 30px;
    }

    .promo-code-sec {


        position: relative;
        right: -30px;
        // span {
        //     display: block;
        // }

        .sub-text {
            background: #F6AE00;
            color: #111;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: $line_height_p;
            padding: 10px 20px;
            border-radius: 8px;
            border: 3px solid #fff;
            border-top: none;
            border-left: none;

            // &::after {
            //     content: '';
            //     top: 0;
            //     left: 0;
            //     background-color: #fff;
            //     width: 100%;
            //     height: 45px;
            //     border-radius: 5px;
            // }
        }


        .cupon {
            position: relative;

            .promo-text {
                color: #EDBB08;
                font-size: 20px;
                font-weight: 700;
                border: 1px dashed #fff;
                border-radius: 5px;
                padding: 15px;
                display: inline-block;
                margin-top: 20px;
            }

            .kc {
                position: absolute;
                top: -5px;
                right: 77px;
            }
        }
    }


    .banner-countdown {
        margin-top: 55px;
        text-align: center;
        position: relative;
        right: -30px;

        .timer {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid #fff;
            border-radius: 7px;
            margin: 0;
            overflow: hidden;

            // padding: 3px 7px;
            // .countdown {
            //     border: 2px solid #A1A1A1;
            //     border-radius: 7px;
            //     padding: 5px 10px;
            //     margin: 0 10px;
            //     background: #10151C;
            //     position: relative;

            //     &:after {
            //         content: ":";
            //         color: #fff;
            //         font-size: 1rem;
            //         font-weight: 500;
            //         z-index: 1;
            //         position: absolute;
            //         right: -13px;
            //         // margin-left: 7px;
            //         top: 50%;
            //         transform: translateY(-50%);
            //     }

            //     &:last-child:after {
            //         content: "";
            //         display: none !important;
            //     }

            //     span {
            //         font-size: 1.2rem;
            //         font-weight: 700;
            //         text-align: center;
            //         color: #fff;
            //         border: none;
            //         // padding: 5px 10px;
            //         // margin: 0 10px;
            //         position: relative;
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         // border-radius: 7px;
            //         // border: 2px solid #A1A1A1;
            //         background: #10151C;



            //     }

            //     p {
            //         display: block;
            //         padding-bottom: 0;
            //         color: #fff;
            //         margin-bottom: 0;
            //     }
            // }

            .countdown {
                padding: 5px 10px;
                margin: 0 10px;
                position: relative;
                // border-radius: 9px;
                // border: 2px solid transparent;
                // background: #17040A;
                // border-image: linear-gradient(180deg, #AD043C 0%, #1A050C 100%);
                // border-image-slice: 1; 
                // display: inline-block;
                // overflow: hidden;
                background: white;
                border-radius: 15px;
                z-index: 1;
                background: #17040A;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to bottom, #AD043C 0%, #1A050C 100%);
                    border-radius: 9px;
                    z-index: -1;
                    padding: 2px;
                    -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                    mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
                &:after {
                  content: ":";
                  color: #fff;
                  font-size: 1rem;
                  font-weight: 500;
                  z-index: 1;
                  position: absolute;
                  right: -13px;
                  // margin-left: 7px;
                  top: 50%;
                  transform: translateY(-50%);
                }
        
                &:last-child:after {
                  content: "";
                  display: none !important;
                }
        
                span {
                  font-size: 1.2rem;
                  font-weight: 700;
                  text-align: center;
                  color: #fff;
                  border: none;
                  // padding: 5px 10px;
                  // margin: 0 10px;
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  // border-radius: 7px;
                  // border: 2px solid #A1A1A1;
        
        
        
                }
        
                p {
                  display: block;
                  padding-bottom: 0;
                  color: #FFB41B;
                  margin-bottom: 0;
                }
              }
            

        }

        // .timer-labels {
        //     span {
        //         font-size: 12px;
        //         font-weight: 400;
        //         color: #fff;
        //         text-align: center;
        //         text-transform: uppercase;
        //         display: inline-block;
        //         margin: 0 5px;
        //     }
        // }
    }



    @media (min-width: 992px) and (max-width: 1199px) {
        .promo-code-sec {
            margin-top: 20px;

            .sub-text {
                font-size: 20px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 17px;

                }
            }

        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .promo-code-sec {

            .sub-text {
                font-size: 20px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 61px;

                }
            }

        }
    }

    @media (max-width: 767.98px) {
        padding: 40px 0 50px 0;
        background-position: center;

        .halloween-sec {
            img {
                margin-bottom: 20px;
            }
        }

        .promo-code-sec {
            right: 0;

            .sub-text {
                font-size: 19px;
            }

            .cupon {
                .promo-text {
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 15;

                }

                .kc {
                    top: -5px;
                    right: 9px;

                }
            }

        }

        .banner-countdown {
            right: 0;
        }
    }
}


#black-friday-offers-main {
    background: linear-gradient(181deg, #10151C 40.2%, #10151C 86.93%);
    position: relative;
    padding: 100px 0;

    .offer-item {
        background: #43464B;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;
        position: relative;

        .offer-icon {
            position: absolute;
            top: -50px;

            img {
                width: 85px;
                height: 85px;
            }
        }

        .offer-off {
            background: url("../images/home/offers/offer-rectangle.png");
            background-repeat: no-repeat;
            width: max-content;
            height: max-content;
            position: absolute;
            top: 0;
            right: 40px;
            text-align: center;
            background-size: cover;
            background-position: bottom;
            padding: 5px;

            span {
                color: rgba(255, 255, 255, 0.70);
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-weight: 500;
                line-height: 130%;
                display: block;
                margin-bottom: 10px;
                margin-top: 6px;
            }

            p {
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 0;
                padding: 0 1px;
                margin-top: 15px;
            }

        }

        .offer-content {
            h5 {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                line-height: $line_height_h1;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            p {
                color: #b7b7b7;
                font-size: 18px;
                font-weight: 400;
                line-height: $line_height_p;
                font-family: Inter;
                margin-bottom: 50px;
            }
        }

        .offer-price {
            p {
                color: rgba(0, 0, 0, 0.70);
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
            }

            h6 {
                color: #39B54F;
                font-size: 50px;
                font-weight: 600;
                line-height: $line_height_h1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .promo-code-sec {
            margin-top: 15px;
            position: relative;
            // span {
            //     display: block;
            // }

            .sub-text {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: $line_height_p;
                display: block;
                margin-bottom: 12px;
                font-size: 16px;
            }


            .cupon {
                position: relative;
                width: 206px;

                .promo-text {
                    color: #33B44D;
                    font-size: 20px;
                    font-weight: 700;
                    border: 1px dashed #33B44D;
                    border-radius: 5px;
                    padding: 15px;
                    display: inline-block;
                    // margin-top: 20px;
                    margin-bottom: 30px;
                }

                .text-dm {
                    color: #665CE0;
                    border: 1px dashed #665CE0;
                }

                .text-rp {
                    color: #2CD28A;
                    border: 1px dashed #2CD28A;
                }

                .kc {
                    position: absolute;
                    top: -20px;
                    right: 14px;
                }
            }
        }



        .offer-button {
            padding: 30px 0;

            a {
                padding: 15px 30px;
                color: #FFF;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                border-radius: 10px;
                background: linear-gradient(147deg, #2FB44B 0%, #39B54F 100%);
                border: 1px solid #2FB44B;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2FB44B;
                }
            }
        }
    }

    .offer-item-radio-player {
        .offer-price {

            h6 {
                color: #2CD28A;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #2CD28A;
                border: 1px solid #2CD28A;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #2CD28A;
                }
            }
        }
    }

    .offer-item-dark-mode {
        .offer-price {

            h6 {
                color: #675DE1;

                &:before {
                    content: "$";
                    font-size: 1.5rem;
                    vertical-align: top;
                }
            }
        }

        .offer-button {
            a {
                background: #675DE1;
                border: 1px solid #675DE1;
                transition: all linear .4s;

                &:hover {
                    background: transparent;
                    color: #675DE1;
                }
            }
        }
    }

    .offers-content {
        padding: 100px 0 0 0;

        .titles {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }

        .descripition {
            display: inline-block;
            color: #ddd;
            font-size: 16px;
            font-weight: 400;
            margin-left: 18px;
            margin-top: 17px;
        }
    }

    .offers-conten {
        padding: 50px 0 0 0;

        .titles {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }

        .descripition {
            color: #ddd;
            font-size: 16px;
            font-weight: 400;
            margin-left: 18px;
            margin-top: 17px;
        }

        span {
            display: inline-block;
            color: #ddd;
            font-size: 16px;
            font-weight: 400;
            margin-top: 17px;
        }
    }


    @media (min-width: 992px) and (max-width: 1199px) {
        .offer-item {
            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    margin-right: 14px;
                }
            }

            .promo-code-sec {
                .cupon {

                    .promo-text {
                        padding: 15px;
                    }

                    // .kc {
                    //     right: 63px;
                    // }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .offer-item {
            margin-bottom: 80px;

            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }

            .promo-code-sec {
                .cupon {

                    .promo-text {
                        padding: 15px;
                    }

                    // .kc {
                    //     right: 102px;
                    // }
                }
            }

        }

        .offer-item-dark-mode {
            margin-left: auto !important;
        }
    }

    @media (max-width: 767.98px) {
        .offer-item {
            margin-bottom: 67px;

            .offer-off {
                right: 15px;


            }

            .offer-content {
                h5 {
                    font-size: 20px;
                    padding-right: 40px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                    margin-bottom: 20px;
                }
            }

            .promo-code-sec {
                margin-top: 15px;
                position: relative;
                // span {
                //     display: block;
                // }

                .sub-text {
                    color: #4D4D4D;
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: $line_height_p;
                    display: block;
                    margin-bottom: 12px;
                    font-size: 16px;
                }


                .cupon {
                    width: 206px;

                    .promo-text {
                        padding: 15px;
                    }

                    // .kc {
                    //     top: -20px;
                    //     right: 15px;
                    // }
                }
            }

        }
    }
}