#pricing-hero {
  background: url("../images/google-drive/pc-hero-bg.png") no-repeat bottom / cover;
  padding: 160px 0 300px 0;


  .hero-content {
    h2 {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      color: $h1_color;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: $p_color;
      line-height: 150%;
      padding-bottom: 120px;
    }
  }
}

#pricing {
  margin-top: -350px;
  margin-bottom: 100px;

  .pricing-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    .switch {
      position: relative;
      width: 70px;
      height: 35px;
      background: $igd_color;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0 15px;
      display: flex;
      align-items: center;
      line-height: 1;

      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        left: 5px;
        transition: all 0.3s ease;
      }
    }

    .switch-text {
      font-size: 1.2rem;
      color: $p_color;

      &.annual {
        color: $igd_color;
      }
    }

    &.active {
      .switch {
        background: $igd_color;

        &:after {
          left: auto;
          right: 5px;
        }
      }

      .switch-text {
        &.annual {
          color: $p_color;
        }

        &.lifetime {
          color: $igd_color;
        }
      }
    }

  }

  .price-table {
    background-color: #fff;
    padding: 20px 20px 50px 20px;
    border-top: 5px solid #00BB45;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .pricing-head {
      &-title {
        display: block;
        color: #151826;
        font-size: 2.6rem;
        font-weight: 700;
        padding-bottom: 15px;
      }

      &-description {
        color: #5C637E;
        font-size: 1rem;
        font-weight: 500;
      }

      .price-text {
        margin: 1rem 0;
        color: #00BB45;

        .price-value {
          font-size: 3rem;
          font-weight: 700;
          display: none;

          &:before {
            content: "$";
            font-size: 1.5rem;
            vertical-align: top;
          }

          &.free {
            display: inline-block;
          }

          .cent {
            font-size: 22px;
            vertical-align: middle;
          }

        }

        .price-suffix {
          display: none;
        }

        &.annual {
          &.license-1 {
            .price-value.single.annual {
              display: inline-block;
            }
          }

          &.license-5 {
            .price-value.five.annual {
              display: inline-block;
            }
          }

          .price-suffix.annual {
            display: inline-block;
          }

        }

        &.lifetime {
          &.license-1 {
            .price-value.single.lifetime {
              display: inline-block;
            }
          }

          &.license-5 {
            .price-value.five.lifetime {
              display: inline-block;
            }
          }

          .price-suffix.lifetime {
            display: inline-block;
          }
        }
      }

      .support-text {
        color: #5C637E;
        font-weight: 700;
        font-size: .9rem;
        border-top: 1px solid #EAEEFF;
        border-bottom: 1px solid #EAEEFF;
        display: block;
        padding: 1rem;
      }
    }

    .price-features {
      padding: 1rem 3rem 3rem 3rem;

      .feature-item {
        margin-top: 2rem;

        i {
          width: 20px;
          height: 20px;
          line-height: 20px;
          background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
          font-size: .8rem;
          color: #fff;
          border-radius: 5px;
          margin-right: 10px;
          text-align: center;
        }

        span {
          color: #5C637E;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }

    .buy-btn {
      text-align: center;
      text-decoration: none;
      color: $igd_color;
      font-size: 1rem;
      line-height: 1;
      padding: 20px 35px;
      border-radius: 10px;
      border: 1px solid $igd_color;
      transition: all .3s ease-in-out;
      display: block;
      width: max-content;
      margin: auto auto 0 auto;

      &:hover {
        color: #fff;
        background-color: $igd_color;
      }

      &-pro {
        color: #fff;
        background-color: $igd_color;

        &:hover {
          color: $igd_color;
          background-color: #fff;
        }
      }
    }

    &.table-pro {
      border-top: 5px solid #3D6EC9;

      .price-text {
        color: #3D6EC9;
      }

      .site {
        margin-top: 20px;

        .dropdown {
          &-menu {
            padding: 0;
            overflow: hidden;
          }

          .dropdown-item {
            &.active {
              background-color: $igd_color;
            }
          }

          .btn-pr {
            background-color: #00BB45;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            color: #fff;

            &:hover {
              box-shadow: #7788FF 0px 2px 8px 0px;
            }

          }

          .btn-check:focus + .btn-secondary, .btn-secondary:focus {
            border: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

#industry {
  background: url("../images/google-drive/industry/14-day money.png") no-repeat;
  background-size: cover;
  padding: 60px 0;

  .industry-head {
    h2 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 120%;
      color: #fff;
      margin-bottom: 40px;
    }
  }

  .indu-item {
    background-color: #153F26;
    border-radius: 20px;
    padding: 28px;
    height: 175px;

    span {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 120%;
      color: #fff;
      display: block;
    }

    img {
      padding-top: 28px;
    }
  }

}

#features {
  padding: 100px 0;

  .section-header {
    margin-bottom: 50px;

    h2 {
      font-weight: 700;
      font-size: 3rem;
      color: #151826;
      line-height: 120%;
      margin-bottom: 20px;
      padding: 0 20px;
    }

    p {
      font-weight: 400;
      font-size: .9rem;
      line-height: 150%;
      color: #5C637E;
      padding: 0 20px;
    }
  }


  .features-header {
    border-bottom: 1px solid #BCE4D1;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    line-height: 1;

    h5 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      margin-bottom: 0;
      width: 60%;
    }

    .feature-type {
      font-weight: 700;
      font-size: 2rem;
      color: #151826;

      &.type-free {
        font-weight: 700;
        font-size: 2rem;
        color: #5C637E;
      }
    }
  }

  .accordion {

    &-item {
      border: none;
      margin-top: 1rem;
      border-radius: 10px;
      overflow: hidden;
    }

    &-button {
      background-color: #E9F6F0;
      transition: transform .2s ease-in-out;
      position: relative;
      padding: 1.2em;
      font-size: 1.2rem;
      font-weight: 600;
      justify-content: space-between;

      &:after {
        display: none;
      }
      .title {
        width: 60%;
      }
      .feature-title {
        
        color: #000;
      }

      .fas {
        font-size: 25px;
      }

      .fa-check-square {
        color: $igd_color;
      }

      .fa-times-square {
        color: #5C637E;
      }
      .fa-chevron-down {
        width: 28px;
        height: 28px;
        line-height: 28px;
        background-color: #5C637E;
        text-align: center;
        border-radius: 50px;
        color: #fff;
        transition: all linear .4s;
        margin-right: 25px;
      }

    }

    .accordion-button:focus {
      z-index: 3;
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }

    .accordion-item:last-of-type {
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
      background-color: #E9F6F0;
    }

    .accordion-collapse {
      background-color: #E9F6F0;
    }

    .accordion-button:not(.collapsed) {
      .fa-chevron-down {
        transform: rotate(180deg);
        background-color: #00BB45;
        color: #fff;
        transition: all linear .4s;
      }
    }

    .accordion-body {
      border-top: 1px solid #00BB45;
    }
  }
}

#faq {
  background: linear-gradient(153.63deg, #F8FDF5 3.43%, #E6FAF4 90.47%);
  padding: 100px 0;

  .section-header {
    margin-bottom: 3rem;

    h2 {
      font-weight: 700;
      font-size: 3rem;
      color: #151826;
    }
  }

  .accordion {
    &-item {
      margin-bottom: 1rem;
      overflow: hidden;
      border-radius: 10px;
    }

    &-button {
      padding: 1.5rem;
      font-size: 1.1rem;
      background-color: #E4EFFF;
      &:after {
        display: none;
      }
    }

    &-body {
      color: $p_color;
    }
    i {
      right: 25px;
      position: absolute;
    }
    .fa-chevron-down {
      width: 28px;
      height: 28px;
      line-height: 28px;
      background-color: #5C637E;
      text-align: center;
      border-radius: 50px;
      color: #fff;
      transition: all linear .4s;
    }

  }
  .accordion-button:not(.collapsed) {
    .fa-chevron-down {
      transform: rotate(180deg);
      background-color: #00BB45;
      color: #fff;
      transition: all linear .4s;
    }
  }

}

.page-template-integrate-google-drive-pricing {
  background-color: #F9FAFF;
}

.page-template-radio-player-pricing {
  #pricing-hero {
    background: url("../images/radio-player/price/price-hero-shapes.png") no-repeat bottom / cover;
  }

  #pricing {
    .price-table {
      .buy-btn {
        color: $radio_player_color;
        border: 1px solid $radio_player_color;
        background: #fff;

        &:hover {
          color: #fff;
          background: $radio_player_color;
        }

        &-pro {
          color: #fff;
          background: $radio_player_color;

          &:hover {
            color: $radio_player_color;
            background: #fff;
          }
        }
      }
    }
    .table-pro {
      .pricing-head {
       .pricing-head-title {
         color: #4353FF;
       }
      }
     }
  }

  #industry {
    background: url("../images/radio-player/price/industry-bg.png") no-repeat;
    background-size: cover;
  }

  #features {
    .accordion-button {
      &:after {
        display: none;
      }
    }
  }

}

.page-template-wp-radio-pricing {
  #pricing-hero {
    background: url("../images/wp-radio/price/price-hero-shapes.png") no-repeat bottom / cover;
    .hero-content {
      h2 {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 120%;
        color: #fff;
      }
  
      p {
        font-weight: 400;
        font-size: 1rem;
        color: #fff;
        line-height: 150%;
        padding-bottom: 120px;
      }
    }
  }

  #pricing {
    .pricing-switcher {
      .switch-text {
  
        &.annual {
          color: #fff;
        }
        &.lifetime {
          color: #C8DCFC;
        }
      }
      .switch {
        background-color: #0014EF;
      }
      &.active {
        .switch-text {
  
          &.annual {
            color: #C8DCFC;
          }
          &.lifetime {
            color: #fff;
          }
        }
      }
    }
    .price-table {
      .pricing-head {
        .price-text {
          color: #4353FF;
        }
      }
      .buy-btn {
        color: $wp_radio_color;
        border: 1px solid $wp_radio_color;
        background: #fff;

        &:hover {
          color: #fff;
          background: $wp_radio_color;
        }

        &-pro {
          color: #fff;
          background: $wp_radio_color;

          &:hover {
            color: $wp_radio_color;
            background: #fff;
          }
        }
      }
    }
    .table-pro {
      .pricing-head-title {
        color: #4353FF;
      }
      .site {
        .dropdown {
          .dropdown-item {
            &.active {
              background-color: $wp_radio_color;
            }
          }
          .btn-pr{
            background-color: #4353FF;
          }
        }
      }
    }
    .price-features {
      .feature-item {
        i {
          background: #4353FF;
        }
      }
    }
  }

  #industry {
    background: url("../images/wp-radio/price/price-group.png") no-repeat, #4353FF;
    background-size: cover;
    .indu-item {
      background-color: #fff;
      span {
        color: #5C637E;
      }
    }
  }
  #features {
    .accordion-button {
      background-color: #ecf0ff;
      .fa-check-square {
        color: #4353FF;
      }
      &:after {
        display: none;
      }
    }
    .accordion-collapse {
      background-color: #ecf0ff;
    }
    .accordion-body {
      border-top: 1px solid rgba(67, 83, 255, 0.2);
    }
    .accordion-button:not(.collapsed) {
      .fa-chevron-down {
        transform: rotate(180deg);
        background-color: #4353FF;
        color: #fff;
      }
    }
  }

  #faq { 
    .accordion-button:not(.collapsed) {
      .fa-chevron-down {
        transform: rotate(180deg);
        background-color: #4353FF;
        color: #fff;
      }
    }
}

}
