/**---------- products-Hero Area ----------**/
.title-header {
  padding: 220px 0 100px 0;

  .header-content {
    h2 {
      font-size: 3rem;
      font-weight: 600;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: $p_color;
      padding: 1rem 5rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media (max-width: 767.98px) {
    .header-content {
      h2 {
        font-size: 1.5rem;
      }

      p {
        padding: 0rem 1rem;
      }
    }
  }
}

.product-item {
  padding: 5rem 0;

  .product-image {
    display: block;
  }

  .product-content {


    .product-name {
      background-color: #EEF2FE;
      padding: 10px;
      border-radius: 50px;
      align-items: center;
      margin-bottom: 1.5rem;
      width: max-content;

      img {
        padding-right: 10px;
        width: 57px;
      }

      h3 {
        color: #2E2B73;
        font-weight: 600;
        font-size: 2rem;
        margin: 0 10px 0 0;
        line-height: 1;

        span {
          color: #08CD87;
        }

        .cf7 {
          color: #4D4D4D;
          font-size: 25px;
          font-style: italic;
          font-weight: 400;
        }
      }
    }

    .product-logo-soft-accordion {
      padding-left: 20px;
    }

    .product-subtitle {
      color: $h1_color;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;

      span {
        color: #08CD87;
      }

      .title-cf7 {
        color: #1E62B9;
      }

      .title-drak {
        background: linear-gradient(90.74deg, #738CF6 0.42%, #FD82FF 52.1%, #4200FF 104.86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .product-description {
      color: $p_color;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
    }

    .product-images {
      display: none;
    }

  }

  .feature-item {
    margin-top: 1.5rem;
    background-color: #EEF2FE;
    border-radius: 10px;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;

    &.multiplegoogleaccounts,
    &.popupwindowplayer,
    &.mobilemedianotification,
    &.easystationssearch {
      padding: 20px 10px;
    }

    .feature-title {
      color: $h1_color;
      font-weight: 600;
      font-size: .8rem;
      line-height: 150%;
      padding-top: .7rem;
    }

    .product-image {
      text-align: left;
    }

  }

  .product-explore-btn {
    margin-top: 2rem;
    padding: .7rem 1.5rem;
  }

  &:nth-child(odd) {
    &>.container>.row {
      flex-flow: row-reverse;

      .product-image {
        text-align: right;
      }

    }
  }

  &.product-radio-player {
    .product-content {
      .product-name {
        h3 {
          span {
            color: $radio_player_color;
          }
        }
      }

      .product-subtitle {
        span {
          color: $radio_player_color;
        }
      }

    }
  }

  &.product-wp-radio {
    .product-content {
      .product-name {
        h3 {
          span {
            color: $wp_radio_color;
          }
        }
      }

      .product-subtitle {
        span {
          color: $wp_radio_color;
        }
      }

    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {}

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 3rem 0 0 0;

    .product-content {
      .product-name {
        h3 {
          font-size: 1.5rem;
        }
      }

      .product-subtitle {
        font-size: 1.5rem;
      }

      .product-description {
        font-size: .8rem;
      }
    }

    &:last-child {
      padding-bottom: 3rem;
    }
  }

  @media (max-width: 767.98px) {


    padding: 0 0 3rem 0;



    .product-image {
      display: none;
    }



    .product-content {
      text-align: center;

      .product-images {
        display: block;

        img {
          margin: 40px 0;
        }
      }

      .product-name {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        h3 {
          font-size: 1.2rem;
        }
      }

      .product-subtitle {
        font-size: 1.7rem;
      }

      .product-description {
        font-size: .9rem;
      }
    }

    &:nth-child(odd) {
      &>.container>.row {
        flex-flow: wrap;

      }
    }
  }




}

@media (max-width: 767.98px) {
  .product-radio-player {
    .product-content {
      .product-images {
        overflow: hidden;

        img {
          margin-right: -30px;

        }
      }
    }
  }
}