#sidebar {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;

  .widget-area {
    ul {
      li {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        .alignleft {
          margin: 0;
        }
      }
    }
  }
}