.team-section {
    padding-top: 8%;
    padding-bottom: 8%;

    .section-title {
        h1{
            text-transform: capitalize;
            font-size: 2.8rem;
            padding-top: 10px;
            color: $h1_color;
        }
        p {
            font-size: 1rem;
            color: $p_color;
        }
        &.no-bg {
            .sub-title { 
                span {
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
        }

        @media (min-width: 1200px) {
            //Extra large
          }
          
            @media (min-width: 992px) and (max-width: 1199px) {
                //Laptop
                h1 {
                    font-size: 2.7rem;
                }
                 p {
                    font-size: .785rem;
                 }
            }
        
          @media (min-width: 768px) and (max-width: 991px)  {
            //Tablet
            h1 {
                font-size: 2.2rem;
            }
             p {
                font-size: .785rem;
             }
          }
          
          @media (min-width: 420px) and (max-width: 767px) {
            //Mobile
                h1 {
                    font-size: 1.8rem;
                }
                 p {
                    font-size: .785rem;
                 }
          }

        .sub-title {
            text-transform: capitalize;
            position: relative;
            display: inline-block;
            z-index: 1;
            padding: 0px 50px; 
    
            &::after {
                position: absolute;
                width: 100%;
                height: 1px;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: #000;
                z-index: -1;            
            }
    
            span {
                  
                display: block;
                padding: 0px 10px;
            }
            @media (min-width: 1200px) {
                //Extra large
              }
              
                @media (min-width: 992px) and (max-width: 1199px) {
                    //Laptop
                }
            
              @media (min-width: 768px) and (max-width: 991px)  {
                //Tablet
              }
              
              @media (min-width: 420px) and (max-width: 767px) {
                //Mobile
                
              }
                        
        }  
    
  }

  .single-team-member {
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          &:hover {
              .member-info { 
                  opacity: 1;
                  visibility: visible;
                  right: 0;
              }
              .member-img {
                  filter: saturate(1);  
              }
          }

          .member-img {
              height: 390px;
              width: 100%;
              filter: saturate(0.3);
              transition: all .3s ease-in-out;
              background-size: cover;
              border-bottom-left-radius: 35px;
              border-top-left-radius: 35px;
              margin: 2px 10px;
          }

          .member-info {
              text-align: right;
              position: absolute;
              bottom: 40px;
              right: -50%;
              transition: all .4s ease-in-out;
              opacity: 0;
              visibility: hidden;            

              h3, h5 {
                  color: #fff;
                  background: #000;
                  display: inline-block;
                  line-height: 1;
                  padding: 20px 30px;
                  text-transform: uppercase;
                  border-bottom-left-radius: 10px;
                  border-top-left-radius: 10px;
              }

              h5 {
                  padding: 9px 30px;
                  font-size: 16px;
                  background: #444;
              }
          }
          @media (min-width: 1200px) {
              //Extra large
            }
            
              @media (min-width: 992px) and (max-width: 1199px) {
                  //Laptop
                  margin-bottom: 10px;
              }
          
            @media (min-width: 768px) and (max-width: 991px)  {
              //Tablet
              
                  margin-bottom: 10px;
              
            }
            
            @media (min-width: 768px) and (max-width: 767px) {
              //Mobile
                  margin-bottom: 10px;
            }
          
          
          
  }

  .sec-title-wrapper {
          padding-right: 75px;

          @media (min-width: 992px) and (max-width: 1199px)  {
              //Laptop
                  padding-right: 0;
            }
          @media (min-width: 768px) and (max-width: 991px)  {
              //Tablet
                  padding-right: 0;
            }
          @media (min-width: 420px) and (max-width: 767px)  {
              //mobail
                  padding-right: 0;
            }
  }


  .skill-section {
      .section-title {
          .sub-title {
              padding-right: 0;            
          }
      }
  }

  .skill-wrapper {
      .single-skill {
          margin-top: 40px;

          .progress {
              height: 6px;
              .progress-bar {
                  background-color: #000;
              }
          }
      }
  }

  .single-process-box {
      text-align: center;
      margin-top: 30px;

      .icon {
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 30px 60px 0px rgba(71, 71, 71, 0.16);
          width: 80px;
          height: 80px;
          line-height: 80px;
          position: relative;
          display: inline-block;

          span {
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 36px;
              height: 36px;
              line-height: 36px;
              background-color: #000;
              display: inline-block;
              border-radius: 50%;
              color: #fff;            
              transform: translate(-50%, 50%);
          }
      }

      .content {
          margin-top: 40px;

          h3 {
              margin-bottom: 15px;
          }

    
      }
      
  }

  .team-butt {
      margin-top: 50%;
      .btn {
          padding: 20px 35px;
      }
  }

  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
    }

  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .team-butt {
        margin-top: 20%;
        margin-bottom: 8%;
    }
  }
  
  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    
    .team-butt {
        margin-top: 20%;
        margin-bottom: 8%;
    }
  }

}

/*====== creat-account ======*/

#creat-account {
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      .form button:hover,.form button:active,.form button:focus {
        background: #43A047;
      }
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .form .register-form {
        display: none;
      }
}
/*====== tab ======*/

#tab {
    
    font-family: 'Fira Sans', sans-serif;
    padding: 100px 0;
   


    /* colors */
    $blue: #428BFF;
    $red: #FF4A53;
    $dark: #333;

    $accent: $blue;
    $accent-inactive: desaturate($accent, 85%);
    $secondary: $accent-inactive;


    /* tab setting */
    $tab-count: 5;
    $indicator-width: 50px;
    $indicator-height: 4px;

    /* breakpoints */
    $breakpoints: (
    medium: #{$tab-count*250px},
    small: #{$tab-count*150px}
    );


    /* selectors relative to radio inputs */
    $label-selector: "~ ul > li";
    $slider-selector: "~ .slider";
    $content-selector: "~ .content > section";

    @mixin tabs(
    $label-selector: $label-selector,
    $slider-selector: $slider-selector,
    $content-selector: $content-selector) {
        
    @for $i from 1 through $tab-count {
        &:nth-of-type(#{$i}):checked {
        #{$label-selector}:nth-child(#{$i}) {
            @content;
        }

        #{$slider-selector} {
            transform: translateX(#{100% * ($i - 1)});
        }

        #{$content-selector}:nth-child(#{$i}) {
            display: block;
        }
        }
    }
    }

    

    .tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    // background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
    // background-image: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
    background: #8278F7;
    padding: 50px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: #{$tab-count * 60px};
    input[name="tab-control"] {
        display: none;
    }
    img {
        width: 26px;
        height: auto;
        margin-right: 10px;
    }
    .content section h2,
    ul li label {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        width: max-content;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        
        li {
        box-sizing: border-box;
        flex: 1;
        width: auto;
        padding: 0 10px;
        text-align: center;
        
        label {
            transition: all 0.3s ease-in-out;
            color: #fff;
            padding: 5px auto;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            white-space: nowrap;
            -webkit-touch-callout: none;
            // @include user-select(none);
            
            br {
            display: none;
            }
            
            
            &:hover,
            &:focus,
            &:active {
            outline: 0;
            color: #000;
            }
        }
        }
    }
    
    .slider {
        position: relative;
        width: auto;
        transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
        .indicator {
        position: relative;
        width: $indicator-width;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        background: $accent;
        border-radius: 1px;     
        }

    }
    
    .content {
        margin-top: 30px;
        
        section {
        display: none;
        animation: {
            name: content;
            direction: normal;
            duration: 0.3s;
            timing-function: ease-in-out;
            iteration-count: 1;
        }
        line-height: 1.4;
        
        h2 {
            color: $accent;
            display: none;
            &::after {
            content: "";
            position: relative;
            display: block;
            width: 30px;
            height: 3px;
            background: $accent;
            margin-top: 5px;
            left: 1px;
            }
        }
        p {
            color: #fff;
            font-weight: 400;
            font-size: 1rem;
        }
        }
    }
    
    input[name="tab-control"] {
        @include tabs {
        > label {
            cursor: default;
            color: #000;
            
            @media (max-width: map-get($breakpoints, small)) {
            background: rgba(0, 0, 0, 0.08);
            }
        }
        }
    }

    @keyframes content {
        from {
        opacity: 0;
        transform: translateY(5%);
        }
        to {
        opacity: 1;
        transform: translateY(0%);
        }
    }
    
    
    }
}
/*====== magic-card ======*/

#magic-card {
    padding: 100px 0;

    $color1: red;
    $color2: blue;

    .text-effect {
        overflow: hidden;
        position: relative;
        filter: contrast(110%) brightness(190%);
    }

    .neon {
    position: relative;
    background: black;
    
    color: transparent;
    
    &::before,
    &::after {
        content: attr(data-text);
        color: white;
        filter: blur(0.02em);
        position: absolute;
        top: 0; 
        left: 0;
        pointer-events: none;
    }
        
        &::after {
            mix-blend-mode: difference;
        }
    }

    .gradient,
    .spotlight {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        pointer-events: none;
        z-index: 10;  
    }

    .gradient {
        background: linear-gradient(45deg, $color1, $color2);
        mix-blend-mode: multiply;
    }

    .spotlight {
        animation: light 5s infinite linear;
        background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
        top: -100%; left: -100%;
        mix-blend-mode: color-dodge;
    }

    @keyframes light {
        100% {
            transform: translate3d(50%, 50%, 0);
        }
    }
    .neon {
    
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        
        &:focus { 
            outline: none; 
            border: 1px dotted white; 
        }
    }
}
/*====== animation-button ======*/

#animation-button {
    padding: 100px 0;
    background: #e0e5ec;
      h1 {
        position: relative;
        text-align: center;
        color: #353535;
        font-size: 50px;
        font-family: "Cormorant Garamond", serif;
      }
      
    //   p {
    //     font-family: 'Lato', sans-serif;
    //     font-weight: 300;
    //     text-align: center;
    //     font-size: 18px;
    //     color: #676767;
    //   }
      .frame {
        text-align: center;
      }
      a {
        margin: 20px;
        padding: 10px 25px;
      }
      .custom-btn {
        
        color: #fff;
        border-radius: 5px;
        
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }
      
      /* 1 */
      .btn-1 {
        background: rgb(6,14,131);
        background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
        border: none;
        &:hover {
          background: rgb(0,3,255);
          background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
        }
      }
      
      /* 2 */
      .btn-2 {
        background: rgb(96,9,240);
        background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
        border: none;
        &:before {
          height: 0%;
          width: 2px;
        }
        &:hover {
          box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                      -4px -4px 6px 0 rgba(116, 125, 136, .5), 
            inset -4px -4px 6px 0 rgba(255,255,255,.2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }
      }
      
      /* 3 */
      .btn-3 {
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        border: none;
        &:hover{
          background-color: #89d8d3;
          background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
        }
        
        &:before,
        &:after {
          position: absolute;
          content: "";
          right: 0;
          top: 0;
           box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                      -4px -4px 6px 0 rgba(116, 125, 136, .2), 
            inset -4px -4px 6px 0 rgba(255,255,255,.9),
            inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
          transition: all 0.3s ease;
        }
        &:before {
          height: 0%;
          width: .1px;
        }
        &:after {
          width: 0%;
          height: .1px;
        }
        &:hover:before {
          height: 100%;
        }
        &:hover:after {
          width: 100%;
        }
        span {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          &:before,
          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                        -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.9),
              inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            transition: all 0.3s ease;
          }
          &:before {
            width: .1px;
            height: 0%;
          }
          &:after {
            width: 0%;
            height: .1px;
          }
          &:hover:before {
            height: 100%;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
      
      /* 4 */
      .btn-4 {
        border: none;
        background: rgb(255,27,0);
        background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
        &:hover {
          color: #f0094a;
          background: transparent;
           box-shadow:none;
        }
        &:before,
        &:after{
          content:'';
          position:absolute;
          top:0;
          right:0;
          height:2px;
          width:0;
          background: #f0094a;
          box-shadow:
           -1px -1px 5px 0px #fff,
           7px 7px 20px 0px #0003,
           4px 4px 5px 0px #0002;
          transition:400ms ease all;
        }
        &:after{
          right:inherit;
          top:inherit;
          left:0;
          bottom:0;
        }
        &:hover:before,
        &:hover:after{
          width:100%;
          transition:800ms ease all;
        }
      }
      
      /* 5 */
      .btn-5 {
        background: rgb(247,150,192);
        background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
        border: none;
        &:before,
        &:after {
          position: absolute;
          content: "";
          height: 0%;
          width: 1px;
          box-shadow:
          -1px -1px 20px 0px rgba(255,255,255,1),
          -4px -4px 5px 0px rgba(255,255,255,1),
          7px 7px 20px 0px rgba(0,0,0,.4),
          4px 4px 5px 0px rgba(0,0,0,.3);
        }
        &:before {
          right: 0;
          top: 0;
          transition: all 500ms ease;
        }
        &:after {
          left: 0;
          bottom: 0;
          transition: all 500ms ease;
        }
        &:hover{
          background: transparent;
          color: #76aef1;
          box-shadow: none;
        }
        &:hover:before {
          transition: all 500ms ease;
          height: 100%;
        }
        &:hover:after {
          transition: all 500ms ease;
          height: 100%;
        }
        span {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          &:before,
          &:after {
            position: absolute;
            content: "";
            box-shadow:
            -1px -1px 20px 0px rgba(255,255,255,1),
            -4px -4px 5px 0px rgba(255,255,255,1),
            7px 7px 20px 0px rgba(0,0,0,.4),
            4px 4px 5px 0px rgba(0,0,0,.3);
          }
          &:before {
            left: 0;
            top: 0;
            width: 0%;
            height: .5px;
            transition: all 500ms ease;
          }
          &:after {
            right: 0;
            bottom: 0;
            width: 0%;
            height: .5px;
            transition: all 500ms ease;
          }
          &:hover:before {
            width: 100%;
          }
          &:hover:after {
            width: 100%;
          }
          
        }
      }
      
      /* 6 */
      .btn-6 {
        background: rgb(22,9,240);
        background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
        color: #fff;
        border: none;
        transition: all 0.3s ease;
        overflow: hidden;
        &:after {
          position: absolute;
          content: " ";
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease;
          -webkit-transform: scale(.1);
          transform: scale(.1);
        }
        &:hover {
          color: #fff;
          border: none;
          background: transparent;
        }
        &:hover:after {
          background: rgb(0,3,255);
        background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
 
      /* 7 */
      .btn-7 {
        background-color: #89d8d3;
        background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
        border: none;
        z-index: 1;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 5px;
          background-color: #4dccc6;
          background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
          box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          transition: all 0.3s ease;
        }
        &:hover {
          color: #fff;
        }
        &:hover:after {
          top: 0;
          height: 100%;
        }
        &:active {
          top: 2px;
        }
      }

      /* 8 */
      .btn-8 {
        background: rgb(255,151,0);
        border: none;
        z-index: 1;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 0;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: 5px;
          background-color: #eaf818;
          background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
           box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
           7px 7px 20px 0px rgba(0,0,0,.1),
           4px 4px 5px 0px rgba(0,0,0,.1);
          transition: all 0.3s ease;
        }
        &:hover {
          color: #000;
        }
        &:hover:after {
          top: auto;
          bottom: 0;
          height: 100%;
        }
        &:active {
          top: 2px;
        }
      }
      
      /* 9 */
      .btn-9 {
        background: #b621fe;
        border: none;
        z-index: 1;
        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          right: 0;
          z-index: -1;
          background-color: #663dff;
          border-radius: 5px;
           box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
           7px 7px 20px 0px rgba(0,0,0,.1),
           4px 4px 5px 0px rgba(0,0,0,.1);
          transition: all 0.3s ease;
        }
        &:hover {
          color: #fff;
        }
        &:hover:after {
          left: 0;
          width: 100%;
        }
        &:active {
          top: 2px;
        }
      }

      /* 10 */
      .btn-10 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background: rgb(255,27,0);
        background: linear-gradient(110deg, rgba(0, 255, 255) 0%, rgba(0,0,255) 100%);
        &:hover {
          color: #5e90e9;
          background: transparent;
          box-shadow:none;
        }
        &:before,
        &:after{
          content:'';
          position:absolute;
          top: 0;
          right:0;
          height:2px;
          width:0;
          background: linear-gradient(320deg, #0000ff 0%, #00bfff 70%, #00ffff 30%);
          box-shadow:
          -1px -1px 5px 0px #fff,
          7px 7px 20px 0px #0003,
          4px 4px 5px 0px #0002;
          transition:400ms ease all;
        }
        &:after{
          right:inherit;
          top: 40px;
          left:0;
          bottom:0;
        }
      
        &:hover:before,
        &:hover:after{
          width:100%;
          transition:800ms ease all;
        }
      }
      
      /* 11 */
      .btn-11 {
        border: none;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative;
        &:after {
          position: absolute;
          content: " ";
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #1fd1f9;
          background-image: linear-gradient(315deg, #0000ff 20%, #00ffff 75%, #191970 25%);
          transition: all 0.3s ease;
        }
      
        &:hover {
          background: linear-gradient(110deg, rgba(0, 255, 255) 0%, rgba(0,0,255) 100%);
          box-shadow:  4px 4px 6px 0 rgba(255, 255, 255,.5),
                      -4px -4px 6px 0 rgba(116, 125, 136,.2), 
            inset -4px -4px 6px 0 rgba(255, 255, 255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136,.3);
          color: #fff;
        }
        
        &:hover:after {
          -webkit-transform: scale(2) rotate(180deg);
          transform: scale(2) rotate(180deg);
          box-shadow:  4px 4px 6px 0 rgba(255, 255, 255,.2),
                      -4px -4px 6px 0 rgba(116, 125, 136,.2), 
            inset -4px -4px 6px 0 rgba(255, 255, 255,.5),
            inset 4px 4px 6px 0 rgba(116, 125, 136,.3);
        }
      }
    
      
}

/*====== team css ======*/
#our-team {
  padding: 100px 0;
  .section-head {
    margin-bottom: 80px;
    h1{
      text-transform: capitalize;
      font-size: 2.8rem;
      padding-top: 10px;
      color: $h1_color;
  }
  p {
      font-size: 1rem;
      color: $p_color;
      
  }
  }
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #F2F4FE;
    text-align: center;
    overflow: hidden;
    position: relative;
    .name {
      color: #353535;
      font-size: 27px;
      font-family: "Cormorant Garamond", serif;
      text-transform: uppercase;
    }
    .title {
      display: block;
      font-size: 15px;
      color: #4e5052;
      font-family: "Cormorant Garamond", serif;
      text-transform: uppercase;
    }
    .picture {
      display: inline-block;
      height: 130px;
      width: 130px;
      margin-bottom: 50px;
      z-index: 1;
      position: relative;
      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
      }
      &::before {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 50%;
        background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
        position: absolute;
        bottom: 135%;
        right: 0;
        left: 0;
        opacity: 0.9;
        transform: scale(3);
        transition: all 0.3s linear 0s;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    
    .social {
      width: 100%;
      padding: 0;
      margin: 0;
      background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
      position: absolute;
      bottom: -100px;
      left: 0;
      transition: all 0.5s ease 0s;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 10px;
          font-size: 17px;
          color: #fff;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          &:hover {
            color: #1369ce;
            background-color: #f7f5ec;
          }
        }
      }
    }
  }
  .our-team:hover .social {
    bottom: 0;
  }
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  .join-us {
    padding-top: 30px;
  }
}

/*====== video-area css ======*/
.video-area{
    background-image: linear-gradient(0deg, #9d50bb 0%, #864cb3 60%, #6e48aa 100%);
    padding: 100px 0;
    a.play-btn {
      display: inline-block;
      width: 70px;
      height: 70px;
      background: #fff;
      color: #7249AC;
      border-radius: 50%;
      line-height: 70px;
      font-size: 20px;
      position: absolute;
      left: 0;
      top:0;
      text-align: center;
    }
  
    .ripple {
      position: relative;
      text-decoration: none;
      color: #fff;
      width: 70px;
      height: 70px;
      background-color: #7249AC;
      margin: 0 auto;
      border-radius: 50%;
      -webkit-animation: ripple 1s linear infinite;
      animation: ripple 1s linear infinite;
    }
  @-webkit-keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
  }
  
  @keyframes ripple {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
    }
  }

  .search {
    position: relative;
    height: 50px;
    &.active {
      .input {
        width: 200px;
      }
      .search-btn {
        transform: translateX(198px);
      }
    }
    .input {
      background-color: #fff;
      border: 0;
      font-size: 1rem;
      padding: 15px;
      height: 50px;
      width: 50px;
      transition: width 0.3s ease;
      &:focus {
        outline: none;
      }
    }
    .search-btn {
      background-color: #fff;
      border: 0;
      cursor: pointer;
      font-size: 24px;
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px;
      transition: transform 0.3s ease;
      &:focus {
        outline: none;
      }
    }
  }

}

/**-------testmonial-box css Area -----**/
#testmonial-box {
  padding: 100px 0;
  background: #F4F4F4;
  .testmonial-container {
    background-color: #476ce4;
    color: #fff;
    padding: 50px 80px;
    position: relative;
    border-radius: 15px;
    transition: height 0.3s ease;
    .fa-quote {
      color: rgba(255, 255, 255, 0.3);
      font-size: 28px;
      position: absolute;
      top: 70px;
    }
    .fa-quote-right {
      left: 40px;
    }
    .fa-quote-left {
      right: 40px;
    }
    .test-title {
      font-weight: 700;
      font-size: 28px;
      color: #fff;
      font-style: italic;
    }
    .testmonial-content {
      line-height: 150%;
      text-align: justify;
      font-style: italic;
    }
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      .user-image {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      .user-details {
        margin-left: 10px;
        .username {
          padding: 0;
          margin-bottom: 0;
          color: #fff;
          text-transform: capitalize;
        }
        .role {
          font-weight: normal;
          margin: 1px 0;
          padding: 0;
          text-transform: capitalize;
        }
      }
    }
    .progress-bar {
      background: linear-gradient(110deg, rgba(0, 255, 255) 0%, rgba(0,0,255) 100%);
      height: 4px;
      width: 100%;
      margin-bottom: 20px;
      animation: grow 10s linear infinite;
      transform-origin: left;
    }

    @keyframes grow {
      0% {
        transform: scaleX(0);
      }
    }

  }


  @media (max-width: 768px) {
    .testmonial-container {
      padding: 20px 30px;
    }
    .fa-quote {
      display: none;
    }
  }
}



#cuont {
  padding: 100px 0;
  background-color: #f7f5ec;
  .CountDown-box{
    text-align: center;
    transition: 0.5s;
    .countDown-number{
      color: #2799ff;
      margin: 0;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .Neumorphism{
        position: relative;
        // display:flex;
        // flex-direction: column; 
        // justify-content: center;
        width: 70px;
        height: 45px;
        // padding: 3px;
        margin:0 auto; 
        transition: 0.5s;
        // box-shadow:  -10px -10px 30px #FFF,10px 10px 30px #AEAEC040;
        border-radius: 1rem;
        // background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
      }
      
    }
    .progress{
      max-width: 50px;
      width: 100%;
      margin: 0 auto;
      left: 50%;
      transform: translate(-50%);
      position: absolute;
      bottom: 0;
      background: transparent;
    }
  }


}


// #slide {
//   padding: 100px 0;
//   .video-container {
//     width: 800px;
//     border-radius: 24px;
//     margin: 0 auto;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
  
//   video {
//     width: 100%;
//     height: 100%;
//     border-radius: 24px;
//   }
  
//   .video-controls {
//     right: 0;
//     left: 0;
//     padding: 10px;
//     position: absolute;
//     bottom: 0;
//     transition: all 0.2s ease;
//     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
//     border-bottom-left-radius: 24px;
//       border-bottom-right-radius: 24px;
//   }
  
//   .video-controls.hide {
//     opacity: 0;
//     pointer-events: none;
//   }
  
//   .video-progress {
//     position: relative;
//     height: 8.4px;
//     margin-bottom: 10px;
    
//   }
  
//   progress {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     border-radius: 2px;
//     width: 100%;
//     height: 8.4px;
//     pointer-events: none;
//     position: absolute;
//     top: 0;
//   }
  
//   progress::-webkit-progress-bar {
//     background-color: #474545;
//     border-radius: 2px;
//   }
  
//   progress::-webkit-progress-value {
//     background: var(--youtube-red);
//     border-radius: 2px;
//   }
  
//   progress::-moz-progress-bar {
//     border: 1px solid var(--youtube-red);
//     background: var(--youtube-red);
//   }
  
//   .seek {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     cursor: pointer;
//     margin: 0;
//   }
  
//   .seek:hover+.seek-tooltip {
//     display: block;
//   }
  
//   .seek-tooltip {
//     display: none;
//     position: absolute;
//     top: -50px;
//     margin-left: -20px;
//     font-size: 12px;
//     padding: 3px;
//     content: attr(data-title);
//     font-weight: bold;
//     color: #fff;
//     background-color: rgba(0, 0, 0, 0.6);
//   }
  
//   .bottom-controls {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
  
//   .left-controls {
//     display: flex;
//     align-items: center;
//     color: #fff;
//   }
  
//   .volume-controls {
//     display: flex;
//     align-items: center;
//     margin-right: 10px;
//   }
  
//   .volume-controls input {
//     width: 100px;
//     opacity: 1;
//     transition: all 0.4s ease;
//   }
  
//   .volume-controls:hover input, .volume-controls input:focus {
//     width: 100px;
//     opacity: 1;
//   }
  
//   button {
//     cursor: pointer;
//     position: relative;
//     margin-right: 7px;
//     font-size: 12px;
//     padding: 3px;
//     border: none;
//     outline: none;
//     background-color: transparent;
//   }
  
//   button * {
//     pointer-events: none;
//   }
  
//   button::before {
//     content: attr(data-title);
//     position: absolute;
//     display: none;
//     right: 0;
//     top: -50px;
//     background-color: rgba(0, 0, 0, 0.6);
//     color: #fff;
//     font-weight: bold;
//     padding: 4px 6px;
//     word-break: keep-all;
//     white-space: pre;
//   }
  
//   button:hover::before {
//     display: inline-block;
//   }
  
//   .fullscreen-button {
//     margin-right: 0;
//   }
  
//   .pip-button svg {
//     width: 26px;
//     height: 26px;
//   }
  
//   .playback-animation {
//     pointer-events: none;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-left: -40px;
//     margin-top: -40px;
//     width: 80px;
//     height: 80px;
//     border-radius: 80px;
//     background-color: rgba(0, 0, 0, 0.6);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 0;
//   }
  
//   input[type=range] {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     height: 8.4px;
//     background: transparent;
//     cursor: pointer;
//   }
  
//   input[type=range]:focus {
//     outline: none;
//   }
  
//   input[type=range]::-webkit-slider-runnable-track {
//     width: 100%;
//     cursor: pointer;
//     border-radius: 1.3px;
//     -webkit-appearance: none;
//     transition: all 0.4s ease;
//   }
  
//   input[type=range]::-webkit-slider-thumb {
//     height: 16px;
//     width: 16px;
//     border-radius: 16px;
//     background: var(--youtube-red);
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-left: -1px;
//   }
  
//   input[type=range]:focus::-webkit-slider-runnable-track {
//     background: transparent;
//   }
  
//   input[type=range].volume {
//     height: 5px;
//     background-color: #fff;
//   }
  
//   input[type=range].volume::-webkit-slider-runnable-track {
//     background-color: transparent;
//   }
  
//   input[type=range].volume::-webkit-slider-thumb {
//     margin-left: 0;
//     height: 14px;
//     width: 14px;
//     background: #fff;
//   }
  
//   input[type=range]::-moz-range-track {
//     width: 100%;
//     height: 8.4px;
//     cursor: pointer;
//     border: 1px solid transparent;
//     background: transparent;
//     border-radius: 1.3px;
//   }
  
//   input[type=range]::-moz-range-thumb {
//     height: 14px;
//     width: 14px;
//     border-radius: 50px;
//     border: 1px solid var(--youtube-red);
//     background: var(--youtube-red);
//     cursor: pointer;
//     margin-top: 5px;
//   }
  
//   input[type=range]:focus::-moz-range-track {
//     outline: none;
//   }
  
//   input[type=range].volume::-moz-range-thumb {
//     border: 1px solid #fff;
//     background: #fff;
//   }
  
//   .hidden {
//     display: none;
//   }
  
//   svg {
//     width: 28px;
//     height: 28px;
//     fill: #fff;
//     stroke: #fff;
//     cursor: pointer;
//   }
  
// }

#audi {
  padding: 100px 0;
  
  // body {
  //   background: linear-gradient(to left, #7700aa, #8800ff);
  //   text-align:center;
  //   color:#fff;
  // }
  .glow {
    position: relative;
    width: 700px;
    height: 300px;
    background: -webkit-gradient(linear,left bottom, left top,from(#000000),to(#262626));
    background: -webkit-linear-gradient(bottom,#000000,#262626);
    background: -moz-linear-gradient(bottom,#000000,#262626);
    background: -o-linear-gradient(bottom,#000000,#262626);
    background: linear-gradient(0deg,#000000,#262626);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: -webkit-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: -moz-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: -o-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      -webkit-background-size: 400% 400%;
         -moz-background-size: 400%;
           -o-background-size: 400%;
              background-size: 400%;
      max-width: -webkit-calc(700px + 4px);
      max-width: -moz-calc(700px + 4px);
      max-width: calc(700px + 4px);
      max-height: -webkit-calc(300px + 4px);
      max-height: -moz-calc(300px + 4px);
      max-height: calc(300px + 4px);
      width: -webkit-calc(700px + 4px);
      width: -moz-calc(700px + 4px);
      width: calc(700px + 4px);
      height: -webkit-calc(300px + 4px);
      height: -moz-calc(300px + 4px);
      height: calc(300px + 4px);
      z-index: -1;
      -webkit-animation: animate 20s linear infinite;
         -moz-animation: animate 20s linear infinite;
           -o-animation: animate 20s linear infinite;
              animation: animate 20s linear infinite;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: -webkit-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: -moz-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: -o-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      background: linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
      -webkit-background-size: 400% 400%;
         -moz-background-size: 400%;
           -o-background-size: 400%;
              background-size: 400%;
      max-width: -webkit-calc(700px + 4px);
      max-width: -moz-calc(700px + 4px);
      max-width: calc(700px + 4px);
      max-height: -webkit-calc(300px + 4px);
      max-height: -moz-calc(300px + 4px);
      max-height: calc(300px + 4px);
      width: -webkit-calc(700px + 4px);
      width: -moz-calc(700px + 4px);
      width: calc(700px + 4px);
      height: -webkit-calc(300px + 4px);
      height: -moz-calc(300px + 4px);
      height: calc(300px + 4px);
      z-index: -1;
      -webkit-animation: animate 20s linear infinite;
         -moz-animation: animate 20s linear infinite;
           -o-animation: animate 20s linear infinite;
              animation: animate 20s linear infinite;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
    }

    &::after {
      -webkit-filter: blur(20px);
              filter: blur(20px);
    }
  }



  @-webkit-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  @-moz-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  @-o-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

}


/**-------accordion css Area -----**/
// #animate-nav {
//   /* ====================================
//   accordion css 
//   background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
//   ==================================== */
//   .accordion{ 
//     display: inline-block;
//     text-align: left;
    
    
//     &:hover{
//       .accordion-content{
//         max-height: 300px;
//       }
    
//     }
//   }
  
//   .accordion-content{
//     -webkit-transition: max-height 1s; 
//     -moz-transition: max-height 1s; 
//     -ms-transition: max-height 1s; 
//     -o-transition: max-height 1s; 
//     transition: max-height 1s;  
//     background: #e5feff;
//     overflow: hidden;
//     max-height: 0;
//   }
  
//   .accordion-inner{
//     padding: 0 15px;
//   }
  
//   .accordion-toggle{
//     -webkit-transition: background .1s linear;   
//     -moz-transition: background .1s linear;   
//     -ms-transition: background .1s linear;   
//     -o-transition: background .1s linear;   
//     transition: background .1s linear;   
//     background: #00b8c9;
//     border-radius: 3px;
//     color: #fff;
//     display: block;
//     font-size: 30px;
//     margin: 0 0 10px;
//     padding: 10px;
//     text-align: center;
//     text-decoration: none;
    
//     &:hover{
//       background: darken(#00b8c9, 15%);
//     }
    
//   }
  
// }