.team-section {
    padding-top: 8%;
    padding-bottom: 8%;

.section-title {
        h1{
            text-transform: capitalize;
            font-size: 2.8rem;
            padding-top: 10px;
            color: $h1_color;
        }
        p {
            font-size: 1rem;
            color: $p_color;
        }
        &.no-bg {
            .sub-title { 
                span {
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
        }

        @media (min-width: 1200px) {
            //Extra large
          }
          
            @media (min-width: 992px) and (max-width: 1199px) {
                //Laptop
                h1 {
                    font-size: 2.7rem;
                }
                 p {
                    font-size: .785rem;
                 }
            }
        
          @media (min-width: 768px) and (max-width: 991px)  {
            //Tablet
            h1 {
                font-size: 2.2rem;
            }
             p {
                font-size: .785rem;
             }
          }
          
          @media (min-width: 420px) and (max-width: 767px) {
            //Mobile
                h1 {
                    font-size: 1.8rem;
                }
                 p {
                    font-size: .785rem;
                 }
          }

        .sub-title {
            text-transform: capitalize;
            position: relative;
            display: inline-block;
            z-index: 1;
            padding: 0px 50px; 
    
            &::after {
                position: absolute;
                width: 100%;
                height: 1px;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: #000;
                z-index: -1;            
            }
    
            span {
                  
                display: block;
                padding: 0px 10px;
            }
            @media (min-width: 1200px) {
                //Extra large
              }
              
                @media (min-width: 992px) and (max-width: 1199px) {
                    //Laptop
                }
            
              @media (min-width: 768px) and (max-width: 991px)  {
                //Tablet
              }
              
              @media (min-width: 420px) and (max-width: 767px) {
                //Mobile
                
              }
                        
        }  
    
}

.single-team-member {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        &:hover {
            .member-info { 
                opacity: 1;
                visibility: visible;
                right: 0;
            }
            .member-img {
                filter: saturate(1);  
            }
        }

        .member-img {
            height: 390px;
            width: 100%;
            filter: saturate(0.3);
            transition: all .3s ease-in-out;
            background-size: cover;
            border-bottom-left-radius: 35px;
            border-top-left-radius: 35px;
            margin: 2px 10px;
        }

        .member-info {
            text-align: right;
            position: absolute;
            bottom: 40px;
            right: -50%;
            transition: all .4s ease-in-out;
            opacity: 0;
            visibility: hidden;            

            h3, h5 {
                color: #fff;
                background: #000;
                display: inline-block;
                line-height: 1;
                padding: 20px 30px;
                text-transform: uppercase;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }

            h5 {
                padding: 9px 30px;
                font-size: 16px;
                background: #444;
            }
        }
        @media (min-width: 1200px) {
            //Extra large
          }
          
            @media (min-width: 992px) and (max-width: 1199px) {
                //Laptop
                margin-bottom: 10px;
            }
        
          @media (min-width: 768px) and (max-width: 991px)  {
            //Tablet
            
                margin-bottom: 10px;
            
          }
          
          @media (min-width: 768px) and (max-width: 767px) {
            //Mobile
                margin-bottom: 10px;
          }
        
        
        
}

.sec-title-wrapper {
        padding-right: 75px;

        @media (min-width: 992px) and (max-width: 1199px)  {
            //Laptop
                padding-right: 0;
          }
        @media (min-width: 768px) and (max-width: 991px)  {
            //Tablet
                padding-right: 0;
          }
        @media (min-width: 420px) and (max-width: 767px)  {
            //mobail
                padding-right: 0;
          }
}


.skill-section {
    .section-title {
        .sub-title {
            padding-right: 0;            
        }
    }
}

.skill-wrapper {
    .single-skill {
        margin-top: 40px;

        .progress {
            height: 6px;
            .progress-bar {
                background-color: #000;
            }
        }
    }
}

.single-process-box {
    text-align: center;
    margin-top: 30px;

    .icon {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 30px 60px 0px rgba(71, 71, 71, 0.16);
        width: 80px;
        height: 80px;
        line-height: 80px;
        position: relative;
        display: inline-block;

        span {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: #000;
            display: inline-block;
            border-radius: 50%;
            color: #fff;            
            transform: translate(-50%, 50%);
        }
    }

    .content {
        margin-top: 40px;

        h3 {
            margin-bottom: 15px;
        }

  
    }
    
}

.team-butt {
    margin-top: 50%;
    .btn {
        padding: 20px 35px;
    }
}

@media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
    }

  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .team-butt {
        margin-top: 20%;
        margin-bottom: 8%;
    }
  }
  
  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    
    .team-butt {
        margin-top: 20%;
        margin-bottom: 8%;
    }
  }

}