/**---------- Hero Area start----------**/
.eacf7-address-fields-hero-area {
    padding: 170px 0 100px 0;
    position: relative;
    background: linear-gradient(2deg, #FFF -110.41%, #1E62B9 112.98%);
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/cf7-extended/preview/preview-bg.png");
        opacity: 0.4;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .hero-title-image {
        .vector-left {
            position: absolute;
            top: 0%;
            left: 10%;
        }

        .vector-right {
            position: absolute;
            top: 0%;
            right: 0%;
        }

    }

    .eacf7-extended-hero-content {
        h1 {
            font-size: 3.3rem;
            color: #fff;
            font-weight: bold;
        }

        p {
            font-weight: 400;
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.70);
            line-height: $line_height_p;
            padding: 1rem 0rem;
        }

        a {
            text-decoration: none;
            // margin: 0 10px;
            margin-right: 15px;
            padding: 15px 25px;
            font-size: 1.2rem;
            font-weight: 400;

            i {
                margin-right: 10px;
            }
        }

        .get {
            color: #1E62B9;
            background-color: #fff;
            border: 1px solid #fff;

            border-radius: 8px;
            transition: all linear .4s;

            &:hover {
                background-color: #1E62B9;
                color: #fff;
                transition: all linear .4s;
            }
        }

        .get1 {
            color: #fff;
            border: 1px solid #1E62B9;
            background: #1E62B9;
            border-radius: 8px;
            transition: all linear .4s;

            &:hover {
                background: #fff;
                color: #1E62B9;
                transition: all linear .4s;
            }
        }

        .hero-image {
            display: none;
        }

    }

    .header-img {
        display: block;

        img {
            filter: drop-shadow(0px 4px 94px rgba(0, 0, 0, 0.25));
        }

        position: relative;

        .my-btn-primary {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(1px 1px 40px rgba(30, 98, 185, 0.60));
            width: 80px;
            height: 80px;
            line-height: 80px;
            background: #1E62B9;
            border-radius: 50%;
            text-align: center;

            i {
                color: #fff;
                font-size: 20px;
            }
        }

        .ripple {
            text-decoration: none;
            color: #fff;
            width: 80px;
            height: 80px;
            background-color: #1E62B9;
            border-radius: 50%;
            -webkit-animation: ripple 1s linear infinite;
            animation: ripple 1s linear infinite;
        }

        @-webkit-keyframes ripple {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
                box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
            }

            100% {
                -webkit-box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
                box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
            }
        }

        @keyframes ripple {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
                box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
            }

            100% {
                -webkit-box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
                box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
            }
        }

    }

    .header-img-mobile {
        display: none;

        img {
            filter: drop-shadow(0px 4px 94px rgba(0, 0, 0, 0.25));
        }

        position: relative;

        .my-btn-primary {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(1px 1px 40px rgba(30, 98, 185, 0.60));
            width: 80px;
            height: 80px;
            line-height: 80px;
            background: #1E62B9;
            border-radius: 50%;
            text-align: center;

            i {
                color: #fff;
                font-size: 20px;
            }
        }

        .ripple {
            text-decoration: none;
            color: #fff;
            width: 80px;
            height: 80px;
            background-color: #1E62B9;
            border-radius: 50%;
            -webkit-animation: ripple 1s linear infinite;
            animation: ripple 1s linear infinite;
        }

        @-webkit-keyframes ripple {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
                box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
            }

            100% {
                -webkit-box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
                box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
            }
        }

        @keyframes ripple {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
                box-shadow: 0 0 0 0 rgba(30, 98, 185, 0.3),
                    0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3);
            }

            100% {
                -webkit-box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
                box-shadow: 0 0 0 10px rgba(30, 98, 185, 0.3),
                    0 0 0 30px rgba(30, 98, 185, 0.3),
                    0 0 0 60px rgba(30, 98, 185, 0.3),
                    0 0 0 90px rgba(30, 98, 185, 0);
            }
        }

    }




    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 120px 0 50px 0;

        .eacf7-extended-hero-content {
            h1 {
                font-size: 2.2rem;
            }

            p {
                padding: 1rem 0;
                font-size: .9rem;
            }

            a {
                margin: 0px 3px;
                padding: 15px 18px;
                font-size: 0.9rem;
            }
        }

        .hero-how-butt {
            left: 39%;
        }

        .hero-title-image {
            .icon1 {
                top: 27%;
                left: 3%;
                width: 49px;
            }

            .icon2 {
                left: 10%;
                bottom: 41%;
                width: 49px;
            }

            .icon3 {
                top: 27%;
                right: 6%;
                width: 49px;
            }

            .icon4 {
                position: absolute;
                right: 10%;
                bottom: 41%;
                width: 49px;
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 110px 0 50px 0;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        .eacf7-extended-hero-content {
            text-align: center;

            h1 {
                font-size: 1.5rem;
                margin-bottom: 30px;
            }

            p {
                padding: 1.5rem 0;
                font-size: .9rem;
            }

            a {
                padding: 10px 16px;
                margin: 0 1px;
            }

            .header-img-mobile {
                display: block;

                .my-btn-primary {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;

                    i {
                        color: #fff;
                        font-size: 20px;
                        /* margin-right: 0; */
                        /* line-height: 40px; */
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }

                .ripple {
                    width: 80px;
                    height: 80px;
                    line-height: 70px;
                }
            }

        }

        .header-img {
            display: none;
        }
    }

}

/* Modal styles for video not show start*/
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        width: auto;

        .modal-content-area {
            p {
                margin: 0;
                color: #151826;
                // font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: $line_height_h1;
                padding-top: 20px;
            }
        }

        .close {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 28px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    @media (max-width: 767.98px) {
        .modal-content{
            .modal-content-area {
                p {
                    font-size: 19px;
                }
             }
        }
        
    }

}
/* Modal styles for video not show end*/

/**---------- address fields form Area start----------**/
.address-fields-form-area {
    padding: 50px 0 100px 0;

    .form-area-head {
        margin-bottom: 30px;
        padding-top: 30px;

        h3 {
            color: #212121;
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            line-height: $line_height_h1;
        }

        p {
            color: rgba(33, 33, 33, 0.70);
            font-size: 18px;
            font-weight: 400;
            line-height: $line_height_p;
        }
    }

    .form-area {
        padding: 40px;
        border-radius: 20px;
        border: 1px solid #ddd;

        .form-button-area {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;

            .show-buttons {
                color: #1E62B9;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                padding: 5px 10px;
                border-radius: 6px;
                background: transparent;
                border: 1px solid #1E62B9;
                transition: linear .4s;

                i {
                    margin-right: 10px;
                }

                &:hover {
                    background: #1E62B9;
                    color: #fff;
                }
            }

            .copy-buttons {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                padding: 5px 10px;
                border-radius: 6px;
                background: #1E62B9;
                border: 1px solid #1E62B9;
                transition: linear .4s;

                i {
                    margin-right: 10px;
                }

                &:hover {
                    background: #fff;
                    color: #1E62B9;
                }
            }
        }

        form {
            .field {
                label {
                    display: block;
                    color: #212121;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: $line_height_p;
                    margin-bottom: 10px;
                }

                input {
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid rgba(147, 156, 169, 0.70);
                    background: #EEF3FA;
                    padding: 14px 5px;
                    margin-bottom: 10px;
                }

                span {
                    color: red;
                }
            }

            .field-submit-button {
                border-radius: 5px;
                background: #1E62B9;
                padding: 10px 30px;
                color: #fff;
                font-family: Inter;
                font-size: 18px;
                font-weight: 500;
                line-height: $line_height_p;
                margin-top: 20px;
                transition: linear .4s;
                border: none;
                filter: drop-shadow(1px 1px 40px rgba(30, 98, 185, 0.60));

                &:hover {
                    background: #fff;
                    color: #1E62B9;

                }
            }
        }
    }

    .code-display {
        display: none;
        background: #f9f9f9;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ddd;
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .eacf7-form {
        display: block;
        /* Form visible by default */
    }

    .form-code {
        display: none;
        /* Code hidden by default */
        margin-top: 20px;

        .code-content {
            border-radius: 10px;
        }

        pre {
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 0px 0 40px 0;

        .form-area-head {
            margin-bottom: 30px;
            padding-top: 0;

            h3 {
                font-size: 32px;
                padding-top: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 10px 0 40px 0;

        .form-area-head {
            margin-bottom: 30px;
            padding-top: 0;

            h3 {
                font-size: 22px;
                padding-top: 30px;
            }

            p {
                font-size: 14px;
            }
        }

        .form-area {
            padding: 15px;
        }
    }

}

/**---------- testimonial scss start----------**/
.eacf7-testimonials {
    background-color: rgba(0, 0, 0, 0.01);
    padding: 5rem 0;

    .section-head {
        h2 {
            color: #212121;
            font-family: Inter;
            font-size: 36px;
            font-weight: 700;
        }

        p {
            color: #888;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.48px;
            text-transform: uppercase;
        }
    }

    .eacf7-testimonial {
        margin-top: 30px;
    }

    .slick-dots {
        text-align: center;
        margin-top: 20px;
        padding-left: 0;

        li {
            list-style-type: none;
            background-color: rgba(30, 97, 185, 0.3);
            margin: 0 8px;
            width: 16px;
            height: 16px;
            line-height: 14px;
            display: inline-block;
            border-radius: 50%;
            color: transparent;
            cursor: pointer;
        }

        button {
            width: 12px;
            height: 12px;
            background-color: #1E62B9;
            color: transparent;
            border-radius: 50%;
            line-height: 12px;
            border: 0;
            opacity: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

    }

    .slick-dots {
        li.slick-active {
            border: 1px solid #1E62B9;

            button {
                opacity: 1;
            }
        }
    }


    .eacf7-arrows {
        text-align: right;

        span {
            // width: 40px;
            // height: 40px;
            // line-height: 40px;
            background-color: #1E62B9;
            color: #fff !important;
            text-align: center;
            border-radius: 8px;
            padding: 12px 16px;
            border: 1px solid #1E62B9;
            transition: linear .4s;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.1);
            }
        }

        .eacf7-left {
            background: transparent;
            color: #1E62B9 !important;
            border: 1px solid #1E62B9;

            &:hover {
                background-color: #1E62B9;
                color: #fff !important;
            }
        }

        .eacf7-right {
            &:hover {
                background: transparent;
                color: #1E62B9 !important;

            }
        }
    }

    .eacf7-testimonial-items {

        .eacf7-testimonial-item {
            background-color: #fff;
            border-radius: 20px;
            padding: 20px;
            margin: 0px 10px 20px 10px;
            border: 1px solid #939CA9;
            height: auto;
            // box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.1);
        }

        .eacf7-testi-head {
            .man-img {
                border-radius: 50px;
            }

            .title-name {
                img {
                    display: inline-block;
                }

                .star {
                    i {
                        color: #F2994A;
                        margin-right: 8px;
                    }

                    .review {
                        span {
                            font-weight: 400;
                            font-size: .8rem;
                            line-height: $line_height_p;
                            color: #fff;
                            margin-left: 10px;
                            display: block;
                        }
                    }
                }

                h3 {
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: $line_height_p;
                    color: #000;
                    margin-top: 10px;
                }
            }

        }

        .icon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50px;
            color: #fff;


            &.icon-green {
                background: linear-gradient(153.63deg, #1E62B9 3.43%, #1E62B9 90.47%);
                //   background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
            }

            &.icon-pink {
                background: linear-gradient(153.63deg, #1E62B9 3.43%, #1E62B9 90.47%);
                //   background: linear-gradient(143.38deg, #FFCDA3 4.99%, #FD6C87 94.05%);
            }

            &.icon-purple {
                background: linear-gradient(153.63deg, #1E62B9 3.43%, #1E62B9 90.47%);
            }
        }


        p {
            font-size: 1rem;
            color: $p_color;
            font-weight: 400;
            font-style: italic;
            line-height: $line_height_p;
            margin-top: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .eacf7-testimonial-user {
            .fa-user {
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #1E62B9;
                background-color: #F6F7FB;
                // background-color: #0b0a21;
                text-align: center;
                border-radius: 50px;
            }

            span {
                font-weight: 700;
                font-size: 1rem;
                line-height: $line_height_h1;
                color: $h1_color;
                padding-left: 10px;
                padding-top: 0px;
            }
        }
    }


    @media (max-width: 1199.98px) {
        .section-head {
            h2 {
                font-size: 3rem;
            }
        }

        .left {
            left: -15px;
        }

        .right {
            right: -15px;
        }
    }

    @media (max-width: 991.98px) {
        .section-head {
            h2 {
                font-size: 3rem;
            }
        }

        .left {
            left: -15px;
        }

        .right {
            right: -15px;
        }
    }

    @media (max-width: 767.98px) {
        padding: 30px 0;

        .section-head {
            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: .9rem;
            }
        }

        .slick-dots {
            li {
                margin: 0 6px;
            }
        }

        .eacf7-arrows span {
            padding: 9px 8px;
            font-size: 12px;
        }

        // .testimonial {
        //     padding: 3rem 0;
        // }

        .testimonial-items-cf7 {
            .testimonial-item {
                height: auto;
            }
        }
    }

}
/**---------- testimonial scss end----------**/

/**---------- cta area scss start ----------**/
.eacf7-cta {
    //     background: #1E3F69 url("../images/cf7-extended/inner-page-cta.png") no-repeat 0 0;
    // background-size: cover;
    background: linear-gradient(rgba(30, 63, 105, 0.7) 100%, #fff 0%), url("../images/cf7-extended/inner-page-cta.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    position: relative;
    z-index: 11;
    background-color: rgba(30, 97, 185, 0.1);

    // margin-bottom: 100px;
    // width: 80%;
    // margin: auto;
    .cta-content {
        h3 {
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 2.5rem;
            color: #fff;
            line-height: $line_height_h1;
        }

        p {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 1rem;
            color: #F9FAFF;
            padding-right: 5rem;
        }
    }

    .cta-actions {
        a {
            text-decoration: none;
            padding: 15px 25px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 1rem;
            line-height: $line_height_h1;
            transition: linear .4s;
            margin: 0 10px;

            i {
                margin-right: 10px;
            }
        }

        .bt {
            background-color: #1E62B9;
            color: #fff;
            transition: linear .4s;

            &:hover {
                background-color: #fff;
                color: #1E62B9;
                transition: linear .4s;
                box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
            }

        }

        .bt1 {
            background-color: #fff;
            color: #1E62B9;
            margin-left: 40px;
            transition: linear .4s;

            &:hover {
                background-color: #1E62B9;
                color: #fff;
                transition: linear .4s;
                box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
            }
        }
    }

    @media(max-width: 991.98px) {
        .cta-content {
            p {
                padding-right: 0;
            }
        }
    }

    @media(max-width: 767.98px) {
        padding: 30px 0;

        .cta-content {
            h3 {
                font-size: 1.5rem;
            }

            p {
                padding-right: 0;
                font-size: .9rem;
            }
        }

        .cta-actions {
            a {
                padding: 10px 18px;
            }

            .bt1 {
                margin-left: 0px;
                margin-right: 4px;
            }
        }
    }

}
/**---------- cta area scss end ----------**/

/**---------- cta hight light area scss start ----------**/
body {
    background: transparent;
    transition: linear 0.4s;
}

body.active-bg {
    background: linear-gradient(224deg, #297FFF 0%, #110054 100%);
    opacity: 1;
    visibility: visible;
    transition: linear 0.4s;
}

/* Add this to ensure inactive state is styled */
body:not(.active-bg) {
    background: transparent;
    opacity: 1;
    visibility: visible;
}

body.active-bg .eacf7-cta {
    transition: linear 0.4s;
    transform: scale(.95);
    border-radius: 12px;

    .cta-content {
        h3 {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        p {
            margin-bottom: 0;
            font-size: 1.4rem;
            padding-right: 0rem;
        }
    }

    .cta-actions {
        a {
            padding: 25px 37px;
            border-radius: 5px;
            font-size: 1.2rem;
            /* margin: 0 10px; */
            margin-left: 10px;
        }


        // .bt {

        // }

        .bt1 {
            margin-left: 0px;
        }
    }

    @media(max-width: 767.98px) {
        padding: 30px 0;

        .cta-content {
            h3 {
                font-size: 1.5rem;
            }

            p {
                padding-right: 0;
                font-size: .9rem;
            }
        }

        .cta-actions {
            a {
                padding: 10px 18px;
                margin-left: 0;
            }

            .bt1 {
                margin-left: 0px;
                margin-right: 4px;
            }
        }
    }
}

/**---------- cta hight light area scss end ----------**/