/**---------- Hero Area ----------**/
.integrate-google-drive-hero-area {
  background: url("../images/google-drive/integrate-hero-bg.png") no-repeat bottom / cover;
  padding: 200px 0 300px 0;

  .hero-content {
    h1 {
      font-size: 3.5rem;
      color: $h1_color;
      font-weight: bold;

      & span {
        color: #01AA47;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.2rem;
      color: $p_color;
      line-height: 150%;
      padding: 2rem 1rem;
    }

    a {
      text-decoration: none;
      margin: 0 10px;
      padding: 15px 35px;
      font-size: .9rem;
      font-weight: 600;
      display: inline-flex;
    }

    .get {
      color: #fff;
      background-color: #01AA47;
      border: 1px solid #01AA47;

      border-radius: 8px;
      transition: all linear .4s;

      &:hover {
        background-color: transparent;
        color: #01AA47;
        transition: all linear .4s;
      }
    }

    .get1 {
      color: #01AA47;
      border: 1px solid #01AA47;
      border-radius: 8px;
      transition: all linear .4s;

      &:hover {
        background-color: #01AA47;
        color: #fff;
        transition: all linear .4s;
      }
    }

    position: relative;

    .hero-how-butt {
      position: absolute;
      top: 33%;
      left: 42%;

      .my-btn-primary {
        i {
          background: #00BB45;
          width: 80px;
          height: 80px;
          line-height: 80px;
          border-radius: 50%;
          border: 2px solid #08CD87;
          color: #fff;
          font-size: 25px;
          cursor: pointer;
        }
      }


      /**---------- popup video area scss start ----------**/
      .modal {
        top: 4%;
      }

      .modal-dialog {
        max-width: 950px;
        height: auto;
        margin: 1.75rem auto;

        .modal-content {
          background-color: transparent;
          border: none;

          .modal-header {
            border: none;

            .btn-close {
              background-color: #fff;
            }
          }

          .modal-body {
            iframe {
              border-radius: 10px;
            }
          }
        }
      }

      /**---------- popup video area scss end ----------**/
    }

    .ripple {
      text-decoration: none;
      color: #fff;
      width: 80px;
      height: 80px;
      background-color: #08CD87;
      border-radius: 50%;
      -webkit-animation: ripples 1s linear infinite;
      animation: ripples 1s linear infinite;
    }

    @-webkit-keyframes ripples {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
        box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }

    @keyframes ripples {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
        box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }

    .hero-image {
      display: none;
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .hero-content {
      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 2rem 0;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 85px 0 145px 0;

    .hero-content {
      h1 {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      p {
        padding: 1.5rem 0;
        font-size: .9rem;
        margin-bottom: 0;
      }

      a {
        padding: 10px 24px;
        margin: 0 1px;
      }


      .hero-how-butt {
        position: absolute;
        top: 25%;
        left: 36%;

        .my-btn-primary {
          margin: 0 !important;
          padding: 0 !important;

          i {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1rem;
          }
        }

        .modal-dialog {
          max-width: 450px;
          height: auto;
          margin: 1.75rem auto;

          .modal-content {

            .modal-body {
              iframe {
                max-width: 300px;
                max-height: 300px;
              }
            }
          }
        }

      }

      .ripple {
        width: 50px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
      }

      .hero-image {
        display: block;
        margin-right: -10px;
      }

    }
  }

}

.integrate-google-drive-hero-image {
  display: block;

  .hero-image {
    margin: -250px 0 0 50px;
    position: relative;

    &:after {
      content: "";
      background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 90px;
      z-index: -1;
      bottom: -100px;
      left: 0;
      box-shadow: inset 0px 0px 40px 20px white;
      opacity: .08;
    }
  }

  @media (max-width: 1199.98px) {
    .hero-image {
      margin-left: -50px;
    }
  }

  @media (max-width: 767.98px) {
    display: none;

    .hero-image {
      margin-left: 0;
    }
  }


  position: relative;

  .hero-how-butt {
    position: absolute;
    top: 33%;
    left: 42%;

    .my-btn-primary {
      i {
        background: #08CD87;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        border: 2px solid #08CD87;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
      }
    }


    /**---------- popup video area scss start ----------**/
    .modal {
      top: 4%;
    }

    .modal-dialog {
      max-width: 950px;
      height: auto;
      margin: 1.75rem auto;

      .modal-content {
        background-color: transparent;
        border: none;

        .modal-header {
          border: none;

          .btn-close {
            background-color: #fff;
          }
        }

        .modal-body {
          iframe {
            border-radius: 10px;
          }
        }
      }
    }

    /**---------- popup video area scss end ----------**/
  }

  .ripple {
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 80px;
    background-color: #BBE897;
    border-radius: 50%;
    -webkit-animation: ripples 1s linear infinite;
    animation: ripples 1s linear infinite;
  }

  @-webkit-keyframes ripples {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
      box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
    }

    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
    }
  }

  @keyframes ripples {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
      box-shadow: 0 0 0 0 rgba(8, 205, 136, 0.3), 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3);
    }

    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      box-shadow: 0 0 0 10px rgba(8, 205, 136, 0.3), 0 0 0 30px rgba(8, 205, 136, 0.3), 0 0 0 60px rgba(8, 205, 136, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
    }
  }




}

/**---------- integrate-google-drive-feature-area scss ----------**/

.integrate-google-drive-features {
  padding: 100px 0;

  .section-head {

    // margin-bottom: 50px;
    h1 {
      font-weight: 700;
      font-size: 3.5rem;
      color: $h1_color;
      margin-bottom: 20px;

      & span {
        color: #01AA47;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: $p_color;
      // padding: 2rem 5rem;
      max-width: 700px;
      margin: auto;
    }

  }

  .feature-item-content {
    .feature-item-img-mobile {
      display: none;
    }
  }

  .feature-google-photos {
    .feature-item-img {
      //margin-right: 60px;
    }
  }

  .feature-item {
    padding: 70px 0;
    position: relative;

    &:after {
      content: "";
      background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
      width: 300px;
      height: 100%;
      position: absolute;
      border-radius: 90px;
      z-index: -1;
      top: 0;
      left: -50px;
      box-shadow: inset 0px 0px 40px 20px white;
      opacity: .08;
    }

    &:before {
      content: "";
      background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
      width: 300px;
      height: 100%;
      position: absolute;
      border-radius: 90px;
      z-index: -1;
      top: 0;
      right: -50px;
      box-shadow: inset 0px 0px 40px 20px white;
      opacity: .08;
    }

    .feature-item-img {
      // img {
      //   box-shadow: 6px 6px 20px rgb(0, 187, 0.7);
      // }
    }

    .new-text {
      border-radius: 5px;
      background: #00BB45;
      padding: 7px 18px;
      color: #fff;
      margin-left: 10px;
      padding-right: 10px;
    }

    .google-photos-icon {
      display: none;
    }

    .review-approve-module-icon,
    .list-files-icon {
      display: none;
    }

    .feature-title {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
      // text-transform: capitalize;
      padding-top: 20px;
      margin-bottom: 20px;
    }

    .feature-description {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.7;
      color: $p_color;
    }

    .feature-demo-btn {
      text-decoration: none;
      font-weight: 600;
      font-size: .9rem;
      line-height: 19px;
      color: #fff;
      text-transform: capitalize;
      background-color: #01AA47;
      padding: 15px 30px;
      border-radius: 8px;
      margin-top: 2rem;
      margin-right: 10px;
      display: inline-block;
      width: max-content;
      transition: all linear .4s;

      &:hover {
        background-color: #fff;
        color: #01AA47;
        transition: all linear .4s;
        box-shadow: $color_primary 0px 2px 8px 0px;
        border-color: transparent;
      }

    }

    .feature-video-btn {
      text-decoration: none;
      font-weight: 600;
      font-size: .9rem;
      line-height: 19px;
      color: #01AA47;
      text-transform: capitalize;
      background-color: transparent;
      border: 1px solid #01AA47;
      padding: 9px 20px;
      border-radius: 8px;
      margin-top: 2rem;
      display: inline-block;
      width: max-content;
      transition: all linear .4s;
      margin-top: 2rem;

      i {
        text-align: center;
        background: transparent;
        width: 30px;
        height: 30px;
        line-height: 29px;
        border-radius: 50%;
        border: 1px solid #01AA47;
        color: #01AA47;
        font-size: 13px;
        cursor: pointer;
        margin-right: 10px;
      }

      &:hover {
        background-color: #01AA47;
        color: #fff;
        transition: all linear .4s;
        box-shadow: $color_primary 0px 2px 8px 0px;
        border-color: transparent;

        i {
          border-color: #fff;
          color: #fff;
        }
      }

    }

    .feature-integrations {
      display: flex;
      flex-wrap: wrap;

      span {
        font-weight: 500;
        font-size: .9rem;
        line-height: 150%;
        color: $h1_color;
        text-transform: capitalize;
        margin-right: 1rem;
        margin-bottom: 15px;
      }

      .fa-check {
        color: #1FA463;
        border: 2px solid #1FA463;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border-radius: 50px;
        margin: 0 6px;
        text-align: center;
        font-size: 12px;
      }



    }


    &.feature-media-library {
      .feature-item-content {
        //padding-left: 5rem;
      }
    }

    &.feature-file-browser {
      .feature-item-img {
        position: relative;

        &:after {
          content: "";
          background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
          width: 300px;
          height: 100%;
          position: absolute;
          border-radius: 90px;
          z-index: -1;
          top: -50px;
          left: 0;
          box-shadow: inset 0px 0px 40px 20px white;
          opacity: .08;
        }
      }

      .feature-item-content {
        //padding-left: 3rem;
      }


    }

    &.feature-file-uploader {
      .feature-item-content {
        //padding-left: 3rem;
      }
    }

    &.feature-shortcode-builder {
      .feature-item-content {
        //padding-left: 3rem;
      }
    }

    &.feature-photo-gallery {
      .feature-item-img {
        //padding-left: 3rem;
      }
    }

    &.feature-multiple-accounts {
      background: #F5FCF4;
      //padding: 3rem;
      border-radius: 1.5rem;
    }

    &.feature-page-builder {
      margin: 0;

      .feature-item-img {
        // text-align: center;
        display: flex;
      }
    }

    &.feature-form {
      margin: 0;
      padding: 0;

      // .feature-item-img {
      //   text-align: center;
      // }

    }

    &.flex-row-reverse {
      .feature-item-content {
        //padding-left: 0;
        //padding-right: 20%;
      }
    }

    .feature-icon-new {
      display: flex;
      align-items: center;
    }
  }

  .feature-review-approve-module,
  .feature-list-files,
  .feature-page-builder,
  .feature-media-player,
  .feature-form {
    .feature-video-btn {
      display: none;
    }
  }

  .integration-btn {
    padding-top: 40px;

    .feature-integration-btn {
      text-decoration: none;
      font-weight: 600;
      font-size: .9rem;
      line-height: 19px;
      color: #fff;
      text-transform: capitalize;
      background-color: #01AA47;
      padding: 15px 30px;
      border-radius: 8px;
      margin-top: 2rem;
      display: block;
      width: max-content;
      transition: all linear .4s;

      &:hover {
        background-color: #fff;
        color: #01AA47;
        transition: all linear .4s;
        box-shadow: $color_primary 0px 2px 8px 0px;
        border-color: transparent;
      }

    }
  }

  // @media (min-width: 1400px) {
  //   .feature-item {
  //     &.flex-row-reverse {
  //       .feature-item-content {
  //         padding-left: 60px;
  //       }
  //     }
  //   }
  // }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .feature-item {
      &:after {
        left: 0px;
      }

      &:before {
        right: 0px;
      }

    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .section-head {
      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 2rem 0;
      }
    }

    .feature-google-photos {
      .feature-item-img {
        margin-right: 0px;
      }
    }

    .feature-media-library {
      .feature-item-content {
        padding-left: 1rem !important;
      }
    }

    .feature-item {
      .feature-title {
        font-size: 2rem;
      }

    }

    .feature-item-content {
      padding-right: 0 !important;
      margin-top: 40px;
    }

    .feature-shortcode-builder {
      .feature-item-content {
        padding-left: 0 !important;
      }
    }

    .feature-item {
      &:after {
        left: 0px;
      }

      &:before {
        right: 0px;
      }

    }
  }

  @media(max-width: 767.98px) {
    padding: 0 0 20px 0;
    margin-top: -100px;

    .section-head {
      h1 {
        font-size: 1.5rem;
      }

      p {
        // padding: 2rem 0;
        font-size: .9rem;
      }
    }

    .feature-google-photos {
      .feature-item-img {
        margin-right: 0px;
      }

      .feature-item-img-mobile {
        img {
          margin-right: -35px;
        }
      }
    }

    .feature-media-library {
      .feature-item-content {
        padding-left: 0rem;
      }
    }

    .feature-photo-gallery {
      .feature-item-img {
        padding-left: 0 !important;
      }
    }

    .feature-item {
      padding: 20px 0;

      .feature-item-img {
        display: none !important;
      }

      .feature-title {
        font-size: 1.2rem;
        margin-bottom: 0px;
        padding-top: 12px;
      }

      .feature-integrations {
        justify-content: center;

        span {
          margin-right: .5rem;
          font-size: .8rem;
        }
      }

      .feature-demo-btn {
        margin-left: auto;
        margin-right: auto;
      }

      .feature-item-content {
        padding: 0 !important;

        // margin-top: 40px;
        // img {
        //   width: 45px;
        // }

        .feature-item-img-mobile {
          display: block;
          margin: 15px 0;
          overflow: hidden;
          // img {
          //   margin-left: -35px;
          // }
        }
      }

      &.feature-media-library {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-left: -45px;
            }
          }
        }
      }

      &.feature-file-browser {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-right: -39px;
            }
          }
        }
      }

      &.feature-file-uploader {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            // img {
            //   margin-right: 32px;
            // }
          }
        }
      }

      &.feature-gallery {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-right: -35px;
            }
          }
        }
      }

      &.feature-slider-carousel {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-left: -44px;
            }
          }
        }
      }

      &.feature-file-uploader {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-left: -6px;
            }
          }
        }
      }

      &.feature-shortcode-builder {
        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-left: -10px;
            }
          }
        }
      }

      &.feature-multiple-accounts {
        padding: 1rem;
        border-radius: 1rem;

        .feature-item-content {

          .feature-item-img-mobile {
            overflow: hidden;

            img {
              margin-right: -22px;
            }
          }
        }
      }

      .integration-btn {
        text-align: center;
        display: inline-block;

        .feature-integration-btn {
          text-align: center;
          padding: 15px 20px;
        }
      }
    }

    .integration-btn {
      .feature-integration-btn {
        margin: 0 auto;
      }
    }

    .feature-item {
      .feature-description{
        margin-bottom: 0px;
      }
      &:after {
        left: 0px;
      }

      &:before {
        right: 0px;
      }

    }

    .feature-icon-new {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

/**---------- WooCommerce Support ----------**/
.woocommerce-support {
  background-color: #F5FCF4;
  padding: 90px 0;
  position: relative;

  .vector4 {
    position: absolute;
    top: 15%;
    right: 0;
  }

  .feature-head {
    margin-bottom: 50px;
    position: relative;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: $h1_color;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: $p_color;
      // padding: 15px 5rem;
      max-width: 700px;
    }
  }

  &:before {
    content: "";
    background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 90px;
    top: 40%;
    left: 0;
    box-shadow: inset 0px 0px 40px 20px white;
    opacity: .08;
  }

  &:after {
    content: "";
    background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 90px;
    top: 40%;
    right: 0;
    box-shadow: inset 0px 0px 40px 20px white;
    opacity: .08;
  }

  @media (max-width: 1199.98px) {
    .feature-head {
      h1 {
        margin-bottom: 20px;
        font-size: 2.8rem;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 30%;
    }

    &::after {
      width: 200px;
      height: 200px;
    }

    .feature-head {
      margin-bottom: 20px;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .9rem;
        padding: 0px .5rem;
      }
    }

  }

}

/**---------- ex-feature scss ----------**/
#ex-feature {
  background-color: #F5FCF4;
  padding: 0 0 90px 0;
  position: relative;

  .vector {
    position: absolute;
    top: 40%;
    left: 0;
  }

  .vector1 {
    position: absolute;
    top: 40%;
    right: 0;
  }

  .ex-feature-head {
    margin-bottom: 5rem;
    position: relative;

    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      color: $h1_color;

      span {
        color: #01AA47;
      }
    }

    p {
      margin: 2rem 0;
      font-weight: 400;
      font-size: 1rem;
      color: $p_color;
      max-width: 700px;
    }
  }

  .vector5 {
    position: absolute;
    top: 50%;
    left: -25%;
  }

  .ex-feature-item {
    position: relative;
    z-index: 99;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    height: 300px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      .ex-logo {
        transform: translateY(-8px);
      }
    }

    .ex-logo {
      transition: all 0.3s ease-in-out;
      margin-top: 10px;

      img {
        padding-bottom: 20px;
        transition: all 0.3s ease-in-out;
      }
    }

    .ex-text {
      h4 {
        font-weight: 700;
        font-size: 1.2rem;
        color: $h1_color;
        line-height: 120%;
        text-transform: capitalize;
      }

      p {
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
        color: $p_color;
        padding: 0 6%;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .ex-feature-head {
      h1 {
        font-size: 3rem;
      }
    }

    .ex-feature-item {

      .ex-text {
        h4 {
          margin-bottom: 15px;
        }

        p {
          padding: 0 5%;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .ex-feature-head {

      h1 {
        font-size: 2.5rem;
      }
    }

    .ex-feature-item {

      .ex-text {
        h4 {
          margin-bottom: 15px;
        }

        p {
          padding: 0 5%;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 0;

    .ex-feature-head {
      margin-bottom: 0;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .9rem;
      }
    }

    .ex-feature-item {
      height: auto;
      padding: 20px;
      text-align: center;

      .ex-logo {
        img {
          width: 70px;
        }
      }

      .ex-text {
        h4 {
          margin-bottom: 15px;
        }

        p {
          padding: 0;
        }
      }
    }

  }

}

/**---------- how to use scss ----------**/
#how-to-use {
  padding: 100px 0;

  .how-to-use-head {
    margin-bottom: 50px;

    h3 {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      color: $h1_color;

      span {
        color: #01AA47;
      }
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: $p_color;
      max-width: 700px;
    }
  }

  .use-item {
    background-color: #F5FFF9;
    border-radius: 20px;
    padding: 15px;
    // height: 150px;
    // margin-bottom: 20px;
    // filter: drop-shadow(0px 2px 13px rgba(0, 0, 0, 0.25));

    box-shadow: (0px 1px 9px rgba(0, 0, 0, 0.1));

    .use-img {
      width: 13%;

      img {
        width: 67px;
      }
    }



    .use-text {
      width: 87%;
      padding-left: 20px;

      h4 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 120%;
        color: $h1_color;
        text-transform: capitalize;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        margin-bottom: 0;
      }
    }

  }

  .use-main {
    // position: relative;

    // &::after {
    //   content: url("../images/google-drive/how-to-use/line14.png");
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   top: -17.5px;
    //   left: 173px;
    //   z-index: -1;
    // }
  }

  .use-imgs {
    .image-download-install {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -27px;
        left: 9px;
        width: 1px;
        height: 70%;
        background-color: #08CD87;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -74px;
        left: 9px;
        width: 1px;
        height: 129%;
        background-color: #08CD87;
      }

    }

    // .image-link-google-account {
    //   position: relative;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: -27px;
    //     left: 9px;
    //     width: 2px;
    //     height: 70%;
    //     background-color: #000;
    //   }
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -74px;
    //     left: 9px;
    //     width: 2px;
    //     height: 129%;
    //     background-color: #000;
    //   }

    // }
    .image-manage-browse-files {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -81px;
        left: 9px;
        width: 1px;
        height: 137%;
        background-color: #FF96AA;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -87px;
        left: 9px;
        width: 1px;
        height: 145%;
        background-color: #738CF6;
      }

    }

    .image-explore-enjoy-features {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -87px;
        left: 9px;
        width: 1px;
        height: 143%;
        background-color: #33ABFF;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -39px;
        left: 9px;
        width: 1px;
        height: 86%;
        background-color: #FFB758;
      }

    }

    img {
      width: 86%;
      top: 0px;
    }
  }

  .how-to-use-download-install {
    .use-item {
      border-right: 6px solid #BBE897;
      background: linear-gradient(154deg, rgba(187, 232, 151, 0.10) 3.43%, rgba(8, 205, 135, 0.10) 90.47%);
    }

  }

  .how-to-use-link-google-account {
    .use-item {
      border-right: 6px solid #FFBEA9;
      background: linear-gradient(154deg, rgba(254, 180, 156, 0.10) 3.43%, rgba(253, 107, 135, 0.10) 90.47%);

    }

  }

  .how-to-use-manage-browse-files {
    .use-item {
      border-right: 6px solid #BCDDFF;
      background: linear-gradient(154deg, rgba(188, 221, 255, 0.10) 3.43%, rgba(115, 140, 246, 0.10) 90.47%);
    }

  }

  .how-to-use-shortcode-builder {
    .use-item {
      border-right: 6px solid #6AD9FF;
      background: linear-gradient(176deg, rgba(169, 233, 255, 0.10) -2.91%, rgba(119, 194, 247, 0.10) 91.81%);
    }

  }

  .how-to-use-explore-enjoy-features {
    .use-item {
      border-right: 6px solid #FFE97E;
      background: linear-gradient(180deg, rgba(255, 232, 118, 0.10) 0%, rgba(243, 166, 65, 0.10) 100%);
    }

  }

  .how-to-use-download-install,
  .how-to-use-link-google-account,
  .how-to-use-manage-browse-files,
  .how-to-use-shortcode-builder {
    margin-bottom: 28px;
  }

  .use-item2 {
    background-color: #F7F9FF;
  }

  .use-item3 {
    background-color: #FFF4F1;
  }

  .use-item4 {
    background-color: #EFF9FF;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .how-to-use-head {
      h3 {
        font-size: 3rem;
      }
    }

  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .use-main {
      &::after {
        left: 148px;
      }

      .use-imgs {

        // img {
        //   width: 100%;
        // }
        .image-download-install {

          &::before {
            top: -23px;
            height: 72%;
          }

          &::after {
            bottom: -95px;
            height: 176%;
          }

        }

        .image-manage-browse-files {

          &::before {
            top: -94px;
            height: 175%;
          }

          &::after {
            bottom: -95px;
            height: 177%;
          }

        }

        .image-explore-enjoy-features {

          &::before {
            top: -94px;
            height: 176%;
          }

          &::after {
            bottom: -33px;
            height: 86%;
          }

        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .use-main {
      &::after {
        left: 124px;
        top: -24.5px;
      }

      .use-imgs {
        img {
          width: 100%;
        }

        .image-download-install {

          &::before {
            top: -23px;
            height: 72%;
          }

          &::after {
            bottom: -95px;
            height: 182%;
          }

        }

        .image-manage-browse-files {

          &::before {
            top: -108px;
            height: 202%;
          }

          &::after {
            bottom: -108px;
            height: 201%;
          }

        }

        .image-explore-enjoy-features {

          &::before {
            top: -96px;
            height: 183%;
          }

          &::after {
            bottom: -31px;
            height: 86%;
          }

        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .how-to-use-head {
      h3 {
        font-size: 3rem;
      }

      p {
        padding: 2% 5%;
      }
    }

    // 


    .use-main {
      &::after {
        top: -25px;
        left: 36px;
      }

      .use-imgs {
        img {
          width: 100%;
        }

        .image-download-install {

          &::before {
            top: -27px;
            height: 72%;
          }

          &::after {
            bottom: -90px;
            height: 156%;
          }

        }

        .image-manage-browse-files {

          &::before {
            top: -102px;
            height: 172%;
          }

          &::after {
            bottom: -114px;
            height: 189%;
          }

        }

        .image-explore-enjoy-features {

          &::before {
            top: -102px;
            height: 174%;
          }

          &::after {
            bottom: -36px;
            height: 86%;
          }

        }
      }
    }

  }

  @media (max-width: 767.98px) {
    padding: 50px 0 20px 0;

    .how-to-use-head {
      margin-bottom: 0;

      h3 {
        font-size: 1.5rem;
        max-width: 398px;
        margin: 0 auto;
      }

      p {
        padding: 20px 0px;
      }
    }

    .use-item {
      height: auto;
      margin-bottom: 0;

      .use-text {
        h4 {
          font-size: 1rem;
        }

        p {
          font-weight: 300;
          font-size: .8rem;
        }
      }

    }

    .use-main {
      .use-imgs {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

}

/**---------- people think scss ----------**/
.testimonial {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 5rem 0;

  .section-head {
    h2 {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      color: $h1_color;

      span {
        color: $igd_color;
      }
    }

    p {
      margin: 2rem 0;
      font-weight: 400;
      font-size: 1rem;
      color: $p_color;
    }
  }

  .slick-dots {
    text-align: center;
    margin-top: 20px;
    padding-left: 0;

    li {
      list-style-type: none;
      background-color: #E9F6F0;
      margin: 0 8px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      display: inline-block;
      border-radius: 50%;
      color: transparent;
      cursor: pointer;
      border: 1px solid rgba(1, 170, 71, 0.2);
      outline: none;
    }

    button {
      width: 12px;
      height: 12px;
      background-color: #01AA47;
      color: transparent;
      border-radius: 50%;
      line-height: 12px;
      border: 0;
      opacity: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      outline: none;
    }

  }

  .slick-dots {
    li.slick-active {
      border: 1px solid #01AA47;

      button {
        opacity: 1;
      }
    }
  }

  .testimonial {
    position: relative;
  }

  .left {
    position: absolute;
    top: 40%;
    left: -30px;
    z-index: 999;
  }

  .right {
    position: absolute;
    top: 40%;
    right: -30px;
    z-index: 999;
  }

  .arrows {
    i {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #00BB45;
      color: #fff;
      text-align: center;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
      }
    }
  }

  .testimonial-items {

    .testimonial-item {
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;
      margin: 0 10px;
      height: auto;

    }

    .testi-head {
      .man-img {
        border-radius: 50px;
      }

      .title-name {
        .star {
          i {
            color: #F2994A;
            margin-right: 8px;
          }

          .review {
            span {
              font-weight: 400;
              font-size: .8rem;
              line-height: 150%;
              color: #fff;
              margin-left: 10px;
              display: block;
            }
          }
        }

        h3 {
          font-weight: 500;
          font-size: 1rem;
          line-height: 150%;
          color: #000;
          margin-top: 10px;
        }
      }

    }

    .icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50px;
      color: #fff;


      &.icon-green {
        background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
      }

      &.icon-pink {
        background: linear-gradient(143.38deg, #FFCDA3 4.99%, #FD6C87 94.05%);
      }

      &.icon-purple {
        background: linear-gradient(153.63deg, #D3C7FF 3.43%, #6861FF 90.47%);
      }
    }


    p {
      font-size: 1rem;
      color: $p_color;
      font-weight: 400;
      font-style: italic;
      line-height: 150%;
      margin-top: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    .testimonial-user {
      .fa-user {
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #8F94FF;
        background-color: #F6F7FB;
        // background-color: #0b0a21;
        text-align: center;
        border-radius: 50px;
      }

      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 120%;
        color: $h1_color;
        padding-left: 10px;
        padding-top: 0px;
      }
    }
  }


  @media (max-width: 1199.98px) {
    .section-head {
      h2 {
        font-size: 3rem;
      }
    }

    .left {
      left: -15px;
    }

    .right {
      right: -15px;
    }
  }

  @media (max-width: 991.98px) {
    .section-head {
      h2 {
        font-size: 3rem;
      }
    }

    .left {
      left: -15px;
    }

    .right {
      right: -15px;
    }
  }

  @media (max-width: 767.98px) {
    padding: 2rem 0 0 0;

    .section-head {
      h2 {
        font-size: 1.3rem;
        max-width: 398px;
        margin: 0 auto;
        padding-bottom: 10px;
      }

      p {
        font-size: .9rem;
        margin: 0;
      }
    }

    .slick-dots {
      margin: 0;

      li {
        margin: 0 6px;
      }
    }

    .left {
      left: 10px;
    }

    .right {
      right: 10px;
    }

    .testimonial {
      padding: 1rem 0;
    }

    .testimonial-items {
      .testimonial-item {
        height: auto;
      }
    }
  }

}

/**---------- cta area scss ----------**/
.google-drive-cta {
  background: #0E3C1B url("../images/google-drive/inner-page-cta.png") no-repeat 0 0;
  background-size: cover;
  padding: 80px 0;

  .cta-content {
    h3 {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 2.5rem;
      color: #fff;
      line-height: 120%;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1rem;
      color: #F9FAFF;
      padding-right: 5rem;
    }
  }

  .cta-actions {
    a {
      text-decoration: none;
      padding: 15px 36px;
      border-radius: 5px;
      font-weight: 600;
      font-size: .9rem;
      line-height: 120%;

    }

    .bt {
      background-color: #00BB45;
      color: #fff;
      transition: all linear .4s;

      &:hover {
        background-color: #fff;
        color: #01AA47;
        transition: all linear .4s;
        box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
      }

    }

    .bt1 {
      background-color: #fff;
      color: #00BB45;
      margin-left: 40px;
      transition: all linear .4s;

      &:hover {
        background-color: #01AA47;
        color: #fff;
        transition: all linear .4s;
        box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
      }
    }
  }

  @media(max-width: 991.98px) {
    .cta-content {
      p {
        padding-right: 0;
      }
    }
  }

  @media(max-width: 767.98px) {
    padding: 20px 0 30px 0;

    .cta-content {
      h3 {
        font-size: 1.5rem;
      }

      p {
        padding-right: 0;
        font-size: .9rem;
      }
    }

    .cta-actions {
      margin-top: 1.5rem !important;

      a {
        padding: 10px 24px;
      }

      .bt1 {
        margin-left: 5px;
      }
    }
  }

}


/* Normal body background */
body {
  background: transparent;
  transition: linear 0.4s;
}

body.active-bg .google-drive-cta {
  transition: linear 0.4s;
  transform: scale(.95);
  border-radius: 12px;

  .cta-content {
    h3 {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }

    p {
      margin-bottom: 0;
      font-size: 1.4rem;
      padding-right: 0rem;
    }
  }

  .cta-actions {
    a {
      padding: 20px 46px;
      border-radius: 5px;
      font-size: 1.2rem;
      margin: 0 10px;
    }

    // .bt {

    // }

    .bt1 {
      margin-left: 0px;
    }
  }

  @media(max-width: 991.98px) {
    .cta-content {
      p {
        padding-right: 0;
      }
    }
  }

  @media(max-width: 767.98px) {
    padding: 20px 0 30px 0;

    .cta-content {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        padding-right: 0;
        font-size: .9rem;
      }
    }

    .cta-actions {
      margin-top: 1.5rem !important;

      a {
        padding: 10px 24px;
        font-size: 1rem;
      }

      .bt1 {
        margin-left: 0px;
      }
    }
  }
}

body.active-bg .other-section {
  display: none;
}

.google-drive-cta {
  transition: opacity 0.3s ease;
  transition: linear 0.4s;
}

html {
  position: relative;
  transition: linear 0.4s;
}

body.active-bg {
  background: var(--Linear, linear-gradient(154deg, #BBE897 3.43%, #08CD87 90.47%));
  /*background: rgba(31, 74, 229, 0.8);*/
  bottom: 0;
  left: 0;
  // position: fixed;
  right: 0;
  top: 0;
  transition: linear 0.4s;
  opacity: 0;
  visibility: hidden;
}

body.active-bg {
  opacity: 1;
  visibility: visible;
  transition: linear 0.4s;
}