#photo-gallery-demo {
    background: url("../images/google-drive/photo-demo/photo-demo-head-bg.png") no-repeat bottom / cover;
    padding: 160px 0 100px 0;

    .photo-gallery-demo-head {
        h1 {
            font-weight: 700;
            font-size: 3.4rem;
            line-height: $line_height_h1;
            color: #151826;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 15px;
            }
        }

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: $line_height_p;
            color: #5c637e;
            padding: 0 94px;
            margin-bottom: 60px;
        }
    }

    @media (min-width: 1200px) {
        //Extra large
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        //Laptop
        padding: 100px 0;

        .photo-gallery-demo-head {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: .9rem;
                padding: 0;
                margin-bottom: 30px;
            }
        }

    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 100px 0;

        .photo-gallery-demo-head {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: .9rem;
                padding: 0 160px;
                margin-bottom: 30px;
            }
        }

    }

    @media (max-width: 767.98px) {
        //Mobile
        padding: 75px 0 20px 0;

        .photo-gallery-demo-head {
            h1 {
                font-size: 1.8rem;
                padding-bottom: 0;
                img {
                  width: 47px;
                }
              }
        
              p {
                font-size: .75rem;
                margin-bottom: 20px;
                padding: 0;
              }
        }
    }
}
