#pricing-hero {
        background: url("../images/google-drive/pricing/price-head-bg.png");
        background-color: teal;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding: 160px 0 100px 0;
}