/**---------- products-Hero Area ----------**/
.radio-player-hero-area {
  background: url("../images/radio-player/hero-bg-shapes.png") no-repeat;
  background-size: cover;
  padding: 200px 0 350px 0;

  .radio-header-bg {
    position: relative;

    .hero-how-butt {
      position: absolute;
      top: 43%;
      left: 46%;
      .my-btn-primary {
        i {
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.35) 100%);
          width: 80px;
          height: 80px;
          line-height: 80px;
          border-radius: 50%;
          border: 2px solid #BEAAC8;
          color: #fff;
          font-size: 25px;
          cursor: pointer;
        }
      }


      /**---------- popup video area scss start ----------**/
      .modal {
        top: 4%;
      }

      .modal-dialog {
        max-width: 950px;
        height: auto;
        margin: 1.75rem auto;

        .modal-content {
          background-color: transparent;
          border: none;

          .modal-header {
            border: none;

            .btn-close {
              background-color: #fff;
            }
          }

          .modal-body {
            iframe {
              border-radius: 10px;
            }
          }
        }
      }

      /**---------- popup video area scss end ----------**/
    }

    .ripple {
      text-decoration: none;
      color: #fff;
      width: 80px;
      height: 80px;
      background-color: #7249AC;
      border-radius: 50%;
      -webkit-animation: ripple 1s linear infinite;
      animation: ripple 1s linear infinite;
    }

    @-webkit-keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }

    @keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }
  }

  .hero-content {
    .hero-header {
      position: relative;
      display: inline-block;

      .element {
        position: absolute;
        top: -50px;
        left: 60px;
      }
    }

    .radio-header-bg-mobile {
      display: none;
    }

    span {
      font-size: 2rem;
      color: #01AA47;
      font-weight: 700;
    }

    h2 {
      font-size: 3rem;
      color: $h1_color;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: $p_color;
      line-height: 150%;
      padding-right: 20%;
      padding-bottom: 40px;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      font-size: .9rem;
      padding: 15px 35px;
      font-weight: 600;
      line-height: 150%;
    }

    .get {
      color: #fff;
      background: #01AA47;
      border: 1px solid #01AA47;

      border-radius: 8px;
      transition: all linear .4s;

      &:hover {
        background: #fff;

        color: #01AA47;
        transition: all linear .4s;
      }
    }

    .get1 {
      color: #01AA47;
      border: 1px solid #01AA47;
      border-radius: 8px;
      background: #fff;
      transition: all linear .4s;

      &:hover {
        background: #01AA47;
        color: #fff;
        transition: all linear .4s;
      }
    }
  }

  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-bottom: 100px;

    .hero-content {
      text-align: left;

      h2 {
        font-size: 2rem;
      }

      p {
        padding-right: 0;
      }

      a {
        padding: 10px 15px;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 100px 0;

    .hero-content {
      h2 {
        font-size: 2rem;
      }

      p {
        padding-right: 0;
      }

      a {
        padding: 10px 15px;
        margin: 0;
      }

      .radio-header-bg-mobile {
        display: block;
        margin-bottom: 30px;
      }
    }

    .radio-header-bg {
      display: none;
    }
  }

}


/**--------- radio-player-feature-area scss ---------**/

#radio-player-features {
  .feat-items-sec {
    .feature-item-img {
      text-align: right !important;
      display: block;
    }
  }

  .embed-code {
    img {
      margin-bottom: 60px !important;
    }
  }

  .feature-wrap {
    margin: 0;
    margin-bottom: 130px;

    &.flex-column-reverse {
      .feature-item-img {
        text-align: left;
      }
    }
  }

  .feature-header {
    position: relative;
    display: inline-block;

    .element {
      position: absolute;
      top: -50px;
      left: 100px;
    }
  }

  .feature-item {
    .file-logo {
      margin-bottom: 17px;
    }

    .file-text {

      .feature-item-img-mobile {
        display: none;
      }

      .section-head {
        font-size: 2rem;
        color: #01AA47;
        font-weight: 700;
      }

      span {
        font-size: 2rem;
        color: #01AA47;
        font-weight: 700;
      }

      h3 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;
        color: $h1_color;
        text-transform: capitalize;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .feature-description {
        margin-bottom: 40px;
      }

      p {
        font-weight: 400;
        font-size: .9rem;
        line-height: 1.5;
        color: $p_color;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        font-size: .9rem;
        line-height: 19px;
        color: #fff;
        text-transform: capitalize;
        background: #01AA47;
        padding: 15px 30px;
        border-radius: 8px;
        transition: all linear .4s;

        &:hover {
          background: #fff;
          color: #01AA47;
          transition: all linear .4s;
          box-shadow: $color_primary 0px 2px 8px 0px;
          border-color: transparent;
        }
      }
    }
  }

  .preview-head {
    position: relative;

    .element {
      position: absolute;
      top: -50px;
      left: 50%;
    }

    span {
      font-size: 2rem;
      color: #01AA47;
      font-weight: 700;

    }

    h2 {
      font-size: 3rem;
      color: $h1_color;
      font-weight: 700;
      padding-bottom: 30px;
      padding-top: 25px;
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: $p_color;
      line-height: 150%;
      padding: 0 95px;
      padding-bottom: 60px;
    }
  }

  .preview-item {
    .file-text {

      h3 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: $h1_color;
        text-transform: capitalize;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      p {
        font-weight: 400;
        font-size: .9rem;
        line-height: 1.5;
        color: $p_color;
        padding: 0 80px;
      }

    }
    
  }
  .preview-item-img {
    img {
      width: 500px;
    }
  }


  @media (min-width: 992px) and (max-width: 1199.98px) {
    .feature-item {
      .file-text {
        margin-bottom: 50px;

        h3 {
          font-size: 2rem;

        }

        p {
          padding: 0;
          margin-bottom: 30px;
          font-size: .9rem;
        }

      }
    }

    .preview-head {
      span {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 0;
        font-size: .9rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    // .flex-column-reverse {
    //   flex-direction: column-reverse !important;
    // }

    .feature-item-img {
      text-align: center !important;
    }

    .feature-item {
      .file-text {
        margin: 50px auto;
        text-align: left;

        h3 {
          font-size: 1.8rem;

        }

        p {
          padding: 0;
          margin-bottom: 30px;
          font-size: .785rem;
        }

      }
    }

    .preview-head {
      span {
        font-size: 1.3rem;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        padding: 0;
        font-size: .785rem;
      }
    }
  }

  @media (max-width: 767.98px) {
    .feature-item-img {
      margin-bottom: 20px;
      text-align: center;
      display: none;
    }

    .feature-wrap {
      margin-bottom: 80px;
    }

    .feature-item-img {
      text-align: center;
      margin-bottom: 90px;

    }

    .embed-code {
      img {
        margin-bottom: 0 !important;
      }
    }

    .feature-item {
      text-align: center;

      .file-text {

        .feature-item-img-mobile {
          display: block;
          margin-bottom: 30px;
        }

        margin-bottom: 0px;

        .section-head {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 1.5rem;
          padding-bottom: 20px;
        }

        p {
          padding: 0;
          margin-bottom: 30px;
          font-size: .785rem;
        }

      }
    }

    .preview-head {
      span {
        font-size: 1.2rem;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        padding: 0;
        font-size: .785rem;
      }
    }

    .preview-item {
      .file-text {

        h3 {
          font-size: 1.5rem;
        }

        p {
          padding: 0;
        }

      }
    }
  }


}

/**-----ex-feature area------**/

#ex-feature {
  padding: 60px 0 60px 0;

  .ex-head {
    h1 {
      font-weight: 700;
      line-height: 120%;
      color: #151826;
      font-size: 2.8rem;
      padding-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: #5c637e;
      padding: 0;
      margin-bottom: 60px;
    }
  }

  .ex-feature-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all linear .4s;

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      img {
        transform: translateY(-8px);
      }
    }

    .item-logo {
      img {
        transition: all linear .4s;
      }
    }

    .item-text {
      h5 {
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 120%;
        color: #151826;
        text-transform: capitalize;
        padding-top: 20px;
        padding-bottom: 15px;
      }

      p {
        font-weight: 400;
        font-size: .9rem;
        color: #5c637e;
        padding: 0 40px;
      }

    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .ex-head {
      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 0;
        font-size: .785rem;
      }
    }

    .ex-feature-item {
      .item-text {
        h5 {
          font-size: 1rem;
        }

        p {
          padding: 0 9px;
          font-size: .8rem;
        }
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .ex-head {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .885rem;
      }
    }
  }

  @media (max-width: 767.98px) {

    //Mobile
    .ex-head {
      h1 {
        font-size: 1.5rem;
      }

      p {
        padding: 0;
        font-size: .785rem;
      }
    }

    .ex-feature-item {
      height: auto;

      .item-text {
        p {
          padding: 0 3px;
        }
      }
    }

  }

  /**---------- responsive-area scss end ----------**/

}

/**-----compatibility area------**/
#compat {
  background: url("../images/radio-player/compatibility.png"), #E9F6F0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;

  .section-head {
    h1 {
      font-weight: 700;
      font-size: 2.9rem;
      line-height: 120%;
      color: $h1_color;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: $p_color;
      line-height: 150%;
      margin-bottom: 60px;
    }
  }

  .item-img {
    background: #fff;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 767.98px) {
    .section-head {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .8rem;
      }
    }

    .item-img {

      width: 160px;
      margin: 0 5px;

    }
  }
}

/**-----option area------**/
#radio-player-option {
  padding: 60px 0 60px 0;
  background-color: #fff;

  .section-head {
    h1 {
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
      color: #151826;
      margin-bottom: 60px;
    }
  }

  .option {
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 30px;


    .add-text {
      span {
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: #151826;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
        line-height: 150%;
        margin-bottom: 0;
        padding-top: 20px;
      }
    }

    .add-but {
      a {
        text-decoration: none;
        padding: 15px 36px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1rem;
        text-transform: capitalize;
      }

      .bt {
        color: #01AA47;
        border: 1px solid #01AA47;

        &:hover {
          background-color: #01AA47;
          color: #fff;
          transition: all linear .4s;
        }
      }

      .bt1 {
        background-color: #01AA47;
        border: 1px solid #01AA47;
        color: #fff;
        margin-left: 25px;
        transition: all linear .4s;

        &:hover {
          background-color: #fff;
          color: #01AA47;
          transition: all linear .4s;
        }
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop

  }

  @media (min-width: 768px) and (max-width: 991px) {

    //Tablet
    .option {
      .add-text {
        span {
          font-size: 1rem;
        }

        p {
          font-size: .785rem;
        }
      }

      .add-but {
        a {
          padding: 10px 23px;
          font-size: .785rem;
        }
      }
    }
  }

  @media (max-width: 767.98px) {

    //Mobile

    .section-head {
      h1 {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
    }

    .option {
      text-align: center;

      .add-text {
        margin-top: 20px;

        span {
          font-size: 1.5rem;
        }

        p {
          padding-bottom: 40px;
          font-size: .9rem;
        }
      }

      .add-but {
        margin-bottom: 25px;
      }
    }
  }

  /**---------- responsive-area scss end ----------**/
}

/**-----testmonial area------**/
#testimonial {
  background: #fff;
  padding: 60px 0 60px 0;

  .test-head {
    h2 {
      font-weight: 700;
      font-size: 2.9rem;
      color: #151826;
      line-height: 120%;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding: 0 90px;
    }
  }

  .test-item {
    background: #F9FAFF;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    height: 330px;

    .testimonial-header {
      margin-bottom: 10px;

      h6 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #5c637e;

      }

      span {
        .fa-quote-right {
          font-size: 2.5rem;
          color: #AECBFF;
        }
      }
    }

    .rating {
      .fa-star {
        font-size: 2rem;
        color: #FF8F1E;
        padding-right: 20px;
        margin-bottom: 15px;
      }

      .fa-star-half-stroke {
        font-size: 2rem;
        color: #FF8F1E;
      }

    }

    .testimonial-content {
      img {
        border-radius: 50px;
      }

      p {
        font-size: 1.1rem;
        color: #5c637e;
        line-height: 150%;
        margin-bottom: 20px;
        padding-right: 111px;
      }

      h5 {
        font-weight: 600;
        font-size: 1.2rem;
        color: #151826;

        img {
          margin-right: 15px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .test-head {
      h2 {
        font-size: 1.5rem;
      }

      p {
        padding: 0;
      }
    }

    .test-item {
      height: auto;

      .testimonial-header {
        h6 {
          font-size: 1rem;
        }
      }

      .rating {
        .fa-star {
          font-size: 1.5rem;
        }

        .fa-star-half-stroke {
          font-size: 1.5rem;
        }
      }

      .testimonial-content {
        p {
          padding-right: 0;
          font-size: .9rem;
        }

        h5 {
          font-size: 1rem;
        }
      }


    }

  }

}

/**-----funfact area------**/
#funfact {
  padding: 60px 0 100px 0;
  background: #fff;

  .funfact-head {
    h2 {
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
      color: #151826;
      padding: 0 30px;
      margin-bottom: 60px;
    }
  }

  .fun-item {
    background: #F9FAFF;
    border-radius: 20px;
    padding: 10px;
    align-items: center;

    img {
      margin-right: 15px;
    }

    .contant {

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
          margin-bottom: 0;
        }
      }

      h6 {
        font-weight: 400;
        font-size: .9rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 50px 0;

    .funfact-head {
      h2 {
        font-size: 2rem;
        margin-bottom: 30px;
      }
    }

    .fun-item {
      margin-bottom: 15px;

      .contant {
        .te-count {
          span {
            font-size: 1.5rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }

        h6 {
          font-size: .8rem;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 0px 0 60px 0;

    .funfact-head {
      h2 {
        font-size: 1.5rem;
      }
    }

    .fun-item {
      margin-bottom: 10px;

      img {
        margin-right: 7px;
        width: 31px;
        height: auto;
      }

      .contant {
        .te-count {
          span {
            font-size: 1.1rem;
          }

          h5 {
            font-size: 1.1rem;
          }
        }

        h6 {
          font-size: .8rem;
        }
      }
    }
  }

}


/**-----addon css area------**/
#radio-addon {
  padding: 100px 0;

  .section-head {
    margin-bottom: 50px;

    h5 {
      color: $radio_player_color;
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
    }

    h2 {
      font-size: 32px;
      color: $h1_color;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      color: $p_color;
    }
  }

  .addons-item {
    border-radius: 20px;
    background: #E1F6FE;
    padding: 40px 30px;

    .addons-img {
      img {
        padding-right: 20px;
        width: 120px;
      }
    }

    .addons-content {
      flex: 1;

      .section-title {
        font-size: 1.5rem;
        color: $h1_color;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 20px;
        display: block;
        transition: all linear .4s;

        &:hover {
          color: $radio_player_color;
          transition: all linear .4s;
        }
      }

      p {
        font-size: 1rem;
        color: $p_color;
        font-weight: 400;
        line-height: 150%;
      }

      a {
        color: $radio_player_color;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 0;
        transition: all linear .4s;

        &:hover {
          color: #000;
          transition: all linear .4s;
        }
      }
    }
  }

  .radio-player-ads-item {
    background: #FFE8E7;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .addons-item {
      display: block !important;
      text-align: center;
      margin-bottom: 30px;

      .addons-img {
        img {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .addons-item {
      display: block !important;
      text-align: center;
      margin-bottom: 30px;

      .addons-img {
        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}


/**---------- cta area scss ----------**/
#cta {
  background: url("../images/radio-player/r-bg-shapes.png"), linear-gradient(153.63deg, #98FF96 3.43%, #08CD87 90.47%) no-repeat;
  background-size: cover;
  padding: 100px 0;

  .cta-content {
    h3 {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 2.2rem;
      color: #fff;
      line-height: 120%;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: #F9FAFF;
    }
  }

  .cta-actions {
    a {
      text-decoration: none;
      padding: 15px 36px;
      font-weight: 600;
      font-size: .9rem;
    }

    .bt {
      background: #00BB45;
      color: #fff;
      transition: all linear .4s;

      &:hover {
        background: #fff;
        color: #01AA47;
        transition: all linear .4s;
        border-color: #01AA47;
      }
    }

    .bt1 {
      background: #fff;
      color: #00BB45;
      margin-left: 40px;
      transition: all linear .4s;

      &:hover {
        background: #01AA47;
        color: #fff;
        transition: all linear .4s;
        border-color: #fff;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 50px 0;

    .cta-content {
      h3 {
        font-size: 1.8rem;
      }
    }

  }

  @media (max-width: 767.98px) {
    padding: 50px 0;

    .cta-content {
      h3 {
        font-size: 1.5rem;
      }
    }

    .cta-actions {
      margin-top: 20px;

      a {
        padding: 10px 15px;
      }

      .bt1 {
        margin-left: 2px;
      }
    }

  }

}