/**---------- products-Hero Area ----------**/
.radio-player-hero-area {
    background: url("../images/google-drive/hero-bg-shapes.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 160px 0 100px 0;
  
    .hero-content {
      span {
        font-size: 2rem;
        color: #01AA47;
        font-weight: 600;
      }
      h1 {
        font-size: 3rem;
        color: $h1_color;
        font-weight: 600;
        
      }
      p {
        font-weight: 400;
        font-size: 1.1rem;
        color: $p_color;
        line-height: 150%;
        padding: 3% 18%;
      }
      a {
        text-decoration: none;
        margin: 0 10px;
       font-size: .9rem;
       font-weight: 600;
       line-height: 150%;
      }
      .get {
        color: #fff;
        background-color: #01AA47;
        padding: 15px 35px;
        border-radius: 8px;
        &:hover {
          background-color: #fff;
          color: #01AA47;
          transition: linear .4s;
        }
      }
      .get1 {
        color: #01AA47;
        border: 1px solid #01AA47;
        border-radius: 8px;
        padding: 15px 35px;
        &:hover {
          background-color: #01AA47;
          color: #fff;
          transition: linear .4s;
        }
      }
    }
  
  
  /**---------- inner-header-bg scss ----------**/
  
  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }
  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
        padding: 115px 0 0px 0;
        .hero-content {
          h1 {
            font-size: 2.6rem;
          }
          p {
            font-size: .9rem;
            padding: 3% 12%;
          }
        }
      
    }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .hero-content {
      h1 {
        font-size: 2.6rem;
      }
      p {
        font-size: .9rem;
        padding: 3% 12%;
      }
    }
  }
  
  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    .hero-content {
      h1 {
        font-size: 1.9rem;
      }
      p {
        font-size: .9rem;
        padding: 3% 10px;
      }
    }
  }
  /**---------- responsive-area scss end ----------**/
  
  }

  /**---------- integrate-google-drive-feature-area scss ----------**/

#integrate-feature {
    padding-top: 25%;
    .integrate-feature-head {
        h1 {
          font-weight: 700;
          font-size: 3.5rem;
          color: $h1_color;
          line-height: 120%;
          & span {
            color: #01AA47;
          }
        }
        p {
          font-weight: 400;
          font-size: 1.1rem;
          color: $p_color;
          line-height: 150%;
          padding: 3% 18%;
          margin-bottom: 5%;
        }
        
    }
    .multiple {
      background-color: #F5FCF4;
      padding: 40px;
      border-radius: 40px;
      .featuer-item-img {
        margin-bottom: 0;
      }
    }
  
    .featuer-item-img {
      margin-bottom: 100px;
    }
    .featuer-item {
      .file-logo {
        margin-bottom: 17px;
      }
      .file-text {
        h3 {
          font-weight: 700;
          font-size: 3rem;
          line-height: 120%;
          color: $h1_color;
          text-transform: capitalize;
          padding-top: 20px;
        }
        p {
          font-weight: 400;
          font-size: .9rem;
          line-height: 150%;
          color: $p_color;
          padding-right: 42%;
          padding-bottom: 10%;
        }
        a {
          text-decoration: none;
          font-weight: 600;
          font-size: .9rem;
          line-height: 19px;
          color: #fff;
          text-transform: capitalize;
          background-color: #01AA47;
          padding: 15px 30px;
          border-radius: 8px;
          &:hover {
            box-shadow: $color_primary 0px 2px 8px 0px;
            border-color: transparent;
          }
        }
      }
    }
  
    .page-bulider {
     .file-text {
      padding-top: 20%;
      h3 {
        padding-right: 25%;
      }
      p {
        padding-bottom: 0;
      }
     }
     .files {
      display: flex;
      h5 {
        font-weight: 500;
        font-size: .9rem;
        line-height: 150%;
        color: $h1_color;
        text-transform: capitalize;
      }
      .fa-check {
        color: #1FA463;
        border: 2px solid #1FA463;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border-radius: 50px;
        margin: 0 6px;
        text-align: center;
        font-size: 12px;
      }
     }
    }
  
    .from-contact {
     .file-text {
      padding-top: 20%;
      h3 {
        padding-right: 0%;
        font-size: 2.9rem;
        padding-bottom: 3%;
      }
      p {
        padding-bottom: 0;
      }
     }
     .files {
      display: flex;
      h5 {
        font-weight: 500;
        font-size: .9rem;
        line-height: 150%;
        color: $h1_color;
        text-transform: capitalize;
      }
      .fa-check {
        color: #1FA463;
        border: 2px solid #1FA463;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border-radius: 50px;
        margin: 0 6px;
        text-align: center;
        font-size: 12px;
      }
     }
    }
  
  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
        .integrate-feature-head {
          h1 {
            font-size: 2.4rem;
          }
          p {
            padding: 0;
            font-size: .9rem;
          }
        }
    }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .integrate-feature-head {
      h1 {
        font-size: 2.4rem;
      }
      p {
        padding: 0;
        font-size: .9rem;
      }
    }
    .featuer-item {
      .file-text {
        margin-bottom: 50px;
        h3 {
          font-size: 1.8rem;
  
        }
        p {
          padding: 0;
          margin-bottom: 30px;
          font-size: .785rem;
        }
    
      }
    }
    .from-contact {
      .file-text {
        h5 {
          font-size: .8rem;
        }
      }
    }
  }
  
  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    .integrate-feature-head {
      h1 {
        font-size: 1.8rem;
      }
      p {
        padding: 0;
        font-size: .785rem;
      }
    }
    .featuer-item-img {
      margin-bottom: 20px;
    }
    .featuer-item {
      text-align: center;
      .file-text {
        margin-bottom: 50px;
        h3 {
          font-size: 1.8rem;
  
        }
        p {
          padding: 0;
          margin-bottom: 30px;
          font-size: .785rem;
        }
    
      }
    }
    .page-bulider {
      padding-top: 0;
     .file-text {
      padding-top: 0;
      h3 {
        padding-right: 0;
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
     }
     .files {
      display: flex;
      justify-content: center;
      align-items: center;
     }
    }
    .from-contact {
      .file-text {
        padding-top: 0;
      }
      .files {
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }
  }
  /**---------- responsive-area scss end ----------**/
  
  
}

  /**-----newslatter area------**/
.page-template .newslatter {
    position: relative;
    top: 68px;
    padding-bottom: 0;
    .newslatter {
      background: url("../images/google-drive/inner-page-cta.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3%;
      padding-bottom: 3%;
      border-radius: 20px;
    }
  
    .newslatter-contatn {
      h4 {
        color: #fff;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        padding-right: 35%;
        padding-top: 1%;
        padding-bottom: 2%;
      }
      p {
        color: #fff;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        padding-right: 8rem;
      }
  }
  
  .newslatter-from {
    padding-top: 0;
    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      line-height: 19px;
      text-transform: capitalize;
    }
    .butt1 {
      margin: 0 15px;
      background-color: #01AA47;
      padding: 15px 36px;
      color: #fff;
      border-radius: 8px;
    }
    .butt2 {
      margin: 0 15px;
      background-color: #fff;
      padding: 15px 36px;
      color: #01AA47;
      border-radius: 8px;
    }
  }
  
  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
        top: 53px;
        .newslatter-contatn {
          h4 {
            padding-right: 1%;
            font-size: 1rem;
          }
          p {
            font-size: .785rem;
            padding-right: 0;
          }
        }
    }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .newslatter {
      padding: 25px;
    }
    .newslatter-contatn {
      h4 {
        padding-right: 0;
        font-size: 1rem;
      }
      p {
        font-size: .785rem;
        padding-right: 0;
      }
    }
    .newslatter-from {
      .butt1 {
        padding: 10px 22px;
      }
      .butt2 {
        padding: 10px 22px;
      }
    }
  }
  
  @media (min-width: 420px) and (max-width: 767px) {
    //Mobile
    top: 25px;
    .newslatter {
      padding: 25px;
    }
  
    .newslatter-contatn {
      text-align: center;
      h4 {
        padding-right: 0;
        font-size: .9rem;
      }
      p {
        font-size: .785rem;
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
  }
  
  }
  
  /**----- footer area -----**/
  
  .page-template .footer {
    background: url("../images/google-drive/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 1%;
    .footer-contant {
      p{
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 150%;
         color: $p_color;
         padding-top: 5%;
         padding-right: 20%;
      }
    }
  
    .footer-menu-head {
      h4{
        color: $h1_color;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 120%;
      }
    }
  
    .footer-menu {
      a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        padding-top: 7%;
      }
    }
    .footer-menu-help {
      a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        padding-top: 7%;
      }
    }
    .footer-menu-products {
      a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $p_color;
        padding-top: 7%;
      }
      img {
        padding-right: 3%;
      }
    }
  
    .footer-social {
      padding-top: 20px;
      a {
        text-decoration: none;
      }
      i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 15px;
        &:hover{
          box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
        }
      }
      .fa-facebook-f {
        color: #007BFF;
      }
      .fa-twitter {
        color: #00ADEE;
      }
      .fa-pinterest-p {
        color: #E60023;
      }
      .fa-linkedin-in {
        color: #0072B1;
      }
    }
    .footer-last {
      margin-top: 3%;
      border-top: 0.5px solid rgba(186, 186, 186, 0.3);
      h5 {
        padding-top: 2%;
        color: $p_color;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
      }
    }
  
    @media (min-width: 1200px) {
      //Extra large
    }
    
      @media (min-width: 992px) and (max-width: 1199px) {
          //Laptop
      }
    
    @media (min-width: 768px) and (max-width: 991px)  {
      //Tablet
      padding-top: 20%;
      .footer-contant {
        p {
          font-size: .785rem;
        }
      }
      .pro {
        h4 {
          padding-top: 25px;
        }
      }
      .footer-menu {
        a {
          padding-top: 4%;
        }
      }
      .footer-menu-help {
        a {
          padding-top: 4%;
        }
      }
      .footer-menu-products {
        a {
          padding-top: 4%;
        }
      }
    }
    
    @media (min-width: 420px) and (max-width: 767px) {
      //Mobile
      padding-top: 20%;
  
      .footer-contant {
        p {
          font-size: 1.1rem;
        }
      }
      .footer-menu-head {
        h4 {
          padding-top: 25px;
        }
      }
      .footer-menu {
        a {
          padding-top: 4%;
        }
      }
      .footer-menu-help {
        a {
          padding-top: 4%;
        }
      }
      .footer-menu-products {
        a {
          padding-top: 4%;
        }
      }
  
    }
  
  }