/**---------- http-area scss ----------**/
#multiple {
    background: url("../images/radio-player/http-demo-bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 100px 0;
    .multiple-head {
        h1 {
            font-weight: 700;
            color: #151826;
            line-height: 120%;
            font-size: 3.1rem;
            padding-bottom: 20px;
        }
        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 150%;
            color: #5c637e;
            padding: 0 30px;
        }
    }

     /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
        .multiple-head {
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: .9rem;
            }
        }
        
    }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .multiple-head {
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: .9rem;
        }
    }
    
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .multiple-head {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: .785rem;
        }
    }
  }
  /**---------- responsive-area scss end ----------**/

}


.page-id-74 {
    background-color: #fff;
}


#multi-sikn {
    padding: 60px 0 60px 0;
    .skin-item {
        background-color: #F9FAFF;
        padding: 20px;
        border-radius: 40px;
        margin-bottom: 30px;
        height: 350px;
        .skin-head {
            p {
                font-weight: 600;
                font-size: 2rem;
                line-height: 120%;
                color: #151826;
                text-transform: capitalize;
                padding-bottom: 30px;
            }
           
        }
        .skin-img {
            padding: 30px;
            text-align: center;
        }
    }
}