

/**---------- wp-radio-station-Hero Area ----------**/
.wp-demo-hero-area {
    background: #F2FDFD;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 100px 0;
  
    .hero-content {
        span {
            color: #01AA47;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 120%;
        }
      h1 {
        font-size: 3.6rem;
        color: #151826;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 30px;
      }
      p {
        font-weight: 400;
        font-size: 1.1rem;
        color: #5c637e;
        line-height: 150%;
        padding-right: 20%;
        padding-bottom: 40px;
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
       margin-right: 10px;
       font-size: .9rem;
       font-weight: 600;
       line-height: 150%;
      }
      .get {
        color: #fff;
        background-color: #01AA47;
        border: 1px solid #01AA47;
        padding: 15px 35px;
        border-radius: 50px;
        transition: all linear .4s;
        &:hover{
          background-color: #fff;
          color: #01AA47;
          transition: all linear .4s;
        }
      }
      
    }
  
  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }
  
    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
        padding: 115px 0 0px 0;
        .hero-content {
          h1 {
            font-size: 2.6rem;
          }
          p {
            font-size: .9rem;
            padding: 3% 12%;
            padding-left: 0;
            margin-bottom: 40px;
          }
        }
      
    }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
    .hero-content {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: .9rem;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 25px;
      }
      .get {
        padding: 10px 25px;
      }
      .get1 {
        padding: 10px 25px;
      }
    }
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    padding: 90px 0 60px 0;
    text-align: center;
    .hero-content {
      h1 {
        font-size: 1.9rem;
      }
      p {
        font-size: .9rem;
        padding: 0 10px;
        margin-bottom: 45px;
      }
    }
    .radio-header-bg {
      padding-top: 35px;
    }
    
  }
  /**---------- responsive-area scss end ----------**/
  
  }

/**---------- radio-station-feature-area scss ----------**/
#station {
    padding: 90px 0;
    .station {
        span {
            font-weight: 700;
            font-size: 1.9rem;
            color: #01AA47;
            line-height: 120%;
            text-transform: capitalize;
        }
        h5 {
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 120%;
            color: #151826;
            margin-bottom: 0;
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }
    .station-item {
        border: 1px solid #D4EBEB;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 25px;
        .text {
            margin-left: 24px;
            span {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 150%;
                color: #000;

            }
            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 150%;
                color: #5c637e;
                margin-bottom: 0;
                padding-top: 15px;
                padding-right: 130px;
            }
        }
    }
    .station-item1 {
        .text {
            p {
                padding-right: 90px;
            }
        }
    }
    /**---------- responsive-area scss start ----------**/
    @media (min-width: 1200px) {
      //Extra large
      }

      @media (min-width: 992px) and (max-width: 1199px) {
          //Laptop
          .station {
            
            h5 {
              font-size: 2rem;
            }
          }
          .station-item {
            .text {
              span {
                font-size: 1rem;
              }
              p {
                padding-right: 0; 
                font-size: .9rem;
              }
            }
          }
          .station-item1 {
            .text {
              p {
                padding-right: 0; 
              }
            }
          }
      }

      @media (min-width: 768px) and (max-width: 991px)  {
      //Tablet
      .station {
        
        h5 {
          font-size: 2rem;
        }
      }
      .station-item {
        .text {
          span {
            font-size: 1rem;
          }
          p {
            padding-right: 0; 
            font-size: .7rem;
          }
        }
      }
      .station-item1 {
        .text {
          p {
            padding-right: 0; 
          }
        }
      }

  }

  @media (min-width: 320px) and (max-width: 767px) {
  //Mobile
  .station {
    text-align: center;
    h5 {
      font-size: 2rem;
    }
  }
  .station-item {
    .text {
      span {
        font-size: 1rem;
      }
      p {
        padding-right: 0; 
      }
    }
  }
  .station-item1 {
    .text {
      p {
        padding-right: 0; 
      }
    }
  }

  }
  /**---------- responsive-area scss end ----------**/
    
}
/**---------- radio-station-usage-area scss ----------**/
#usage {
    padding: 90px 0;
    .usage {
        span {
            font-weight: 700;
            font-size: 1.9rem;
            color: #FF8F1E;
            line-height: 120%;
            text-transform: capitalize;
        }
        h5 {
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 120%;
            color: #151826;
            margin-bottom: 0;
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }
    .usage-item {
        border: 1px solid #FCE4CD;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 25px;
        .text {
            margin-left: 24px;
            span {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 150%;
                color: #000;

            }
            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 150%;
                color: #5c637e;
                margin-bottom: 0;
                padding-top: 15px;
                padding-right: 130px;
            }
        }
    }
    /**---------- responsive-area scss start ----------**/
@media (min-width: 1200px) {
  //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
      //Laptop
      .usage {
    
        h5 {
          font-size: 2rem;
        }
      }
      .usage-item {
        .text {
          span {
            font-size: 1rem;
          }
          p {
            padding-right: 0; 
            font-size: .9rem;
          }
        }
      }
  }

  @media (min-width: 768px) and (max-width: 991px)  {
  //Tablet
  .usage {
    
    h5 {
      font-size: 2rem;
    }
  }
  .usage-item {
    .text {
      span {
        font-size: 1rem;
      }
      p {
        padding-right: 0; 
        font-size: .7rem;
      }
    }
  }
  }

  @media (min-width: 320px) and (max-width: 767px) {
  //Mobile
  padding: 0;
  .usage {
    text-align: center;
    h5 {
      font-size: 2rem;
    }
  }
  .usage-item {
    .text {
      span {
        font-size: 1rem;
      }
      p {
        padding-right: 0; 
      }
    }
  }
  

  }
  /**---------- responsive-area scss end ----------**/
}
/**---------- radio-station-usage-area scss ----------**/
#how-use {
  padding: 90px 0;
  background-color: #F2FDFD;
  .use-head {
    span {
      font-weight: 700;
      font-size: 1.9rem;
      line-height: 120%;
      color: #01aa47;
    }
    h5 {
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
      color: #151826;
      margin-bottom: 0;
      padding-bottom: 50px;
      padding-top: 25px;
    }
  }
  .use-img {
    position: relative;
  }
  .how-butt {
    position: absolute;
      top: 40%;
      left: 44%;
    .fa-play {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.35) 100%);
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      border: 2px solid #BEAAC8;
      color: #fff;
      font-size: 25px;
    }
  }

  .ripple {
    text-decoration: none;
    color: #fff;
    width: 100px;
    height: 100px;
    background-color: #7249AC;
    border-radius: 50%;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
  }
  
  @-webkit-keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
  }

  @keyframes ripple {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
    }
  }




  /**---------- responsive-area scss start ----------**/
@media (min-width: 1200px) {
  //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
      //Laptop
    .plan-head {
      h1 {
        margin: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px)  {
  //Tablet
  .use-head {
    h5 {
      font-size: 2rem;
    }
  }
  }

  @media (min-width: 320px) and (max-width: 767px) {
  //Mobile
  .use-head {
    h5 {
      font-size: 2rem;
    }
  }
  .how-butt {
    position: absolute;
    top: 27%;
    left: 38%;
  }
  }
  /**---------- responsive-area scss end ----------**/
}
/**-----testmonial area------**/
#wp-testmonial {
  padding: 60px 0 60px 0;
  background-color: #fff;
  .testmonial-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #01aa47;
      line-height: 120%;
    }
    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 40px;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }
  .test-rating {
    .star {
      .fa-star {
        color: #FF8F1E;
        font-size: 1.6rem;
        margin-right: 20px;
      }
    }
    .quote {
      .fa-quote-right {
        color: #00D1E1;
        font-size: 1.8rem;
        background-color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
  .test-item {
    background-color: #F2FDFD;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    height: 350px;
    .content {
      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        font-style: italic;
        padding: 25px 0;
      }
    }
  }
  .test-peo {
    img {
      margin-right: 15px;
      border-radius: 50px;
    }
    .text {
      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
        color: 150%;
      }
      h6 {
        margin-top: 8px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }
  /**---------- responsive-area scss start ----------**/
 @media (min-width: 1200px) {
  //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
      //Laptop
      .test-rating {
        .star {
          .fa-star {
            font-size: 1.2rem;
        }
      }
        .quote {
          .fa-quote-right {
             font-size: 1.4rem;
            
            width: 48px;
            height: 48px;
            line-height: 48px;
            
          }

        }
        
      }
  }

  @media (min-width: 768px) and (max-width: 991px)  {
  //Tablet
   
    .item2 {
      margin-top: -72px;
    }
    .item3 {
      margin-top: -140px;
    }
    .items {
      margin-top: 0;
    }
    .test-rating {
      .star {
        .fa-star {
          font-size: 1.4rem;
      }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
  //Mobile
    .testmonial-head {
      p {
        padding: 0;
      }
    }
    .items {
      margin-top: 0;
    }
  }
  /**---------- responsive-area scss end ----------**/
}

/**-----option area------**/
#wp-option {
  padding: 60px 0 60px 0;
  background-color: #fff;
  .option {
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 30px;
    .add-text {
      span {
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: #151826;
      }
      p {
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
        line-height: 150%;
        margin-bottom: 0;
        padding-top: 20px;
      }
    }
    .add-but {
      a {
        text-decoration: none;
        padding: 15px 36px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1rem;
        text-transform: capitalize;
      }
      .bt {
        color: #00D1E1;
        border: 1px solid #00D1E1;
        &:hover{
          background-color: #00D1E1;
          color: #fff;
          transition: all linear .4s;
        }
      }
      .bt1 {
        background-color: #00D1E1;
        color: #fff;
        margin-left: 25px;
        transition: all linear .4s;
        &:hover{
          background-color: #fff;
          color: #00D1E1;
          transition: all linear .4s;
        }
      }
    }
  }
  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        //Laptop
      
    }

    @media (min-width: 768px) and (max-width: 991px)  {
    //Tablet
      .option {
        .add-text {
          span {
            font-size: 1rem;
          }
          p {
            font-size: .785rem;
          }
        }
        .add-but {
          a {
            padding: 10px 23px;
            font-size: .785rem;
          }
        }
      }
    }

    @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
      .option {
        text-align: center;
        .add-text {
          margin-top: 20px;
          p {
            padding-bottom: 40px;
          }
        }
        .add-but {
          margin-bottom: 25px;
        }
      }
    }
  /**---------- responsive-area scss end ----------**/
}

.page-template {
  background-color: #F9FAFF;
}
