/**---------- Hero Area ----------**/
.cf7-integrations-hero-area {
    // background: url("../images/home/hero-bg.png") #EEF2FE no-repeat left center;
    // background-size: contain;
    background: linear-gradient(rgba(30, 97, 185, 0.2) 100%, #fff 0%), url("../images/cf7-extended/cf7-extended-bg-side.png") no-repeat left top;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 120px 0 120px 0;

    .hero-content {
        h1 {
            font-size: 3.4rem;
            margin-bottom: 1.5rem;
            font-weight: 600;
            line-height: 120%;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 1.5rem;
            font-weight: 600;
            line-height: 120%;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 30px;
            line-height: 150%;
        }

        .view-products-btn {
            // margin-top: 1.5rem;
            padding: 15px 30px;
            transition: all linear .4s;

            &:hover {
                background: #fff;
                color: $color_primary;
                border-color: $color_primary;
                transition: all linear .4s;
            }
        }

        .hero-image-mobile {
            display: none;
        }
    }

    .hero-image {
        display: block;
    }

    // .autoRatio {
    //     animation: bg-animate 60s linear infinite;
    // }

    // @keyframes bg-animate {
    //     0% {
    //         transform: rotate(360deg);
    //     }

    //     50% {
    //         transform: rotate(180deg);
    //     }

    //     100% {
    //         transform: rotate(0deg);
    //     }

    //     100% {
    //         transform: rotate(360deg);
    //     }

    //     50% {
    //         transform: rotate(180deg);
    //     }

    //     0% {
    //         transform: rotate(0);
    //     }
    // }

    /*======== animation css gose here ==========*/
    // .box {
    //     .line {
    //         position: absolute;
    //         width: 60px;
    //         height: 60px;
    //         background-color: transparent;
    //         border: 6px solid #1B447E;

    //         &:nth-child(1) {
    //             top: 12%;
    //             left: 42%;
    //             animation: animate 10s linear infinite;
    //         }

    //         &:nth-child(2) {
    //             top: 70%;
    //             left: 50%;
    //             animation: animate 8s linear infinite;
    //         }

    //         &:nth-child(3) {
    //             top: 17%;
    //             left: 6%;
    //             animation: animate 11s linear infinite;
    //         }

    //         &:nth-child(4) {
    //             top: 67%;
    //             left: 10%;
    //             animation: animate 6s linear infinite;
    //         }

    //         &:nth-child(5) {
    //             top: 20%;
    //             left: 80%;
    //             animation: animate 7s linear infinite;
    //         }
    //     }

    //     @keyframes animate {
    //         0% {
    //             transform: scale(0) translateY(0) rotate(0);
    //             opacity: 1;
    //         }

    //         100% {
    //             transform: scale(1.3) translateY(-90px) rotate(360deg);
    //             opacity: 0;
    //         }
    //     }

    // }

    // .autoRatio {
    //     animation: autoRatioAnimation;
    //     animation-timeline: view();
    // }

    // @keyframes autoRatioAnimation {
    //     from {
    //         transform: rotate(0deg);
    //     }
    //     to {
    //         transform: rotate(360deg);
    //     }
    // }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        //Laptop
        padding: 180px 0 0px 0;

        .hero-content {

            h1 {
                font-size: 2.8rem;
                padding-top: 30px;
            }

            p {
                font-size: .785rem;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        //Tablet
        padding: 110px 0 0px 0;

        .hero-content {
            margin-bottom: 40px;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: .9rem;
                margin-bottom: 30px;
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 100px 0 60px 0;
        background-size: cover;
        // background-position: top;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        .hero-content {
            text-align: center;

            h1 {
                font-size: 1.5rem;
                line-height: 1.5;
            }

            p {
                font-size: 1rem;
                margin-bottom: 30px;
            }

            .hero-image-mobile {
                display: block;
            }
        }

        .hero-image {
            display: none;
        }
    }

}

/*==== popular-form css area start ====*/

#popular-form {
    padding: 100px 0;

    .heading-text {
        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;
        color: $h1_color;
        padding-bottom: 30px;
        text-transform: capitalize;

        span {
            color: #1E62B9;
        }
    }

    .heading-description {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: rgba(21, 24, 38, 0.6);
        padding-bottom: 70px;
    }

    .popular-form-area {
        margin-bottom: 20px;

        img {
            box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            // width: 110px;
            padding: 20px;
            height: auto;
        }

        .popular-form-area-text {
            margin-top: 20px;
            margin-bottom: 40px;

            .popular-form-text {
                font-weight: 400;
                font-size: 1rem;
                line-height: 150%;
                color: #151826;
            }
        }


    }

    /*==== popular-form-feature css area ====*/

    .popular-form-feature {
        padding-top: 100px;



        .feature-title {
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 120%;
            color: $h1_color;
            text-transform: capitalize;
            padding-top: 40px;
            padding-bottom: 20px;
        }

        .feature-description {
            font-weight: 400;
            font-size: .9rem;
            line-height: 150%;
            color: $p_color;
            margin-bottom: 40px;
        }

        .feature-demo-btn {
            text-decoration: none;
            font-weight: 600;
            font-size: .9rem;
            line-height: 19px;
            color: #fff;
            text-transform: capitalize;
            background-color: #1E62B9;
            padding: 15px 30px;
            border-radius: 8px;
            margin-top: 2rem;
            width: max-content;
            transition: all linear .4s;
            display: block;

            &:hover {
                background-color: #fff;
                color: #1E62B9;
                transition: all linear .4s;
                box-shadow: $color_primary 0px 2px 8px 0px;
                border-color: transparent;
            }

        }

        .feature-item-content {
            .feature-icon {
                box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.25);
                border-radius: 18px;
                padding: 10px;
            }
        }

        .feature-item-img {

            .feature-video {
                margin-right: 50px;

                iframe {
                    width: 100%;
                    border-radius: 20px;
                    aspect-ratio: 16 / 9;
                }
            }

        }

        &.feature-ninja-form {
            .feature-item-img {
                margin-left: 50px;
                text-align: right;

                .feature-video {
                    margin-right: 0;
                }
            }

        }

        &.feature-gravity-form {
            .feature-item-img {
                margin-left: 50px;
                text-align: right;

                .feature-video {
                    margin-right: 0;
                }
            }

        }

        &.feature-formidable-form {
            .feature-item-img {
                margin-left: 50px;
                text-align: right;

                .feature-video {
                    margin-right: 0;
                }
            }

        }

    }

    .feat-shadw {
        position: relative;

        &:after {
            content: "";
            //background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
            width: 300px;
            height: 300px;
            position: absolute;
            border-radius: 90px;
            z-index: -1;
            top: 30%;
            right: -7%;
            box-shadow: inset 0px 0px 40px 20px white;
            opacity: .5;
            background: linear-gradient(153.63deg, #61E89D 3.43%, #2DCA74 90.47%);
            //opacity: 0.2;
            filter: blur(149.728px);
        }

        &:before {
            content: "";
            //background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
            width: 300px;
            height: 300px;
            position: absolute;
            border-radius: 90px;
            z-index: -1;
            top: 30%;
            left: -7%;
            box-shadow: inset 0px 0px 40px 20px white;
            opacity: .5;
            background: linear-gradient(153.63deg, #61E89D 3.43%, #2DCA74 90.47%);
            //opacity: 0.2;
            filter: blur(149.728px);
        }
    }

    .vector-area {
        position: relative;
    }

    .vector-crcel-left {
        position: absolute;
        top: 25%;
        left: 0;
    }

    .vector-crcel-right {
        position: absolute;
        top: 13%;
        right: 0;
    }

    /*==== responsive css area start ====*/

    @media (min-width: 1200px) {
        .feat-shadw {
            position: relative;

            &:after {
                content: "";
                //background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
                width: 180px;
                height: 180px;
                right: 0%;
            }

            &:before {
                content: "";
                //background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
                width: 180px;
                height: 180px;
                left: 0%;
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .heading-text {
            font-size: 3rem;
        }

        .heading-description {
            padding-top: .5rem;
            padding-bottom: 2rem;
        }

        .popular-form-area {

            .popular-form-area-text {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        .feat-shadw {
            position: relative;

            &:after {
                width: 200px;
                height: 200px;
                right: 0;
            }

            &:before {
                width: 200px;
                height: 200px;
                left: 0;
            }
        }

        .popular-form-feature {

            .feature-item-content {

                .feature-title {
                    padding-top: 20px;
                    font-size: 2.2rem;
                }

                .feature-description {
                    padding: 15px 0;
                }
            }

            
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .heading-text {
            font-size: 2.5rem;
        }

        .heading-description {
            padding-top: .5rem;
            padding-bottom: 2rem;
        }

        .popular-form-area {
            img {
                padding: 10px;
                width: 50px;
                height: 50px;
            }
            .popular-form-area-text {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        .feat-shadw {
            position: relative;

            &:after {
                width: 100px;
                height: 100px;
                right: 0;
            }

            &:before {
                width: 100px;
                height: 100px;
                left: 0;
            }
        }

        .popular-form-feature {
            text-align: center;
            .feature-item-content {
                img {
                    margin-top: 30px;
                }

                .feature-title {
                    padding-top: 20px;
                    font-size: 2rem;
                }

                .feature-description {
                    padding-bottom: 20px;
                    font-size: .8rem;
                }
            }

           
        }
    }

    @media (max-width: 767.98px) {

        .heading-text {
            font-size: 1.5rem;
        }

        .heading-description {
            padding-top: .5rem;
            padding-bottom: 2rem;
            font-size: .9rem;
        }

        .popular-form-area {
            width: 40px;
            height: 40px;
            img {
                box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
                padding: 10px;
                width: 50px;
                height: 50px;
            }
            .popular-form-area-text {
                margin-top: 40px;
                margin-bottom: 40px;

                .popular-form-text {
                    font-size: .8rem;
                }
            }
        }

        .feat-shadw {
            position: relative;

            &:after {
                width: 100px;
                height: 100px;
                right: 0;
            }

            &:before {
                width: 100px;
                height: 100px;
                left: 0;
            }
        }

        .popular-form-feature {
            text-align: center;
            padding-top: 50px;

            .feature-item-content {
                img {
                    margin-top: 30px;
                }

                .feature-title {
                    padding-top: 20px;
                    font-size: 1.3rem;
                }

                .feature-description {
                    padding-bottom: 20px;
                    font-size: .8rem;
                }

                .feature-demo-btn {
                    display: inline-block;
                }

                iframe {
                    border-radius: 10px;
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }

            .feature-item-content {
                .feature-icon {
                    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.25);
                    border-radius: 18px;
                }
            }

            .feature-item-img {
                img {
                    display: none;
                }
                .feature-video {
                    margin-right: 0px;
                }
            }

            &.feature-ninja-form {
                .feature-item-img {
                    margin-left: 0px;
                }
            }

            &.feature-gravity-form {
                .feature-item-img {
                    margin-left: 0px;
                }

            }

            &.feature-formidable-form {
                .feature-item-img {
                    margin-left: 0px;
                }

            }
        }

    }

    /*==== responsive css area end ====*/

}