/**---------- products-Hero Area ----------**/
.wp-radio-hero-area {
  background: url("../images/wp-radio/home/head-bg-shapes.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 160px 0 100px 0;

  .hero-content {
    h1 {
      font-size: 3rem;
      color: #fff;
      font-weight: 700;

    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.8);
      line-height: 150%;
      padding-right: 20%;
      padding-bottom: 30px;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      font-size: .9rem;
      font-weight: 600;
      line-height: 150%;
    }

    .get {
      color: #4353FF;
      background-color: #fff;
      border: 1px solid #fff;
      padding: 15px 35px;
      border-radius: 50px;

      &:hover {

        transition: linear .4s;
      }
    }

    .get1 {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 120%;

      .fa-play {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        color: #4353FF;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

  }


  /**---------- inner-header-bg scss ----------**/

  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    padding: 115px 0 0px 0;
    .hero-content {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .9rem;
        padding: 3% 12%;
        padding-left: 0;
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .hero-content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .9rem;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      .get {
        padding: 10px 25px;
      }

      .get1 {
        padding: 0;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    padding: 90px 0 60px 0;
    text-align: center;
    .hero-content {
      h1 {
        padding-top: 30px;
        font-size: 1.9rem;
      }

      p {
        font-size: .9rem;
        padding: 3% 10px;
      }
    }
    .radio-header-bg {
      padding-top: 35px;
      padding-bottom: 60px;
    }

  }
  /**---------- responsive-area scss end ----------**/
}

/**---------- radio-olayer-feature-area scss ----------**/
.page-template {
  background-color: #F9FAFF;
}

/**-----feature area------**/
#wp-feat {
  padding: 90px 0 60px 0;

  .unlimited {
    background: #fff;
    padding-top: 50px;
  }

  .sticky-player {
    background: #F9FAFF;
    padding-top: 50px;
  }

  .advanced {
    background: #EAFAFF;
    padding-top: 50px;

    .featuer-item-img {
      padding-right: 40px;
    }
  }

  .browser-st {
    padding-top: 50px;
  }

  .cun-list {
    padding-top: 50px;
  }

  .wp-feat-item {
    .featuer-item-img {
      padding-bottom: 60px;
    }

    .w-f-con {
      padding-top: 45px !important;
    }

    .wp-feat-content {
      padding-top: 120px;

      .file-text {
        span {
          font-weight: 700;
          font-size: 1.5rem;
          color: #4353FF;
          line-height: 120%;
        }

        h3 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 120%;
          color: #151826;
          padding-top: 15px;
          padding-bottom: 25px;
        }

        p {
          font-weight: 400;
          font-size: 1rem;
          color: #5c637e;
          line-height: 150%;
          padding-bottom: 28px;
          padding-right: 72px;
        }

        a {
          text-decoration: none;
          padding: 15px 35px;
          background-color: #4353FF;
          color: #fff;
          border-radius: 50px;
          font-weight: 600;
          font-size: 1rem;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
            border-color: transparent;
          }
        }
      }
    }
  }

  .feat-item-img {
    display: block;
  }

  .feat-item-img1 {
    display: none;
  }
}





