/**---------- products-Hero Area ----------**/
.wp-radio-hero-area {
  background: url("../images/wp-radio/home/hero-bg.png") no-repeat bottom / cover;
  padding: 200px 0;

  .hero-content {
    h1 {
      font-size: 3rem;
      color: #fff;
      font-weight: 700;

    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.8);
      line-height: 150%;
      padding-right: 20%;
      padding-bottom: 30px;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      font-size: .9rem;
      font-weight: 600;
      line-height: 150%;
    }

    .get {
      color: #4353FF;
      background-color: #fff;
      border: 1px solid #fff;
      padding: 15px 35px;
      border-radius: 50px;
      transition: all linear .4s;

      &:hover {
        background-color: #4353FF;
        border-color: #4353FF;
        color: #fff;
        transition: all linear .4s;
        border-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
      }
    }

    .get1 {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 120%;

      .fa-play {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        color: #4353FF;
        border-radius: 50%;
        margin-right: 10px;
        transition: all linear .4s;

        &:hover {
          background-color: #4353FF;
          border-color: #4353FF;
          color: #fff;
          transition: all linear .4s;
          border-color: transparent;
          box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
        }
      }
    }

    .radio-header-bg-mobile {
      display: none;
    }

  }

  .radio-header-bg {
    position: relative;

    .hero-how-butt {
      position: absolute;
      top: 43%;
      left: 46%;
      .my-btn-primary {
        i {
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.35) 100%);
          width: 80px;
          height: 80px;
          line-height: 80px;
          border-radius: 50%;
          border: 2px solid #BEAAC8;
          color: #fff;
          font-size: 25px;
          cursor: pointer;
        }
      }


      /**---------- popup video area scss start ----------**/
      .modal {
        top: 4%;
      }

      .modal-dialog {
        max-width: 950px;
        height: auto;
        margin: 1.75rem auto;

        .modal-content {
          background-color: transparent;
          border: none;

          .modal-header {
            border: none;

            .btn-close {
              background-color: #fff;
            }
          }

          .modal-body {
            iframe {
              border-radius: 10px;
            }
          }
        }
      }

      /**---------- popup video area scss end ----------**/
    }

    .ripple {
      text-decoration: none;
      color: #fff;
      width: 80px;
      height: 80px;
      background-color: #7249AC;
      border-radius: 50%;
      -webkit-animation: ripple 1s linear infinite;
      animation: ripple 1s linear infinite;
    }

    @-webkit-keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }

    @keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
        box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
      }

      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
        box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
      }
    }
  }

  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .hero-content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        margin-right: 2px;
      }

      .get {
        padding: 15px 18px;
      }
    }
  }

  @media (max-width: 767.68px) {
    padding: 100px 0 100px 0;

    .radio-header-bg {
      display: none;
    }

    .hero-content {
      text-align: center;
      margin-bottom: 50px;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        padding-right: 0;
      }

      a {
        margin-right: 0px;
      }

      .get {
        padding: 15px 18px;
      }

      .get1 {
        font-size: .9rem;
      }

      .radio-header-bg-mobile {
        display: block;
      }
    }
  }


}

/**-----feature area------**/
#wp-feat {
  padding: 90px 0 60px 0;

  .unlimited {
    background: #fff;
    padding-top: 50px;
  }

  .sticky-player {
    background: #F9FAFF;
    padding-top: 50px;
  }

  .advanced {
    background: #EAFAFF;
    padding-top: 50px;

    .featuer-item-img {
      padding-right: 40px;
    }
  }

  .browser-st {
    padding-top: 50px;
  }

  .cun-list {
    padding-top: 50px;
  }

  .wp-feat-item {
    .featuer-item-img {
      padding-bottom: 60px;
    }

    .featuer-item-img {
      display: block;
    }

    // .w-f-con {
    //   padding-top: 45px !important;
    // }

    .wp-feat-content {
      padding-top: 120px;

      .file-text {
        span {
          font-weight: 700;
          font-size: 1.5rem;
          color: #4353FF;
          line-height: 120%;
        }

        h3 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 120%;
          color: #151826;
          padding-top: 15px;
          padding-bottom: 25px;
        }

        p {
          font-weight: 400;
          font-size: 1rem;
          color: #5c637e;
          line-height: 150%;
          padding-bottom: 28px;
          padding-right: 72px;
        }

        a {
          text-decoration: none;
          padding: 15px 35px;
          background-color: #4353FF;
          color: #fff;
          border-radius: 50px;
          font-weight: 600;
          font-size: 1rem;

          &:hover {
            background-color: #fff;
            color: #4353FF;
            transition: all 0.3s ease-in-out;
            border-color: transparent;
            box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
          }
        }

        .featuer-item-img-mobile {
          display: none;
        }
      }
    }
  }



  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .wp-feat-item {
      .wp-feat-content {
        padding-top: 80px;

        .file-text {
          span {
            font-size: 1.2rem;
          }

          h3 {
            font-size: 1.5rem;
            padding-bottom: 5px;
          }

          p {
            padding-right: 0px;
            font-size: .785rem;
          }

          margin-bottom: 35px;
        }
      }

      .w-f-con {
        padding-top: 60px !important;
      }
    }

    .feat-item-img {
      img {
        padding-top: 30px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet
    padding: 60px 0 0 0;

    .wp-feat-item {
      .wp-feat-content {
        padding-top: 0px;

        .file-text {
          span {
            font-size: 1.2rem;
          }

          h3 {
            font-size: 1.5rem;
            padding-bottom: 5px;
          }

          p {
            padding-right: 0px;
            font-size: .785rem;
          }

          margin-bottom: 35px;
        }
      }

      .w-f-con {
        padding-top: 0px !important;
      }
    }

  }

  @media (max-width: 767.98px) {
    padding: 0px 0 60px 0;

    //Mobile

    .advanced {

      .featuer-item-img {
        padding-right: 0px;
      }
    }

    .wp-feat-item {
      .featuer-item-img {
        padding-bottom: 0;
      }

      .featuer-item-img {
        display: none;
      }

      // .w-f-con {
      //   padding-top: 0px !important;
      // }

      .wp-feat-content {
        padding-top: 10px;

        .file-text {
          margin-bottom: 60px;
          text-align: center;

          h3 {
            font-size: 1.5rem;
          }

          p {
            padding-right: 0;
            font-size: .9rem;
          }

          .featuer-item-img-mobile {
            display: block;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  /**---------- responsive-area scss end ----------**/
}

/**-----ex-feature area------**/
#ex-feat {
  background-color: #F9FAFF;
  padding: 90px 0 60px 0;

  .ex-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #4353FF;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 30px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  .ex-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 310px;
    transition: all linear .4s;

    &:hover {
      box-shadow: -20px 24px 60px rgba(0, 0, 0, 0.04);
      border-radius: 20px;

      img {
        transform: translateY(-8px);
      }
    }

    .item-logo {
      padding-bottom: 25px;
      transition: all linear .4s;
    }

    .ex-text {
      span {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        color: #151826;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        margin-top: 20px;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop
    padding: 0;

    .ex-head {
      h1 {
        margin: 0;
      }

      p {
        padding: 0;
      }
    }

    .ex-item {
      .ex-text {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .8rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .ex-head {
      p {
        padding: 0;
      }
    }

    .ex-item {
      .ex-text {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .8rem;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 0;

    //Mobile
    .ex-head {
      h1 {
        margin: 0;
        font-size: 1.5rem;
      }

      p {
        padding: 0 10px;
      }
    }

    .ex-item {
      height: auto;

      .ex-text {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .9rem;
        }
      }
    }
  }

  /**---------- responsive-area scss end ----------**/
}

/**-----testmonial area------**/
#testimonial {
  padding: 60px 0;
  background-color: #fff;

  .section-header {
    h2 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 40px;

      span {
        color: $wp_radio_color;
      }
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  .testimonial-rating {
    .star {
      .fa-star {
        color: #FF8F1E;
        font-size: 1.6rem;
        margin-right: 20px;
      }
    }

    .quote {
      .fa-quote-right {
        color: #6861FF;
        font-size: 1.8rem;
        background-color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .testimonial-item {
    background-color: #F9FAFF;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px !important;
    height: 350px;

    .content {
      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        font-style: italic;
        padding: 25px 0;
      }
    }
  }

  .testimonial-person {
    img {
      margin-right: 15px;
      border-radius: 50px;
    }

    .text {
      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
      }

      h6 {
        margin-top: 8px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  @media (max-width: 767.98px) {
    .section-header {
      h2 {
        font-size: 1.5rem;
        margin: 0;
      }

      p {
        font-size: .9rem;
        padding: 0;
      }
    }

    // .testimonial-item {
    //   &:last-child {
    //     display: none;
    //   }
    // }
    .testimonial-rating {
      .star {
        .fa-star {
          margin-right: 10px;
        }
      }

      .quote {
        .fa-quote-right {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 1.2rem;
        }
      }
    }
  }

}

/**-----funfact area------**/
#fun {
  padding: 60px 0 60px 0;

  .fun-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    .text {
      margin-left: 15px;

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
          margin-bottom: 0;
        }
      }

      h6 {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {

    //Laptop
    .fun-item {
      .text {
        .te-count {
          span {
            font-size: 1.5rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }

        h6 {
          font-size: .950rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    //Tablet
    .fun-item {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 767.98px) {

    //Mobile
    .fun-item {
      margin-bottom: 10px;

      img {
        margin-right: 7px;
        width: 31px;
        height: auto;
      }

      .text {
        .te-count {
          span {
            font-size: 1.2rem;
          }

          h5 {
            font-size: 1.2rem;
          }
        }

        h6 {
          font-size: .7rem;
        }
      }
    }
  }

  /**---------- responsive-area scss end ----------**/
}

/**----- Addons ------**/
.wp-radio-addons {
  padding: 60px 0 60px 0;

  .addons-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #4353FF;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  a {
    text-decoration: none;
  }

  .addon-item {
    padding: 30px 20px;
    border-radius: 20px;

    img {
      margin-bottom: 20px;
    }

    .addon-content {
      .addon-title {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 120%;
        color: #151826;
        text-transform: capitalize;
      }

      p {
        margin: 20px 0;
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
        line-height: 150%;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .addon-link {
        font-weight: 600;
        font-size: 1rem;
        color: #4353FF;
      }
    }

  }

  .addon-wp-radio-user-frontend {
    background-color: #FFF3DD;
  }

  .addon-wp-radio-proxy-player,
  .addon-wp-radio-image-import {
    background-color: #E1F6FE;
  }

  .addon-wp-radio-ads-player {
    background-color: #FFE8E7;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .addon-wp-radio-user-frontend {
      margin-bottom: 20px;

      .addon-item {
        .addon-content {
          p {
            margin: 10px 0;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .addons-head {
      p {
        font-size: .9rem;
        padding: 0;
        margin-bottom: 40px;
      }
    }

    .addon-item {
      margin-bottom: 15px;
    }
  }

}

/**----- CTA ------**/
#wp-radio-cta {
  background: url("../images/wp-radio/cta-shapes.png") no-repeat center, #4353FF;
  background-size: cover;
  padding: 80px 0;

  .cta-content {
    h3 {
      color: #fff;
      font-weight: bold;
      font-size: 2.5rem;
    }
  }

  .cta-actions {
    padding-top: 0;

    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      line-height: 19px;
      padding: 15px 36px;
      text-transform: capitalize;
    }

    .butt1 {
      margin: 0 15px;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 8px;
      transition: all linear .4s;

      &:hover {
        background-color: #fff;
        color: #4353FF;
        transition: all linear .4s;
        border-color: transparent;
      }
    }

    .butt2 {
      margin: 0 15px;
      background-color: #fff;
      color: #4353FF;
      border-radius: 8px;
      transition: all linear .4s;

      &:hover {
        background-color: #4353FF;
        color: #fff;
        transition: all linear .4s;
        border-color: transparent;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .cta-content {
      h3 {
        font-size: 2rem;
      }
    }

    .cta-actions {
      .butt2 {
        margin-bottom: 10px;
      }

      .butt1 {
        padding: 15px 42px;
      }
    }
  }

  @media (max-width: 767.98px) {
    .cta-content {
      h3 {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    .cta-actions {
      padding-top: 30px;
      text-align: center;

      a {
        font-size: 1rem;
        padding: 15px 20px;
      }

      .butt1 {
        margin: 0 1px;
      }

      .butt2 {
        margin: 0 1px;
      }
    }
  }
}