/**---------- products-Hero Area ----------**/
.wp-radio-hero-area {
  background: url("../images/wp-radio/home/head-bg-shapes.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 160px 0 100px 0;

  .hero-content {
    h1 {
      font-size: 3rem;
      color: #fff;
      font-weight: 700;

    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.8);
      line-height: 150%;
      padding-right: 20%;
      padding-bottom: 30px;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      font-size: .9rem;
      font-weight: 600;
      line-height: 150%;
    }

    .get {
      color: #4353FF;
      background-color: #fff;
      border: 1px solid #fff;
      padding: 15px 35px;
      border-radius: 50px;

      &:hover {

        transition: linear .4s;
      }
    }

    .get1 {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 120%;

      .fa-play {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        color: #4353FF;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

  }


  /**---------- inner-header-bg scss ----------**/

  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    padding: 115px 0 0px 0;
    .hero-content {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .9rem;
        padding: 3% 12%;
        padding-left: 0;
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .hero-content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .9rem;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      .get {
        padding: 10px 25px;
      }

      .get1 {
        padding: 0;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    padding: 90px 0 60px 0;
    text-align: center;
    .hero-content {
      h1 {
        padding-top: 30px;
        font-size: 1.9rem;
      }

      p {
        font-size: .9rem;
        padding: 3% 10px;
      }
    }
    .radio-header-bg {
      padding-top: 35px;
      padding-bottom: 60px;
    }

  }
  /**---------- responsive-area scss end ----------**/

}

/**---------- radio-olayer-feature-area scss ----------**/
.page-template {
  background-color: #F9FAFF;
}

/**-----feature area------**/
#wp-feat {
  padding: 90px 0 60px 0;

  .unlimited {
    background: #fff;
    padding-top: 50px;
  }

  .sticky-player {
    background: #F9FAFF;
    padding-top: 50px;
  }

  .advanced {
    background: #EAFAFF;
    padding-top: 50px;

    .featuer-item-img {
      padding-right: 40px;
    }
  }

  .browser-st {
    padding-top: 50px;
  }

  .cun-list {
    padding-top: 50px;
  }

  .wp-feat-item {
    .featuer-item-img {
      padding-bottom: 60px;
    }

    .w-f-con {
      padding-top: 45px !important;
    }

    .wp-feat-content {
      padding-top: 120px;

      .file-text {
        span {
          font-weight: 700;
          font-size: 1.5rem;
          color: #4353FF;
          line-height: 120%;
        }

        h3 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 120%;
          color: #151826;
          padding-top: 15px;
          padding-bottom: 25px;
        }

        p {
          font-weight: 400;
          font-size: 1rem;
          color: #5c637e;
          line-height: 150%;
          padding-bottom: 28px;
          padding-right: 72px;
        }

        a {
          text-decoration: none;
          padding: 15px 35px;
          background-color: #4353FF;
          color: #fff;
          border-radius: 50px;
          font-weight: 600;
          font-size: 1rem;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
            border-color: transparent;
          }
        }
      }
    }
  }

  .feat-item-img {
    display: block;
  }

  .feat-item-img1 {
    display: none;
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .wp-feat-item {
      .wp-feat-content {
        padding-top: 80px;

        .file-text {
          span {
            font-size: 1.2rem;
          }

          h3 {
            font-size: 1.5rem;
            padding-bottom: 5px;
          }

          p {
            padding-right: 0px;
            font-size: .785rem;
          }

          margin-bottom: 35px;
        }
      }

      .w-f-con {
        padding-top: 60px !important;
      }
    }
    .feat-item-img {
      img {
        padding-top: 30px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    padding: 60px 0 0 0;
    .wp-feat-item {
      .wp-feat-content {
        padding-top: 0px;

        .file-text {
          span {
            font-size: 1.2rem;
          }

          h3 {
            font-size: 1.5rem;
            padding-bottom: 5px;
          }

          p {
            padding-right: 0px;
            font-size: .785rem;
          }

          margin-bottom: 35px;
        }
      }

      .w-f-con {
        padding-top: 0px !important;
      }
    }

  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .feat-item-img {
      display: none;
    }
    .feat-item-img1 {
      display: block;
    }
    .advanced {

      .featuer-item-img {
        padding-right: 0px;
      }
    }
    .wp-feat-item {
      .featuer-item-img {
        padding-bottom: 0;
      }

      .wp-feat-content {
        .file-text {
          margin-bottom: 60px;
          text-align: center;

          p {
            padding-right: 0;
          }
        }
      }
    }
  }
  /**---------- responsive-area scss end ----------**/
}

/**-----ex-feature area------**/
#ex-feat {
  background-color: #F9FAFF;
  padding: 90px 0 60px 0;

  .ex-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #4353FF;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 30px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  .ex-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 310px;

    .ex-logo {
      padding-bottom: 25px;
    }

    .ex-text {
      span {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        color: #151826;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        margin-top: 20px;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    padding: 0;
    .ex-head {
      h1 {
        margin: 0;
      }

      p {
        padding: 0;
      }
    }
    .ex-item {
      .ex-text {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .8rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .ex-head {
      p {
        padding: 0;
      }
    }
    .ex-item {
      .ex-text {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .8rem;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .ex-head {
      h1 {
        margin: 0;
      }

      p {
        padding: 0 10px;
      }
    }
  }
  /**---------- responsive-area scss end ----------**/
}

/**-----testmonial area------**/
#testmonial {
  padding: 60px 0 60px 0;
  background-color: #fff;

  .testmonial-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #4353FF;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 40px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  .test-rating {
    .star {
      .fa-star {
        color: #FF8F1E;
        font-size: 1.6rem;
        margin-right: 20px;
      }
    }

    .quote {
      .fa-quote-right {
        color: #6861FF;
        font-size: 1.8rem;
        background-color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .items {
    margin-top: -70px;
  }

  .test-item {
    background-color: #F9FAFF;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;

    .content {
      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        font-style: italic;
        padding: 25px 0;
      }
    }
  }

  .test-peo {
    img {
      margin-right: 15px;
    }

    .text {
      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
        color: 150%;
      }

      h6 {
        margin-top: 8px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .testmonial-head {
      p {
        padding: 0 58px;
      }
    }
    .test-rating {
      .star {
        .fa-star {
          font-size: 1.2rem;
        }
      }

      .quote {
        .fa-quote-right {
          font-size: 1.4rem;

          width: 48px;
          height: 48px;
          line-height: 48px;

        }

      }

    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet

    .item2 {
      margin-top: -72px;
    }
    .item3 {
      margin-top: -140px;
    }
    .items {
      margin-top: 0;
    }
    .test-rating {
      .star {
        .fa-star {
          font-size: 1.4rem;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .testmonial-head {
      p {
        padding: 0;
      }
    }
    .items {
      margin-top: 0;
    }
  }
  /**---------- responsive-area scss end ----------**/

}

/**-----funfact area------**/
#fun {
  padding: 60px 0 60px 0;

  .fun-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    .text {
      margin-left: 15px;

      .te-count {
        span {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
        }

        h5 {
          font-weight: 700;
          font-size: 1.7rem;
          line-height: 120%;
          color: #000;
          margin-bottom: 0;
        }
      }

      h6 {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .fun-item {
      .text {
        .te-count {
          span {
            font-size: 1.5rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }

        h6 {
          font-size: .950rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .fun-item {
      margin-bottom: 25px;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .fun-item {
      .text {
        .te-count {
          span {
            font-size: 1.2rem;
          }

          h5 {
            font-size: 1.2rem;
          }
        }

        h6 {
          font-size: .7rem;
        }
      }
    }
  }
  /**---------- responsive-area scss end ----------**/
}

/**-----solution area------**/
#addons {
  padding: 60px 0 60px 0;

  .addons-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #4353FF;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  a {
    text-decoration: none;
  }

  .addon-item {
    background-color: #FFF3DD;
    padding: 20px;
    border-radius: 20px;

    img {
      margin-bottom: 20px;
    }

    .add {
      span {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 120%;
        color: #151826;
        text-transform: capitalize;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
        line-height: 150%;
        padding: 20px 0;
        margin-bottom: 0;
      }

      h5 {

        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        color: #4353FF;
      }
    }

  }

  .add-item1 {
    background-color: #E1F6FE;
  }

  .add-item2 {
    background-color: #FFE8E7;
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    //Laptop
    .addons-head {
      p {
        padding: 0;
      }
    }
    .addon-item {
      .add {
        span {
          font-size: 1.2rem;
        }

        p {
          font-size: .9rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    //Tablet
    .addon-item {
      margin-bottom: 25px;
    }
    .addons-head {
      p {
        padding: 0;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    //Mobile
    .addons-head {
      p {
        padding: 0;
        margin-bottom: 30px;
      }
    }
    .addon-item {
      margin-bottom: 25px;
    }
  }
  /**---------- responsive-area scss end ----------**/

}

/**----- CTA ------**/
.wp-radio-cta {
  background: url("../images/wp-radio/cta-bg.png") no-repeat center, #4353FF;
  background-size: cover;
  padding: 80px 0;

  .cta-content {
    h3 {
      color: #fff;
      font-weight: bold;
      font-size: 2.5rem;
    }
  }

  .cta-actions {
    padding-top: 0;

    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      line-height: 19px;
      text-transform: capitalize;
    }

    .butt1 {
      margin: 0 15px;
      border: 1px solid #fff;
      padding: 15px 36px;
      color: #fff;
      border-radius: 8px;
    }

    .butt2 {
      margin: 0 15px;
      background-color: #fff;
      padding: 15px 36px;
      color: #4353FF;
      border-radius: 8px;
    }
  }
}



