/**---------- user frontend-Hero Area ----------**/
.demo-hero-area {
  background: url("../images/wp-radio/home/user-frontend/hero-shapes.png"), #FEF7EA;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 100px 0;

  .hero-content {
    span {
      color: #F3AD2E;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 120%;
    }

    h1 {
      font-size: 3.6rem;
      color: #151826;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: #5c637e;
      line-height: 150%;
      padding-right: 20%;
      padding-bottom: 30px;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      font-size: .9rem;
      font-weight: 600;
      line-height: 150%;
      padding: 15px 35px;
    }

    .get {
      color: #fff;
      background-color: #F3AD2E;
      border: 1px solid #F3AD2E;
      
      border-radius: 50px;

      transition: all linear .4s;
      &:hover{
        background-color: #fff;
        color: #F3AD2E;
        transition: all linear .4s;
      }
    }

    .get2 {
      color: #F3AD2E;
      border: 1px solid #F3AD2E;
      border-radius: 50px;
      transition: all linear .4s;
      &:hover{
        background-color: #F3AD2E;
        color: #fff;
        transition: all linear .4s;
      }
    }

    .radio-header-bg-mobile {
      display: none;
    }

  }

  .radio-header-bg {
    display: block;
  }

  /**---------- inner-header-bg scss ----------**/

  .inner-header-bg {
    img {
      padding-bottom: 25%;
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop
    padding: 115px 0 0px 0;
    .hero-content {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: .9rem;
        padding: 3% 12%;
        padding-left: 0;
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet
    .hero-content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .9rem;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      .get {
        padding: 10px 25px;
      }

      .get2 {
        padding: 10px 25px;
      }
    }
  }

  @media (max-width: 767.98px) {
    //Mobile
    padding: 90px 0 60px 0;
    text-align: center;
    .hero-content {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .9rem;
        padding: 0 10px;
        margin-bottom: 45px;
      }
      a {
        padding: 10px 15px;
        margin: 0;
      }
      .radio-header-bg-mobile {
        display: block;
        padding: 30px 0;
      }
    }
    .radio-header-bg {
      padding-top: 35px;
      display: none;
    }

  }
  /**---------- responsive-area scss end ----------**/

}

/**---------- radio-olayer-feature-area scss ----------**/
.page-template {
  background-color: #F9FAFF;
}

/**----- Features ------**/
#wp-radio-user-frontend-features {
  padding: 100px 0;
  background-color: #fff;

  .feature-item-img {
    display: block;
  }

  .feature-item {
    margin: 120px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-content {
      span {
        font-weight: 700;
        font-size: 1.5rem;
        color: #F3AD2E;
        line-height: 120%;
      }

      h3 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: #151826;
        padding-top: 15px;
        padding-bottom: 25px;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
      }

      a {
        text-decoration: none;
        padding: 15px 35px;
        background-color: #F3AD2E;
        color: #fff;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1rem;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.201) 0px 2px 8px 0px;
          border-color: transparent;
        }
      }
      .feature-item-img-mobile {
        display: none;
      }
    }
  }
  @media (max-width: 767.98px) {
    padding: 50px 0;
    .feature-item {
      margin: 60px 0;
    }
    .feature-item-content {
      padding-top: 30px;
      text-align: center;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: .9rem;
      }
      .feature-item-img-mobile {
        display: block;
        padding-bottom: 30px;
      }
    }
    .feature-item-img {
      display: none;
    }
  }
}

/**-----testmonial area------**/
#user-testmonial {
  padding: 60px 0 60px 0;
  background-color: #fff;

  .testmonial-head {
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: #F3AD2E;
      line-height: 120%;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #151826;
      padding-top: 15px;
      padding-bottom: 25px;
      margin: 0 40px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #5c637e;
      line-height: 150%;
      padding-bottom: 28px;
      padding: 0 72px;
      margin-bottom: 60px;
    }
  }

  .test-rating {
    .star {
      .fa-star {
        color: #FF8F1E;
        font-size: 1.6rem;
        margin-right: 20px;
      }
    }

    .quote {
      .fa-quote-right {
        color: #FF8F1E;
        font-size: 1.8rem;
        background-color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .test-item {
    background-color: #FEF7EA;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    height: 350px;
    .content {
      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #5c637e;
        font-style: italic;
        padding: 25px 0;
      }
    }
  }

  .test-peo {
    img {
      margin-right: 15px;
      border-radius: 50px;
    }

    .text {
      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
        color: 150%;
      }

      h6 {
        margin-top: 8px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: .8rem;
        line-height: 150%;
        color: #5c637e;
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop
    .testmonial-head {
      h1 {
        margin: 0;
      }

      p {
        padding: 0;
      }
    }
    .test-rating {
      .star {
        .fa-star {
          font-size: 1.2rem;
        }
      }

      .quote {
        .fa-quote-right {
          font-size: 1.4rem;

          width: 48px;
          height: 48px;
          line-height: 48px;

        }

      }

    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet

    .item2 {
      margin-top: -72px;
    }
    .item3 {
      margin-top: -140px;
    }
    .items {
      margin-top: 0;
    }
    .test-rating {
      .star {
        .fa-star {
          font-size: 1.4rem;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    //Mobile
    padding: 0 0 60px 0;
    .testmonial-head {
      h1 {
        margin: 0;
        font-size: 1.5rem;
      }
      p {
        padding: 0;
        font-size: .9rem;
      }
    }
    .items {
      margin-top: 0;
    }
    .test-rating {
      .star {
        .fa-star {
          margin-right: 10px;
        }
      }
    }
  }

  /**---------- responsive-area scss end ----------**/
}

/**----- CTA ------**/
#cta-user-frontend {
  padding: 100px 0;
  background-color: #fff;

  .option {
    background-color: #F9FAFB;
    padding: 50px;
    border-radius: 30px;

    .add-text {
      h3 {
        font-weight: 700;
        font-size: 2rem;
        color: #151826;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: #5c637e;
        margin-top: 1rem;
      }
    }

    .add-but {
      a {
        text-decoration: none;
        padding: 15px 36px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1rem;
        text-transform: capitalize;
      }

      .bt {
        color: #F3AD2E;
        border: 1px solid #F3AD2E;
        transition: all linear .4s;
        &:hover{
          background-color: #F3AD2E;
          color: #fff;
          transition: all linear .4s;
        }
      }

      .bt1 {
        background-color: #F3AD2E;
        color: #fff;
        margin-left: 25px;
        transition: all linear .4s;
        &:hover{
          background-color: #fff;
          color: #F3AD2E;
          transition: all linear .4s;
        }
      }
    }
  }

  /**---------- responsive-area scss start ----------**/
  @media (min-width: 1200px) {
    //Extra large
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    //Laptop

  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    //Tablet
    .option {
      .add-text {
        span {
          font-size: 1rem;
        }

        p {
          font-size: .785rem;
        }
      }

      .add-but {
        a {
          padding: 10px 23px;
          font-size: .785rem;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 0 0 60px 0;
    //Mobile
    .option {
      text-align: center;
      padding: 20px;
      .add-text {
        margin-top: 20px;

        h3 {
          font-size: 1.5rem;
        }

        p {
          padding-bottom: 40px;
        }
      }

      .add-but {
        margin-bottom: 25px;
        text-align: center!important;
        a {
          padding: 10px 15px;
        }
      }
    }
  }
  /**---------- responsive-area scss end ----------**/
}


