<partial src="integrate-google-drive/header.html"></partial>
<partial src="integrate-google-drive/home/hero-area.html"></partial>
<partial src="integrate-google-drive/home/feature-area.html"></partial>
<partial src="integrate-google-drive/home/full-woocommerce.html"></partial>
<partial src="integrate-google-drive/home/ex-feature.html"></partial>
<partial src="integrate-google-drive/home/how-to-use.html"></partial>
<partial src="integrate-google-drive/home/people-think.html"></partial>

<partial src="integrate-google-drive/footer.html"></partial>